<div class="card bg-light rounded-2">
  <div class="card-header border-bottom bg-light">
    <h5 class="card-title mb-0">Fare Summary</h5>
  </div>

  <div class="card-body">
    <ul class="list-group list-group-borderless">
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <span class="h6 fw-normal mb-0"
          >Base Fare
          <a
            href="javascript:void(0);"
            tabindex="0"
            data-bs-trigger="focus"
            placement="bottom"
            ngbPopover="COVID-19 test required Vaccinated travelers can visit"
          >
            <i class="bi bi-info-circle"></i>
          </a>
        </span>
        <span class="fs-5">{{ currencyType }}38,660</span>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <span class="h6 fw-normal mb-0">Discount</span>
        <span class="fs-6 text-success">+{{ currencyType }}2,560</span>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <span class="h6 fw-normal mb-0">Other Services</span>
        <span class="fs-5">{{ currencyType }}20</span>
      </li>
    </ul>
  </div>

  <div class="card-footer border-top bg-light">
    <div class="d-flex justify-content-between align-items-center">
      <span class="h5 fw-normal mb-0">Total Fare</span>
      <span class="h5 fw-normal mb-0">{{ currencyType }}36,500</span>
    </div>
  </div>
</div>
