<pricing-topbar />

<main>
  <!-- =======================
Main banner START -->
  <pricing-plans />
  <!-- =======================
Main banner END -->

  <!-- =======================
Client START -->
  <pricing-clients />
  <!-- =======================
Client END -->

  <!-- =======================
Faq START -->
  <pricing-faqs />
  <!-- =======================
Faq END -->

  <!-- =======================
Action box START -->
  <pricing-actionbox />
  <!-- =======================
Action box END -->
</main>
<pricing-footer1 />
