<header class="navbar-light py-3">
  <nav class="navbar navbar-expand-lg">
    <div class="container d-block">
      <div class="row align-items-center">
        <div class="col-4">
          <a class="navbar-brand" routerLink="/">
            <img
              class="light-mode-item navbar-brand-item d-inline h-40px h-md-60px"
              src="assets/images/logo-hotel.svg"
              alt="logo"
            />
            <img
              class="dark-mode-item navbar-brand-item d-inline h-40px h-md-60px"
              src="assets/images/logo-hotel-light.svg"
              alt="logo"
            />
          </a>
        </div>

        <div class="col-8">
          <!-- Navbar top Right-->
          <div class="align-items-center justify-content-end d-none d-lg-flex">
            <ul class="nav border-bottom">
              <li ngbDropdown class="dropdown nav-item">
                <a
                  class="nav-link small pb-2 arrow-none"
                  ngbDropdownToggle
                  role="button"
                  id="languageDropdown"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  ><i class="bi bi-globe fa-fw me-2"></i>Language</a
                >
                <ul
                  ngbDropdownMenu
                  class="dropdown-menu dropdown-animation dropdown-menu-end min-w-auto"
                  aria-labelledby="languageDropdown"
                >
                  @for (item of flags; track $index) {
                    <li>
                      <a class="dropdown-item me-4" href="javascript:void(0);"
                        ><img
                          class="fa-fw me-2"
                          [src]="item.flagImg"
                          alt=""
                        />{{ item.name }}</a
                      >
                    </li>
                  }
                </ul>
              </li>
              <li class="nav-item">
                <a routerLink="/user/bookings" class="nav-link small pb-2"
                  ><i class="bi bi-briefcase me-2"></i>My Trip</a
                >
              </li>
              <li class="nav-item">
                <a routerLink="/help/center" class="nav-link small pb-2"
                  ><i class="bi bi-info-circle me-2"></i>Help</a
                >
              </li>
              <li class="nav-item">
                <a routerLink="/auth/sign-in" class="nav-link small pb-2"
                  ><i class="far fa-user me-2"></i>Sign In or Login</a
                >
              </li>

              <app-theme-switcher
                btnclassName="btn btn-link text-warning lh-3"
              />
            </ul>
          </div>

          <div class="d-sm-flex align-items-center justify-content-end">
            <div class="navbar-collapse collapse" id="navbarCollapse">
              <ul class="navbar-nav navbar-nav-scroll ms-auto">
                <li class="nav-item dropdown dropdown-fullwidth">
                  <a
                    class="nav-link dropdown-toggle"
                    href="javascript:void(0);"
                    id="hotelMenu"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Find a hotel</a
                  >
                  <div class="dropdown-menu" aria-labelledby="hotelMenu">
                    <div class="container">
                      <div class="row g-4 justify-content-between p-lg-3">
                        <div class="col-lg-5">
                          <h6 class="mb-3">
                            <i class="bi bi-pin-map-fill text-primary me-2"></i
                            >Destination
                          </h6>
                          <hr class="my-2" />
                          <div class="row">
                            @for (
                              data of hotelDestinations;
                              track $index;
                              let odd = $odd
                            ) {
                              <div class="col-lg-6">
                                <ul class="list-unstyled">
                                  <li>
                                    <a
                                      class="dropdown-item"
                                      href="javascript:void(0);"
                                      >{{ data }}</a
                                    >
                                  </li>
                                </ul>
                              </div>
                            }
                          </div>
                        </div>

                        <div class="col-lg-3">
                          <h6 class="mb-3">
                            <i class="bi bi-list-ul text-primary me-2"></i>Hotel
                            type
                          </h6>
                          <hr class="my-2" />
                          <ul class="list-unstyled">
                            @for (data of hotelTypes; track $index) {
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  >{{ data }}</a
                                >
                              </li>
                            }
                          </ul>
                        </div>

                        <div class="col-lg-3">
                          <h6 class="mb-3">
                            <i class="bi bi-grid-3x3-gap text-primary me-2"></i
                            >Category
                          </h6>
                          <hr class="my-2" />
                          <ul class="list-unstyled">
                            @for (data of categoryList; track $index) {
                              <li>
                                <a
                                  class="dropdown-item"
                                  href="javascript:void(0);"
                                  ><i
                                    class="fa-solid {{ data.icon }} fa-fw me-2"
                                  ></i
                                  >{{ data.name }}</a
                                >
                              </li>
                            }
                          </ul>
                        </div>

                        <div class="col-12">
                          <div
                            class="card overflow-hidden"
                            style="
                              background-image: url(assets/images/bg/05.jpg);
                              background-position: center left;
                              background-size: cover;
                            "
                          >
                            <div class="bg-overlay bg-dark opacity-5"></div>
                            <div
                              class="card-body d-lg-flex justify-content-between align-items-center position-relative z-index-9"
                            >
                              <div class="mb-3 mb-lg-0">
                                <h5 class="text-white">
                                  Enjoy Great Times with us
                                </h5>
                                <ul class="list-inline">
                                  <li class="list-inline-item text-white me-2">
                                    <i class="bi bi-patch-check-fill me-1"></i
                                    >Get 1000 bonus points on every stay
                                  </li>
                                  <li class="list-inline-item text-white me-2">
                                    <i class="bi bi-patch-check-fill me-1"></i
                                    >Earn through Dec 15
                                  </li>
                                  <li class="list-inline-item text-white">
                                    <i class="bi bi-patch-check-fill me-1"></i
                                    >Redeem for free night and more
                                  </li>
                                </ul>
                              </div>

                              <a
                                href="javascript:void(0);"
                                class="btn btn-white mb-0"
                                >Register Now</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li ngbDropdown class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    ngbDropdownToggle
                    id="pagesFacilities"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Hotel Facilities</a
                  >
                  <ul
                    ngbDropdownMenu
                    class="dropdown-menu"
                    aria-labelledby="pagesFacilities"
                  >
                    @for (data of hotelFacilities; track $index) {
                      <li>
                        <a class="dropdown-item" href="javascript:void(0);">{{
                          data
                        }}</a>
                      </li>
                    }
                  </ul>
                </li>
              </ul>
            </div>

            <div class="d-flex align-items-center justify-content-end">
              <vertical-menu-button />

              <div
                ngbDropdown
                [autoClose]="false"
                class="nav-item dropdown form-control-bg-light"
              >
                <a
                  ngbDropdownToggle
                  class="btn btn-sm btn-primary mb-0 arrow-none"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  data-bs-auto-close="outside"
                >
                  Book a stay <i class="fa-solid fa-angle-down"></i>
                </a>

                <div
                  ngbDropdownMenu
                  class="dropdown-menu dropdown-animation dropdown-menu-end dropdown-menu-size-md p-0 mt-2"
                >
                  <div class="card">
                    <div class="card-header border-bottom">
                      <h6 class="mb-0">Search your Destination</h6>
                    </div>

                    <div class="card-body">
                      <div class="row g-3">
                        <div class="col-12">
                          <label class="form-label mb-0"
                            >Hotel or Destination</label
                          >
                          <select
                            selectFormInput
                            class="form-select js-choice"
                            data-search-enabled="true"
                            aria-label=".form-select-sm"
                          >
                            <option value="">Select location</option>
                            <option>San Jacinto, USA</option>
                            <option>North Dakota, Canada</option>
                            <option>West Virginia, Paris</option>
                          </select>
                        </div>

                        <div class="col-md-6">
                          <label class="form-label mb-0">Check in</label>
                          <input
                            mwlFlatpickr
                            type="text"
                            class="form-control flatpickr"
                            data-date-format="d M Y"
                            placeholder="Select date"
                          />
                        </div>

                        <div class="col-md-6">
                          <label class="form-label mb-0">Check out</label>
                          <input
                            mwlFlatpickr
                            type="text"
                            class="form-control flatpickr"
                            data-date-format="d M Y"
                            placeholder="Select date"
                          />
                        </div>

                        <div class="col-12">
                          <label class="form-label mb-0">Guests & rooms</label>
                          <div ngbDropdown class="dropdown guest-selector me-2">
                            <input
                              ngbDropdownToggle
                              type="text"
                              class="form-guest-selector form-control selection-result"
                              [value]="getGuestsValue()"
                              data-bs-auto-close="outside"
                              data-bs-toggle="dropdown"
                            />

                            <ul
                              ngbDropdownMenu
                              class="dropdown-menu guest-selector-dropdown"
                            >
                              <li class="d-flex justify-content-between">
                                <div>
                                  <h6 class="mb-0">Adults</h6>
                                  <small>Ages 13 or above</small>
                                </div>

                                <div class="hstack gap-1 align-items-center">
                                  <button
                                    type="button"
                                    class="btn btn-link adult-remove p-0 mb-0"
                                    (click)="updateGuests('adults', false)"
                                  >
                                    <i class="bi bi-dash-circle fs-5 fa-fw"></i>
                                  </button>
                                  <h6 class="guest-selector-count mb-0 adults">
                                    {{ formValue.guests.adults }}
                                  </h6>
                                  <button
                                    type="button"
                                    class="btn btn-link adult-add p-0 mb-0"
                                    (click)="updateGuests('adults')"
                                  >
                                    <i class="bi bi-plus-circle fs-5 fa-fw"></i>
                                  </button>
                                </div>
                              </li>

                              <li class="dropdown-divider"></li>

                              <li class="d-flex justify-content-between">
                                <div>
                                  <h6 class="mb-0">Child</h6>
                                  <small>Ages 13 below</small>
                                </div>

                                <div class="hstack gap-1 align-items-center">
                                  <button
                                    type="button"
                                    class="btn btn-link child-remove p-0 mb-0"
                                    (click)="updateGuests('children', false)"
                                  >
                                    <i class="bi bi-dash-circle fs-5 fa-fw"></i>
                                  </button>
                                  <h6 class="guest-selector-count mb-0 child">
                                    {{ formValue.guests.children }}
                                  </h6>
                                  <button
                                    type="button"
                                    class="btn btn-link child-add p-0 mb-0"
                                    (click)="updateGuests('children')"
                                  >
                                    <i class="bi bi-plus-circle fs-5 fa-fw"></i>
                                  </button>
                                </div>
                              </li>

                              <li class="dropdown-divider"></li>

                              <li class="d-flex justify-content-between">
                                <div>
                                  <h6 class="mb-0">Rooms</h6>
                                  <small>Max room 8</small>
                                </div>

                                <div class="hstack gap-1 align-items-center">
                                  <button
                                    type="button"
                                    class="btn btn-link room-remove p-0 mb-0"
                                    (click)="updateGuests('rooms', false)"
                                  >
                                    <i class="bi bi-dash-circle fs-5 fa-fw"></i>
                                  </button>
                                  <h6 class="guest-selector-count mb-0 rooms">
                                    {{ formValue.guests.rooms }}
                                  </h6>
                                  <button
                                    type="button"
                                    class="btn btn-link room-add p-0 mb-0"
                                    (click)="updateGuests('rooms')"
                                  >
                                    <i class="bi bi-plus-circle fs-5 fa-fw"></i>
                                  </button>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <div class="col-12 text-center">
                          <a
                            href="javascript:void(0);"
                            class="text-primary-hover text-decoration-underline"
                            >Have a promo code?</a
                          >
                          <button class="btn btn-primary-soft w-100 mt-3 mb-0">
                            Check Availability
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
