<!-- =======================
About START -->
<section class="py-0 py-lg-7">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12">
        <h2>
          We always provide the best for our hotel visitors. We are happy to
          help you.
        </h2>
        <p class="mb-0">
          We focus a great deal on the understanding of behavioral psychology
          and influence triggers which are crucial for becoming a well-rounded
          Digital Marketer. We understand that theory is important to build a
          solid foundation, we understand that theory alone isn't going to get
          the job done.
        </p>
      </div>
    </div>

    <div class="row g-4">
      <div class="col-xl-4">
        <div
          class="card card-body bg-primary bg-opacity-10 vstack gap-4 justify-content-center h-100 p-4"
        >
          <div class="d-flex justify-content-between align-items-center">
            <h3
              class="purecounter text-primary mb-0"
              [countUp]="10"
              [options]="{ startVal: 0 }"
            >
              0
            </h3>
            <h6 class="fw-normal mb-0">Total Hotels</h6>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-center me-3">
              <h3
                class="purecounter text-primary mb-0"
                [countUp]="200"
                [options]="{ startVal: 0 }"
              >
                0
              </h3>
              <span class="h3 text-primary mb-0">+</span>
            </div>
            <h6 class="fw-normal mb-0">Total Staff</h6>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-center me-3">
              <h3
                class="purecounter text-primary mb-0"
                [countUp]="50"
                [options]="{ startVal: 0 }"
              >
                0
              </h3>
              <span class="h3 text-primary mb-0">+</span>
            </div>
            <h6 class="fw-normal mb-0">Amazing Services</h6>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4">
        <div class="card overflow-hidden">
          <img src="assets/images/about/07.jpg" class="rounded-3" alt="" />

          <div class="w-100 h-100">
            <button
              class="btn btn-dark position-absolute top-50 start-50 translate-middle mb-0"
              data-bs-toggle="modal"
              (click)="open(map360)"
              data-bs-target="#map360"
            >
              <i class="bi bi-eye me-2"></i>View 360
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-xl-4">
        <ul class="list-group list-group-borderless">
          <li class="list-group-item py-3">
            <h6 class="mb-0 fw-normal">
              <i class="bi bi-cash-coin fa-fw text-info me-2"></i>Best Rate
              Guaranteed
            </h6>
          </li>

          <li class="list-group-item py-3">
            <h6 class="mb-0 fw-normal">
              <i class="bi bi-credit-card-2-back fa-fw text-warning me-2"></i
              >Payment at Hotel
            </h6>
          </li>

          <li class="list-group-item py-3">
            <h6 class="mb-0 fw-normal">
              <i class="bi bi-wallet fa-fw text-success me-2"></i>Exclusive
              Members Rewards
            </h6>
          </li>

          <li class="list-group-item py-3">
            <h6 class="mb-0 fw-normal">
              <i class="bi bi-wifi fa-fw text-danger me-2"></i>WIFI Access
            </h6>
          </li>

          <li class="list-group-item pt-3 pb-0">
            <h6 class="mb-0 fw-normal">
              <i class="bi bi-tags fa-fw text-orange me-2"></i>No Hidden Changes
            </h6>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- =======================
About END -->

<ng-template
  #map360
  let-modal
  class="modal fade"
  id="map360"
  aria-hidden="true"
>
  <div class="modal-header">
    <h5 class="modal-title" id="map360label">Hotel 360 View</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.close()"
    ></button>
  </div>

  <div class="modal-body p-3">
    <iframe
      src="https://www.google.com/maps/embed?pb=!4v1664190302197!6m8!1m7!1sgWjBbRwH2wMmQTbvyZwkGw!2m2!1d51.49712857925994!2d-0.1593322776188391!3f348.1837813715552!4f17.07463868756892!5f0.8485845663286693"
      width="100%"
      height="400"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</ng-template>
