<section class="pt-0">
  <div class="container vstack gap-4">
    <div class="row">
      <div class="col-12">
        <h1 class="fs-4 mb-0"><i class="bi bi-gear fa-fw me-1"></i>Settings</h1>
      </div>
    </div>

    <div class="row g-4">
      <div class="col-12">
        <div class="bg-light pb-0 px-2 px-lg-0 rounded-top">
          <ul ngbNav #nav="ngbNav" class="nav nav-tabs nav-bottom-line nav-responsive border-0 nav-justified" role="tablist">
            <li class="nav-item" ngbNavItem>
              <a class="nav-link mb-0" ngbNavLink data-bs-toggle="tab" href="#tab-1"><i class="fas fa-cog fa-fw me-2"></i>Edit Profile</a>
              <ng-template ngbNavContent>
                <div class="tab-pane show active" id="tab-1">
                  <div class="row g-4">
                    <div class="col-12">
                      <div class="card border">
                        <div class="card-header border-bottom">
                          <h5 class="card-header-title">Edit Profile</h5>
                        </div>
                        <div class="card-body">
                          <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input type="text" class="form-control" value="Jacqueline Miller" placeholder="Name" />
                          </div>

                          <div class="mb-3">
                            <label class="form-label">Profile picture</label>

                            <div class="d-flex align-items-center">
                              <label class="position-relative me-4" for="uploadfile-1" title="Replace this pic">
                                <span class="avatar avatar-xl">
                                  <img id="uploadfile-1-preview" class="avatar-img rounded-circle border border-white border-3 shadow" src="assets/images/avatar/01.jpg" alt="" />
                                </span>
                              </label>

                              <label class="btn btn-sm btn-primary-soft mb-0" for="uploadfile-1">Change</label>
                              <input id="uploadfile-1" class="form-control d-none" type="file" />
                            </div>
                          </div>

                          <div class="mb-3">
                            <label class="form-label">Email id</label>
                            <input type="email" class="form-control" value="hello@gmail.com" placeholder="Enter your email id" />
                          </div>

                          <div class="mb-3">
                            <label class="form-label">Mobile number</label>
                            <input type="text" class="form-control" value="222 555 666" placeholder="Enter your mobile number" />
                          </div>

                          <div class="mb-3">
                            <label class="form-label">Location</label>
                            <input class="form-control" type="text" value="New Hampshire" />
                          </div>

                          <div>
                            <label class="form-label">Birthday</label>
                            <input type="text" class="form-control flatpickr" value="29 Aug 1994" placeholder="Enter your birth-date" data-date-format="d M Y" />
                          </div>

                          <div class="d-flex justify-content-end mt-4">
                            <a href="javascript:void(0);" class="btn text-secondary border-0 me-2">Discard</a>
                            <a href="javascript:void(0);" class="btn btn-primary">Save change</a>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="card border">
                        <div class="card-header border-bottom">
                          <h5 class="card-header-title">Update Email</h5>
                          <p class="mb-0 small">
                            Your current email address is
                            <span class="text-primary">example&#64;gmail.com</span>
                          </p>
                        </div>
                        <form class="card-body" [formGroup]="updateEmail">
                          <label class="form-label">Enter your new email id</label>
                          <input type="email" class="form-control" formControlName="email" [ngClass]="{
                              'is-invalid':
                                updateEmail.get('email')?.errors &&
                                formSubmitted
                            }" placeholder="Enter your email id" />
                          <div class="invalid-feedback">
                            Please enter your email
                          </div>
                          <div class="text-end mt-3">
                            <a href="javascript:void(0);" (click)="emailSubmit()" class="btn btn-primary mb-0">Save Email</a>
                          </div>
                        </form>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="card border">
                        <div class="card-header border-bottom">
                          <h5 class="card-header-title">Update Password</h5>
                          <p class="mb-0 small">
                            Your current email address is
                            <span class="text-primary">example&#64;gmail.com</span>
                          </p>
                        </div>

                        <form class="card-body" [formGroup]="updatePasswords">
                          <div class="mb-3">
                            <label class="form-label">Current password</label>
                            <div class="input-group">
                              <input class="form-control" type="{{
                                  isShowPassword ? 'text' : 'password'
                                }}" formControlName="currentPassword" [ngClass]="{
                                  'is-invalid':
                                    updatePasswords.get('currentPassword')
                                      ?.errors && formSubmit
                                }" type="password" placeholder="Enter current password" />
                              <span class="input-group-text p-0 bg-transparent">
                                <i class="fakepasswordicon fas cursor-pointer p-2" type="password" (click)="isShowPassword = !isShowPassword" [ngClass]="
                                    isShowPassword ? 'fa-eye' : 'fa-eye-slash'
                                  "></i>
                              </span>
                              <div class="invalid-feedback">
                                Please enter your current password
                              </div>
                            </div>
                          </div>

                          <div class="mb-3">
                            <label class="form-label">
                              Enter new password</label>
                            <div class="input-group">
                              <input type="{{
                                  isShowPassword1 ? 'text' : 'password'
                                }}" formControlName="password" [ngClass]="{
                                  'is-invalid':
                                    updatePasswords.get('password')?.errors &&
                                    formSubmit
                                }" class="form-control fakepassword" type="password" id="psw-input" placeholder="Enter new password" />
                              @if (
                              (updatePasswords.get('confirmpassword')
                              ?.touched &&
                              updatePasswords.errors?.['notSame']) ||
                              (!formSubmit && form['password'].errors)
                              ) {
                              <span class="input-group-text p-0 bg-transparent">
                                <i class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2" (click)="isShowPassword1 = !isShowPassword1" [ngClass]="
                                      isShowPassword1
                                        ? 'fa-eye'
                                        : 'fa-eye-slash'
                                    "></i>
                              </span>
                              }
                              <div class="invalid-feedback">
                                Please enter your new password
                              </div>
                            </div>
                          </div>

                          <div>
                            <label class="form-label">Confirm new password</label>
                            <div class="input-group">
                              <input class="form-control" type="{{
                                  isShowPassword2 ? 'text' : 'password'
                                }}" formControlName="confirmpassword" [ngClass]="{
                                  'is-invalid':
                                    updatePasswords.get('confirmpassword')
                                      ?.touched &&
                                    updatePasswords.errors?.['notSame']
                                }" type="password" placeholder="Confirm new password" />
                              @if (
                              !formSubmit && form['confirmpassword'].errors
                              ) {
                              <span class="input-group-text p-0 bg-transparent">
                                <i class="fakepasswordicon fas cursor-pointer p-2" type="password" (click)="isShowPassword2 = !isShowPassword2" [ngClass]="
                                      isShowPassword2
                                        ? 'fa-eye'
                                        : 'fa-eye-slash'
                                    "></i>
                              </span>
                              }
                              <div class="invalid-feedback">
                                New password and confirm password doesn't match
                              </div>
                            </div>
                          </div>

                          <div class="text-end mt-3">
                            <a href="javascript:void(0);" (click)="onSubmit()" class="btn btn-primary mb-0">Change Password</a>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem>
              <a class="nav-link mb-0" ngbNavLink data-bs-toggle="tab" href="#tab-2"><i class="fas fa-bell fa-fw me-2"></i>Notification Settings</a>
              <ng-template ngbNavContent>
                <div class="tab-pane" id="tab-2">
                  <div class="card border mb-4">
                    <div class="card-header bg-transparent border-bottom">
                      <h5 class="card-header-title">Notification Settings</h5>
                      <p class="mb-0">
                        Figure what you want to be notified about, and
                        unsubscribe from what you don't.
                      </p>
                    </div>

                    <form class="card-body">
                      <div class="mb-4">
                        <label class="form-label">Newsletter *</label>
                        <div class="d-flex gap-4 flex-wrap">
                          <div class="form-check radio-bg-light">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDaily" checked="" />
                            <label class="form-check-label" for="flexRadioDaily">
                              Daily
                            </label>
                          </div>
                          <div class="form-check radio-bg-light">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" />
                            <label class="form-check-label" for="flexRadioDefault2">
                              Twice a week
                            </label>
                          </div>
                          <div class="form-check radio-bg-light">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" />
                            <label class="form-check-label" for="flexRadioDefault3">
                              Weekly
                            </label>
                          </div>
                          <div class="form-check radio-bg-light">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" />
                            <label class="form-check-label" for="flexRadioDefault4">
                              Never
                            </label>
                          </div>
                        </div>
                      </div>

                      <div class="form-check form-switch form-check-md d-flex justify-content-between mb-4">
                        <label class="form-check-label ps-0 pe-4" for="checkPrivacy1">Notify me via email when logging in</label>
                        <input class="form-check-input flex-shrink-0" type="checkbox" id="checkPrivacy1" checked="" />
                      </div>

                      <div class="form-check form-switch form-check-md d-flex justify-content-between mb-4">
                        <label class="form-check-label ps-0 pe-4" for="checkPrivacy2">I would like to receive booking assist
                          reminders</label>
                        <input class="form-check-input flex-shrink-0" type="checkbox" id="checkPrivacy2" checked="" />
                      </div>

                      <div class="form-check form-switch form-check-md d-flex justify-content-between mb-4">
                        <label class="form-check-label ps-0 pe-4" for="checkPrivacy3">I would like to receive emails about Booking
                          promotions</label>
                        <input class="form-check-input flex-shrink-0" type="checkbox" id="checkPrivacy3" checked="" />
                      </div>

                      <div class="form-check form-switch form-check-md d-flex justify-content-between mb-4">
                        <label class="form-check-label ps-0 pe-4" for="checkPrivacy7">I would like to know about information and offers
                          related to my upcoming trip</label>
                        <input class="form-check-input flex-shrink-0" type="checkbox" id="checkPrivacy7" checked="" />
                      </div>

                      <div class="form-check form-switch form-check-md d-flex justify-content-between mb-4">
                        <label class="form-check-label ps-0 pe-4" for="checkPrivacy4">Show your profile publicly</label>
                        <input class="form-check-input flex-shrink-0" type="checkbox" id="checkPrivacy4" />
                      </div>

                      <div class="form-check form-switch form-check-md d-flex justify-content-between mb-4">
                        <label class="form-check-label ps-0 pe-4" for="checkPrivacy6">Send SMS confirmation for all online payments</label>
                        <input class="form-check-input flex-shrink-0" type="checkbox" id="checkPrivacy6" />
                      </div>

                      <div class="form-check form-switch form-check-md d-flex justify-content-between mb-4">
                        <label class="form-check-label ps-0 pe-4" for="checkPrivacy5">Check which device(s) access your account</label>
                        <input class="form-check-input flex-shrink-0" type="checkbox" id="checkPrivacy5" checked="" />
                      </div>

                      <div class="d-sm-flex justify-content-end">
                        <button type="button" class="btn btn-sm btn-primary me-2 mb-0">
                          Save changes
                        </button>
                        <a href="javascript:void(0);" class="btn btn-sm btn-outline-secondary mb-0">Cancel</a>
                      </div>
                    </form>
                  </div>
                </div>
              </ng-template>
            </li>
            <li class="nav-item" ngbNavItem>
              <a class="nav-link mb-0" ngbNavLink data-bs-toggle="tab" href="#tab-3"><i class="fas fa-user-circle fa-fw me-2"></i>Account
                Settings</a>
              <ng-template ngbNavContent>
                <div class="tab-pane" id="tab-3">
                  <div class="row g-4">
                    <div class="col-12">
                      <div class="card border">
                        <div class="card-header border-bottom">
                          <h5 class="card-header-title">Security settings</h5>
                        </div>
                        <div class="card-body">
                          <form class="mb-3" [formGroup]="securitySettings" (click)="submitCode()">
                            <h6>Two-factor authentication</h6>
                            <label class="form-label">Add a phone number to set up two-factor
                              authentication</label>
                            <input type="text" formControlName="number" [ngClass]="{
                                'is-invalid':
                                  securitySettings.get('number')?.errors &&
                                  submitedCode
                              }" class="form-control mb-2" placeholder="Enter your mobile number" />
                            <div class="invalid-feedback">
                              mobileNo must be a `number` type, but the final
                              value was: `NaN` (cast from the value `""`).
                            </div>
                            <button class="btn btn-sm btn-primary mb-0" type="submit">
                              Send Code
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="card border rounded-3">
                        <div class="card-header border-bottom">
                          <h5 class="card-header-title">Linked account</h5>
                        </div>

                        <div class="card-body pb-0">
                          <div class="position-relative mb-4 d-sm-flex bg-success bg-opacity-10 border border-success p-3 rounded">
                            <h2 class="fs-1 mb-0 me-3">
                              <i class="fab fa-google text-google-icon"></i>
                            </h2>
                            <div>
                              <div class="position-absolute top-0 start-100 translate-middle bg-white rounded-circle lh-1 h-20px">
                                <i class="bi bi-check-circle-fill text-success fs-5"></i>
                              </div>
                              <h6 class="mb-1">Google</h6>
                              <p class="mb-1 small">
                                You are successfully connected to your Google
                                account
                              </p>

                              <button type="button" class="btn btn-sm btn-danger mb-0">
                                Invoke
                              </button>
                              <a href="javascript:void(0);" class="btn btn-sm btn-link text-body mb-0">Learn more</a>
                            </div>
                          </div>

                          <div class="mb-4 d-sm-flex border p-3 rounded">
                            <h2 class="fs-1 mb-0 me-3">
                              <i class="fab fa-linkedin-in text-linkedin"></i>
                            </h2>
                            <div>
                              <h6 class="mb-1">Linkedin</h6>
                              <p class="mb-1 small">
                                Connect with Linkedin account for a personalized
                                experience
                              </p>

                              <button type="button" class="btn btn-sm btn-primary mb-0">
                                Connect Linkedin
                              </button>
                              <a href="javascript:void(0);" class="btn btn-sm btn-link text-body mb-0">Learn more</a>
                            </div>
                          </div>

                          <div class="mb-4 d-sm-flex border p-3 rounded">
                            <h2 class="fs-1 mb-0 me-3">
                              <i class="fab fa-facebook text-facebook"></i>
                            </h2>
                            <div>
                              <h6 class="mb-1">Facebook</h6>
                              <p class="mb-1 small">
                                Connect with Facebook account for a personalized
                                experience
                              </p>

                              <button type="button" class="btn btn-sm btn-primary mb-0">
                                Connect Facebook
                              </button>
                              <a href="javascript:void(0);" class="btn btn-sm btn-link text-body mb-0">Learn more</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="card border rounded-3">
                        <div class="card-header border-bottom">
                          <h5 class="card-header-title">
                            Social media profile
                          </h5>
                        </div>
                        <div class="card-body">
                          <div class="mb-3">
                            <label class="form-label"><i class="fab fa-facebook text-facebook me-2"></i>Enter facebook username</label>
                            <input class="form-control" type="text" value="loristev" placeholder="Enter username" />
                          </div>

                          <div class="mb-3">
                            <label class="form-label"><i class="bi bi-twitter text-twitter me-2"></i>Enter twitter username</label>
                            <input class="form-control" type="text" value="loristev" placeholder="Enter username" />
                          </div>

                          <div class="mb-3">
                            <label class="form-label"><i class="fab fa-instagram text-instagram-gradient me-2"></i>Enter instagram username</label>
                            <input class="form-control" type="text" value="loristev" placeholder="Enter username" />
                          </div>

                          <div class="mb-3">
                            <label class="form-label"><i class="fab fa-youtube text-youtube me-2"></i>Add your youtube profile URL</label>
                            <input class="form-control" type="text" value="https://www.youtube.com/in/Booking-05620abc" placeholder="Enter username" />
                          </div>

                          <div class="d-flex justify-content-end mt-4">
                            <button type="button" class="btn btn-primary mb-0">
                              Save change
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="card border">
                        <div class="card-header border-bottom">
                          <h5 class="card-header-title">Active Logs</h5>
                        </div>

                        <div class="card-body">
                          <div class="table-responsive border-0">
                            <table class="table align-middle p-4 mb-0 table-hover">
                              <thead class="table-light">
                                <tr>
                                  <th scope="col" class="border-0 rounded-start">
                                    Browser
                                  </th>
                                  <th scope="col" class="border-0">IP</th>
                                  <th scope="col" class="border-0">Time</th>
                                  <th scope="col" class="border-0 rounded-end">
                                    Action
                                  </th>
                                </tr>
                              </thead>

                              <tbody>
                                @for (item of activeLogsData; track $index) {
                                <tr>
                                  <td>{{ item.browser }}</td>
                                  <td>{{ item.ip }}</td>
                                  <td>{{ item.time }}</td>
                                  <td>
                                    <button class="btn btn-sm btn-danger-soft me-1 mb-1 mb-md-0">
                                      Sign out
                                    </button>
                                  </td>
                                </tr>
                                }
                              </tbody>
                            </table>
                          </div>

                          <form class="mt-4">
                            <h6 class="mb-0">Active sessions</h6>
                            <p class="mb-2">
                              Selecting "Sign out" will sign you out from all
                              devices except this one. This can take up to 10
                              minutes.
                            </p>
                            <button class="btn btn-sm btn-danger mb-0">
                              Sign Out of all devices
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row g-4">
      <div class="col-12">
        <div class="tab-content" [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div>
</section>