<sticky-header-component>
  <nav class="navbar navbar-expand-xl">
    <div class="container">
      <app-logo-box />

      <vertical-menu-button className="ms-auto ms-sm-0"></vertical-menu-button>

      <button
        class="navbar-toggler ms-sm-auto mx-3 me-md-0 p-0 p-sm-2"
        type="button"
        data-bs-toggle="collapse"
        (click)="collapse.toggle()"
        data-bs-target="#navbarCategoryCollapse"
        aria-controls="navbarCategoryCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="bi bi-grid-3x3-gap-fill fa-fw"></i
        ><span class="d-none d-sm-inline-block small">Category</span>
      </button>

      <app-menu
        [showExtraPages]="true"
        [menuClassName]="'me-auto'"
        class="navbar-collapse collapse d-contents"
      />

      <div
        #collapse="ngbCollapse"
        [(ngbCollapse)]="isCollapsed"
        class="navbar-collapse collapse"
        id="navbarCategoryCollapse"
      >
        <ul
          class="navbar-nav navbar-nav-scroll nav-pills-primary-soft text-center ms-auto p-2 p-xl-0"
        >
          @for (item of bookingHomeMenuItems; track $index) {
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="item.url"
                [class.active]="item.label == 'Hotel'"
              >
                <i class="{{ item.icon }}" class="me-2"></i>{{ item.label }}</a
              >
            </li>
          }
        </ul>
      </div>

      <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
        <app-notification-dropdown className="ms-0 ms-md-3" />

        <app-profile-dropdown className="ms-3" />
      </ul>
    </div>
  </nav>
</sticky-header-component>
