<div class="card shadow">
  <div class="card-header border-bottom">
    <h5 class="card-title mb-0">Why Sign up or Log in</h5>
  </div>

  <div class="card-body">
    <ul class="list-group list-group-borderless">
      <li class="list-group-item d-flex mb-0">
        <i class="fa-solid fa-check text-success me-2"></i>
        <span class="h6 fw-normal">Get Access to Secret Deal</span>
      </li>

      <li class="list-group-item d-flex mb-0">
        <i class="fa-solid fa-check text-success me-2"></i>
        <span class="h6 fw-normal">Book Faster</span>
      </li>

      <li class="list-group-item d-flex mb-0">
        <i class="fa-solid fa-check text-success me-2"></i>
        <span class="h6 fw-normal">Manage Your Booking</span>
      </li>
    </ul>
  </div>
</div>
