<footer>
  <div class="container">
    <div class="bg-light rounded-top p-4 pb-0">
      <div class="row g-4 justify-content-between">
        <div class="col-md-5 col-lg-4">
          <a class="me-0" routerLink="/">
            <img
              class="light-mode-item h-40px"
              src="assets/images/logo.png"
              alt="logo"
            />
            <img
              class="dark-mode-item h-40px"
              src="assets/images/logo-light.svg"
              alt="logo"
            />
          </a>

          <p class="text-reset mt-4 mb-2">Subscribe to Our Newsletter</p>

          <form
            class="bg-body rounded-2 p-2"
            [formGroup]="subscriptionForm"
            (ngSubmit)="submitForm()"
          >
            <div class="input-group">
              <input
                class="form-control border-0 me-1"
                [ngClass]="{ 'is-invalid': submit && form['email'].errors }"
                formControlName="email"
                type="email"
                placeholder="Enter your email"
              />
              <button type="submit" class="btn btn-dark rounded-2 mb-0">
                <i class="bi bi-send"></i>
              </button>
            </div>
          </form>
        </div>

        <div class="col-md-7 col-lg-4">
          <div class="row g-4 g-lg-5">
            @for (item of footer4Link; track $index) {
              <div class="col-6">
                <h5 class="mb-2 mb-md-4">{{ item.title }}</h5>
                <ul class="nav flex-column">
                  @for (data of item.items; track $index) {
                    <li class="nav-item mb-1">
                      <a class="nav-link pt-0" routerLink="{{ data.link }}">{{
                        data.name
                      }}</a>
                    </li>
                  }
                </ul>
              </div>
            }
          </div>
        </div>
      </div>

      <hr class="mt-4 mb-0" />

      <div class="container py-3 px-0">
        <div
          class="d-md-flex justify-content-between align-items-center text-center text-md-left"
        >
          <div class="text-primary-hover text-body">
            Copyrights ©{{ currentYear }} Booking. build by
            <a href="{{ creditsBy.website }}" class="text-body">{{
              creditsBy.name
            }}</a
            >.
          </div>
          <!-- copyright links-->
          <div class="mt-3 mt-md-0">
            <ul
              class="nav text-primary-hover justify-content-center justify-content-md-end"
            >
              <li class="nav-item">
                <a class="nav-link text-body" href="javascript:void(0);"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-body" href="javascript:void(0);"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-body" href="javascript:void(0);"
                  ><i class="fab fa-instagram"></i
                ></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-body" href="javascript:void(0);"
                  ><i class="fab fa-linkedin-in"></i
                ></a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-body" href="javascript:void(0);"
                  ><i class="fab fa-github"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
