<div class="vstack gap-4">
  <h4 class="mb-0">Price & Policy</h4>

  <div class="card shadow">
    <div class="card-header border-bottom">
      <h5 class="mb-0">Listing Price</h5>
    </div>

    <div class="card-body">
      <div class="row g-4">
        <div class="col-md-6">
          <label class="form-label">Currency</label>
          <select
            selectFormInput
            [options]="{ searchEnabled: false }"
            class="form-select js-choice border-0 z-index-9 bg-transparent"
          >
            <option value="">Select item</option>
            <option>USD</option>
            <option>EURRO</option>
            <option>VND</option>
          </select>
        </div>

        <div class="col-md-6">
          <label class="form-label">Base Price *</label>
          <input type="text" class="form-control" placeholder="Enter price" />
        </div>

        <div class="col-md-6">
          <label class="form-label">Discount *</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter discount"
          />
        </div>

        <div class="col-md-6">
          <label class="form-label">Rating</label>
          <select
            selectFormInput
            [options]="{ searchEnabled: false }"
            class="form-select js-choice border-0 z-index-9 bg-transparent"
          >
            <option value="">Select item</option>
            <option>★★★★★</option>
            <option>★★★★☆</option>
            <option>★★★☆☆</option>
            <option>★★☆☆☆</option>
            <option>★☆☆☆☆</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow">
    <div class="card-header border-bottom">
      <h5 class="mb-0">Listing Policy</h5>
    </div>

    <div class="card-body">
      <div class="row g-4">
        <div class="col-12">
          <label class="form-label">Add description *</label>
          <quill-editor
            #quillEditor
            [(ngModel)]="content"
            theme="snow"
            [modules]="editorConfig"
            style="height: 300px"
          ></quill-editor>
        </div>

        <div class="col-md-6">
          <label class="form-label">Cancellation options</label>
          <select
            selectFormInput
            [options]="{ searchEnabled: false }"
            class="form-select js-choice border-0 z-index-9 bg-transparent"
            data-position="top"
          >
            <option value="">Select item</option>
            <option>Non Refundable</option>
            <option>Refundable</option>
          </select>
        </div>

        <div class="col-md-6">
          <label class="form-label">Charges *</label>
          <input type="text" class="form-control" placeholder="Enter charges" />
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <button
      (click)="stepperInstance?.previous()"
      type="button"
      class="btn btn-secondary prev-btn mb-0"
    >
      Previous
    </button>
    <a [routerLink]="'/listings/added'" class="btn btn-success mb-0"
      >Add Listing</a
    >
  </div>
</div>
