<div class="row g-4">
  @for (item of allStatisticData; track $index) {
    <div class="col-sm-6 col-xl-3">
      <div class="card card-body border">
        <div class="d-flex align-items-center">
          <div class="icon-xl {{ item.variant }} rounded-3 text-white">
            <i class="bi {{ item.icon }}"></i>
          </div>
          <div class="ms-3">
            <h4>{{ item.state }}</h4>
            <span>{{ item.title }}</span>
          </div>
        </div>
      </div>
    </div>
  }
</div>
