<section class="pt-0 pt-lg-5">
  <div class="container">
    <div class="row g-4 g-lg-5 align-items-center">
      <div class="col-lg-6 text-center">
        <img src="assets/images/element/contact.svg" alt="" />
      </div>

      <div class="col-lg-6">
        <div class="card bg-light p-4">
          <figure class="position-absolute end-0 bottom-0 mb-n4 me-n2">
            <svg class="fill-orange" width="104.2px" height="95.2px">
              <circle cx="2.6" cy="92.6" r="2.6" />
              <circle cx="2.6" cy="77.6" r="2.6" />
              <circle cx="2.6" cy="62.6" r="2.6" />
              <circle cx="2.6" cy="47.6" r="2.6" />
              <circle cx="2.6" cy="32.6" r="2.6" />
              <circle cx="2.6" cy="17.6" r="2.6" />
              <circle cx="2.6" cy="2.6" r="2.6" />
              <circle cx="22.4" cy="92.6" r="2.6" />
              <circle cx="22.4" cy="77.6" r="2.6" />
              <circle cx="22.4" cy="62.6" r="2.6" />
              <circle cx="22.4" cy="47.6" r="2.6" />
              <circle cx="22.4" cy="32.6" r="2.6" />
              <circle cx="22.4" cy="17.6" r="2.6" />
              <circle cx="22.4" cy="2.6" r="2.6" />
              <circle cx="42.2" cy="92.6" r="2.6" />
              <circle cx="42.2" cy="77.6" r="2.6" />
              <circle cx="42.2" cy="62.6" r="2.6" />
              <circle cx="42.2" cy="47.6" r="2.6" />
              <circle cx="42.2" cy="32.6" r="2.6" />
              <circle cx="42.2" cy="17.6" r="2.6" />
              <circle cx="42.2" cy="2.6" r="2.6" />
              <circle cx="62" cy="92.6" r="2.6" />
              <circle cx="62" cy="77.6" r="2.6" />
              <circle cx="62" cy="62.6" r="2.6" />
              <circle cx="62" cy="47.6" r="2.6" />
              <circle cx="62" cy="32.6" r="2.6" />
              <circle cx="62" cy="17.6" r="2.6" />
              <circle cx="62" cy="2.6" r="2.6" />
              <circle cx="81.8" cy="92.6" r="2.6" />
              <circle cx="81.8" cy="77.6" r="2.6" />
              <circle cx="81.8" cy="62.6" r="2.6" />
              <circle cx="81.8" cy="47.6" r="2.6" />
              <circle cx="81.8" cy="32.6" r="2.6" />
              <circle cx="81.8" cy="17.6" r="2.6" />
              <circle cx="81.8" cy="2.6" r="2.6" />
              <circle cx="101.7" cy="92.6" r="2.6" />
              <circle cx="101.7" cy="77.6" r="2.6" />
              <circle cx="101.7" cy="62.6" r="2.6" />
              <circle cx="101.7" cy="47.6" r="2.6" />
              <circle cx="101.7" cy="32.6" r="2.6" />
              <circle cx="101.7" cy="17.6" r="2.6" />
              <circle cx="101.7" cy="2.6" r="2.6" />
            </svg>
          </figure>

          <div class="card-header bg-light p-0 pb-3">
            <h3 class="mb-0">Send us message</h3>
          </div>

          <div class="card-body p-0">
            <form
              [formGroup]="contactForm"
              (ngSubmit)="onSubmit()"
              class="row g-4"
            >
              <div class="col-md-6">
                <label class="form-label">Your name *</label>
                <input
                  type="text"
                  formControlName="name"
                  [ngClass]="{ 'is-invalid': submitted && form['name'].errors }"
                  class="form-control"
                />
                <div class="invalid-feedback">Please enter your name</div>
              </div>

              <div class="col-md-6">
                <label class="form-label">Email address *</label>
                <input
                  type="email"
                  formControlName="email"
                  [ngClass]="{
                    'is-invalid': submitted && form['email'].errors
                  }"
                  class="form-control"
                />
                <div class="invalid-feedback">Please enter email address</div>
              </div>

              <div class="col-12">
                <label class="form-label">Mobile number *</label>
                <input
                  type="text"
                  formControlName="number"
                  [ngClass]="{
                    'is-invalid': submitted && form['number'].errors
                  }"
                  class="form-control"
                />
                <div class="invalid-feedback">
                  Please enter your mobile number
                </div>
              </div>

              <div class="col-12">
                <label class="form-label">Message *</label>
                <textarea
                  class="form-control"
                  formControlName="message"
                  [ngClass]="{
                    'is-invalid': submitted && form['message'].errors
                  }"
                  rows="3"
                ></textarea>
                <div class="invalid-feedback">Please enter your message</div>
              </div>

              <div class="col-12 form-check ms-2">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="exampleCheck1"
                />
                <label class="form-check-label" for="exampleCheck1">
                  By submitting this form you agree to our terms and conditions.
                </label>
              </div>

              <div class="col-12">
                <button class="btn btn-dark mb-0" type="submit">
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
