<section class="py-0">
  <div class="container">
    <div class="row mt-4 align-items-center">
      <div class="col-12">
        <div class="card bg-light overflow-hidden px-sm-5">
          <div class="row align-items-center g-4">
            <div class="col-sm-9">
              <div class="card-body">
                <booking-breadcrumb />

                <h1 class="m-0 h2 card-title">Review your Booking</h1>
              </div>
            </div>

            <div class="col-sm-3 text-end d-none d-sm-block">
              <img src="assets/images/element/17.svg" class="mb-n4" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
