<div class="card shadow">
  <div class="card-header border-bottom p-4">
    <h4 class="mb-0">How would you like to pay?</h4>
  </div>

  <div class="card-body p-4">
    <div class="d-sm-flex align-items-center mb-3">
      <h6 class="mb-2 mb-sm-0">We Accept:</h6>
      <ul class="list-inline my-0 ms-sm-3">
        <li class="list-inline-item">
          <a href="javascript:void(0);" cla
            ><img
              src="assets/images/element/visa.svg"
              class="h-30px me-1"
              alt=""
          /></a>
        </li>
        <li class="list-inline-item ms-2">
          <a href="javascript:void(0);"
            ><img
              src="assets/images/element/mastercard.svg"
              class="h-30px me-1"
              alt=""
          /></a>
        </li>
        <li class="list-inline-item ms-2">
          <a href="javascript:void(0);"
            ><img
              src="assets/images/element/expresscard.svg"
              class="h-30px me-1"
              alt=""
          /></a>
        </li>
      </ul>
    </div>

    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()" class="row g-3">
      <div class="col-12">
        <label class="form-label">Card Number</label>
        <div class="position-relative">
          <input
            type="text"
            class="form-control"
            formControlName="cardnumber"
            mask="XXXX XXXX XXXX XXXX"
            [ngClass]="{ 'is-invalid': submit && form['cardnumber'].errors }"
            placeholder="XXXX XXXX XXXX XXXX"
          />
          <img
            src="assets/images/element/visa.svg"
            class="w-30px position-absolute top-50 end-0 translate-middle-y me-2 d-none d-sm-block"
            alt=""
          />
        </div>
      </div>

      <div class="col-md-6">
        <label class="form-label">Expiration Date</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            formControlName="month"
            [ngClass]="{ 'is-invalid': submit && form['month'].errors }"
            maxlength="2"
            mask="XX"
            placeholder="Month"
          />
          <input
            type="text"
            class="form-control"
            formControlName="year"
            [ngClass]="{ 'is-invalid': submit && form['year'].errors }"
            maxlength="4"
            mask="XXXX"
            placeholder="Year"
          />
        </div>
      </div>
      <!--Cvv code  -->
      <div class="col-md-6">
        <label class="form-label">CVV / CVC</label>
        <input
          type="text"
          class="form-control"
          formControlName="cvv"
          [ngClass]="{ 'is-invalid': submit && form['cvv'].errors }"
          maxlength="3"
          mask="XXXX"
          placeholder="XXXX"
        />
        <div class="invalid-feedback">
          cvv must be a `number` type, but the final value was: `NaN` (cast from
          the value `""`).
        </div>
      </div>

      <div class="col-12">
        <label class="form-label">Name on Card</label>
        <input
          type="text"
          class="form-control"
          formControlName="name"
          [ngClass]="{ 'is-invalid': submit && form['name'].errors }"
          placeholder="Enter card holder name"
        />
        <div class="invalid-feedback">Please enter card holder name</div>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary mb-0">Pay Now</button>
      </div>
    </form>
  </div>
</div>
