<div class="card shadow">
  <div class="card-header border-bottom p-4">
    <h1 class="mb-0 fs-3">Booking summary</h1>
  </div>

  <div class="card-body p-4">
    <div class="row g-md-4">
      <div class="col-md-3">
        <div class="bg-light rounded-3 px-4 py-5 mb-3 mb-md-0">
          <img src="assets/images/category/cab/seadan.svg" alt="" />
        </div>
      </div>

      <div class="col-md-9">
        <h5 class="card-title mb-2">Camry, Accord</h5>
        <ul class="nav nav-divider h6 fw-normal mb-2">
          <li class="nav-item">SEDAN</li>
          <li class="nav-item">AC</li>
          <li class="nav-item">2 Seats</li>
        </ul>

        <div class="row">
          <div class="col-md-6">
            <small>Pickup address</small>
            <p class="h6 fw-light mb-md-0">
              8 Central Ave, Chelsea, Maine, United States
            </p>
          </div>

          <div class="col-md-6">
            <small>Drop address</small>
            <p class="h6 fw-light mb-0">
              1846 S Oates St, Dothan, Alaska, United States
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <ul class="list-group list-group-borderless">
          <li class="list-group-item">
            Journey Date:<span class="h6 fw-normal mb-0 ms-1">25 Nov 2022</span>
          </li>
          <li class="list-group-item">
            Distance:<span class="h6 fw-normal mb-0 ms-1">230 km</span>
          </li>
        </ul>
      </div>

      <div class="col-md-6">
        <ul class="list-group list-group-borderless">
          <li class="list-group-item">
            Passengers:<span class="h6 fw-normal mb-0 ms-1">1</span>
          </li>
          <li class="list-group-item">
            Luggages:<span class="h6 fw-normal mb-0 ms-1">2</span>
          </li>
        </ul>
      </div>
    </div>

    <h6 class="mb-0 mt-3">Passenger Detail</h6>

    <div class="row">
      <div class="col-sm-8">
        <ul class="list-group list-group-borderless mb-0">
          <li class="list-group-item">
            Passenger Name:<span class="h6 mb-0 fw-normal ms-1"
              >Billy Vasquez</span
            >
          </li>
          <li class="list-group-item">
            Passenger Email:<span class="h6 mb-0 fw-normal ms-1"
              >example&#64;gmail.com</span
            >
          </li>
          <li class="list-group-item">
            Passenger Number:<span class="h6 mb-0 fw-normal ms-1"
              >+222 555 666 85</span
            >
          </li>
        </ul>
      </div>

      <div class="col-sm-4 text-sm-end mt-3 mt-sm-auto">
        <h6 class="mb-1 fw-normal">Total Amount</h6>
        <h2 class="mb-0 text-success">{{ currencyType }}458</h2>
      </div>
    </div>
  </div>
</div>
