<section class="pt-4 pt-md-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-6">
        <h1>Let's talk about traveling</h1>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="mt-4">
          <div class="mb-4 form-control-bg-light">
            <label class="form-label">Your name *</label>
            <input
              type="text"
              formControlName="name"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && form['name'].errors }"
            />
            <div class="invalid-feedback">Please enter your name</div>
          </div>

          <div class="mb-4 form-control-bg-light">
            <label class="form-label">Email address *</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && form['email'].errors }"
            />
            <div class="invalid-feedback">Please enter your email</div>
          </div>

          <div class="mb-4 form-control-bg-light">
            <label class="form-label">Message *</label>
            <textarea
              class="form-control"
              formControlName="message"
              rows="4"
              [ngClass]="{ 'is-invalid': submitted && form['message'].errors }"
            ></textarea>
            <div class="invalid-feedback">Please enter your message</div>
          </div>

          <div>
            <button class="btn btn-lg btn-primary mb-0" type="submit">
              Send Message
            </button>
          </div>
        </form>
      </div>

      <div
        class="col-lg-6 col-xl-5 text-center text-lg-end position-relative ms-auto"
      >
        <figure
          class="position-absolute start-0 top-0 d-none d-md-block mt-n5 ms-n3"
        >
          <svg
            height="400"
            class="fill-primary opacity-2"
            viewBox="0 0 340 340"
          >
            <circle cx="194.2" cy="2.2" r="2.2"></circle>
            <circle cx="2.2" cy="2.2" r="2.2"></circle>
            <circle cx="218.2" cy="2.2" r="2.2"></circle>
            <circle cx="26.2" cy="2.2" r="2.2"></circle>
            <circle cx="242.2" cy="2.2" r="2.2"></circle>
            <circle cx="50.2" cy="2.2" r="2.2"></circle>
            <circle cx="266.2" cy="2.2" r="2.2"></circle>
            <circle cx="74.2" cy="2.2" r="2.2"></circle>
            <circle cx="290.2" cy="2.2" r="2.2"></circle>
            <circle cx="98.2" cy="2.2" r="2.2"></circle>
            <circle cx="314.2" cy="2.2" r="2.2"></circle>
            <circle cx="122.2" cy="2.2" r="2.2"></circle>
            <circle cx="338.2" cy="2.2" r="2.2"></circle>
            <circle cx="146.2" cy="2.2" r="2.2"></circle>
            <circle cx="170.2" cy="2.2" r="2.2"></circle>
            <circle cx="194.2" cy="26.2" r="2.2"></circle>
            <circle cx="2.2" cy="26.2" r="2.2"></circle>
            <circle cx="218.2" cy="26.2" r="2.2"></circle>
            <circle cx="26.2" cy="26.2" r="2.2"></circle>
            <circle cx="242.2" cy="26.2" r="2.2"></circle>
            <circle cx="50.2" cy="26.2" r="2.2"></circle>
            <circle cx="266.2" cy="26.2" r="2.2"></circle>
            <circle cx="74.2" cy="26.2" r="2.2"></circle>
            <circle cx="290.2" cy="26.2" r="2.2"></circle>
            <circle cx="98.2" cy="26.2" r="2.2"></circle>
            <circle cx="314.2" cy="26.2" r="2.2"></circle>
            <circle cx="122.2" cy="26.2" r="2.2"></circle>
            <circle cx="338.2" cy="26.2" r="2.2"></circle>
            <circle cx="146.2" cy="26.2" r="2.2"></circle>
            <circle cx="170.2" cy="26.2" r="2.2"></circle>
            <circle cx="194.2" cy="50.2" r="2.2"></circle>
            <circle cx="2.2" cy="50.2" r="2.2"></circle>
            <circle cx="218.2" cy="50.2" r="2.2"></circle>
            <circle cx="26.2" cy="50.2" r="2.2"></circle>
            <circle cx="242.2" cy="50.2" r="2.2"></circle>
            <circle cx="50.2" cy="50.2" r="2.2"></circle>
            <circle cx="266.2" cy="50.2" r="2.2"></circle>
            <circle cx="74.2" cy="50.2" r="2.2"></circle>
            <circle cx="290.2" cy="50.2" r="2.2"></circle>
            <circle cx="98.2" cy="50.2" r="2.2"></circle>
            <circle cx="314.2" cy="50.2" r="2.2"></circle>
            <circle cx="122.2" cy="50.2" r="2.2"></circle>
            <circle cx="338.2" cy="50.2" r="2.2"></circle>
            <circle cx="146.2" cy="50.2" r="2.2"></circle>
            <circle cx="170.2" cy="50.2" r="2.2"></circle>
            <circle cx="194.2" cy="74.2" r="2.2"></circle>
            <circle cx="2.2" cy="74.2" r="2.2"></circle>
            <circle cx="218.2" cy="74.2" r="2.2"></circle>
            <circle cx="26.2" cy="74.2" r="2.2"></circle>
            <circle cx="242.2" cy="74.2" r="2.2"></circle>
            <circle cx="50.2" cy="74.2" r="2.2"></circle>
            <circle cx="266.2" cy="74.2" r="2.2"></circle>
            <circle cx="74.2" cy="74.2" r="2.2"></circle>
            <circle cx="290.2" cy="74.2" r="2.2"></circle>
            <circle cx="98.2" cy="74.2" r="2.2"></circle>
            <circle cx="314.2" cy="74.2" r="2.2"></circle>
            <circle cx="122.2" cy="74.2" r="2.2"></circle>
            <circle cx="338.2" cy="74.2" r="2.2"></circle>
            <circle cx="146.2" cy="74.2" r="2.2"></circle>
            <circle cx="170.2" cy="74.2" r="2.2"></circle>
            <circle cx="194.2" cy="98.2" r="2.2"></circle>
            <circle cx="2.2" cy="98.2" r="2.2"></circle>
            <circle cx="218.2" cy="98.2" r="2.2"></circle>
            <circle cx="26.2" cy="98.2" r="2.2"></circle>
            <circle cx="242.2" cy="98.2" r="2.2"></circle>
            <circle cx="50.2" cy="98.2" r="2.2"></circle>
            <circle cx="266.2" cy="98.2" r="2.2"></circle>
            <circle cx="74.2" cy="98.2" r="2.2"></circle>
            <circle cx="290.2" cy="98.2" r="2.2"></circle>
            <circle cx="98.2" cy="98.2" r="2.2"></circle>
            <circle cx="314.2" cy="98.2" r="2.2"></circle>
            <circle cx="122.2" cy="98.2" r="2.2"></circle>
            <circle cx="338.2" cy="98.2" r="2.2"></circle>
            <circle cx="146.2" cy="98.2" r="2.2"></circle>
            <circle cx="170.2" cy="98.2" r="2.2"></circle>
            <circle cx="194.2" cy="122.2" r="2.2"></circle>
            <circle cx="2.2" cy="122.2" r="2.2"></circle>
            <circle cx="218.2" cy="122.2" r="2.2"></circle>
            <circle cx="26.2" cy="122.2" r="2.2"></circle>
            <circle cx="242.2" cy="122.2" r="2.2"></circle>
            <circle cx="50.2" cy="122.2" r="2.2"></circle>
            <circle cx="266.2" cy="122.2" r="2.2"></circle>
            <circle cx="74.2" cy="122.2" r="2.2"></circle>
            <circle cx="290.2" cy="122.2" r="2.2"></circle>
            <circle cx="98.2" cy="122.2" r="2.2"></circle>
            <circle cx="314.2" cy="122.2" r="2.2"></circle>
            <circle cx="122.2" cy="122.2" r="2.2"></circle>
            <circle cx="338.2" cy="122.2" r="2.2"></circle>
            <circle cx="146.2" cy="122.2" r="2.2"></circle>
            <circle cx="170.2" cy="122.2" r="2.2"></circle>
            <circle cx="194.2" cy="146.2" r="2.2"></circle>
            <circle cx="2.2" cy="146.2" r="2.2"></circle>
            <circle cx="218.2" cy="146.2" r="2.2"></circle>
            <circle cx="26.2" cy="146.2" r="2.2"></circle>
            <circle cx="242.2" cy="146.2" r="2.2"></circle>
            <circle cx="50.2" cy="146.2" r="2.2"></circle>
            <circle cx="266.2" cy="146.2" r="2.2"></circle>
            <circle cx="74.2" cy="146.2" r="2.2"></circle>
            <circle cx="290.2" cy="146.2" r="2.2"></circle>
            <circle cx="98.2" cy="146.2" r="2.2"></circle>
            <circle cx="314.2" cy="146.2" r="2.2"></circle>
            <circle cx="122.2" cy="146.2" r="2.2"></circle>
            <circle cx="338.2" cy="146.2" r="2.2"></circle>
            <circle cx="146.2" cy="146.2" r="2.2"></circle>
            <circle cx="170.2" cy="146.2" r="2.2"></circle>
            <circle cx="194.2" cy="170.2" r="2.2"></circle>
            <circle cx="2.2" cy="170.2" r="2.2"></circle>
            <circle cx="218.2" cy="170.2" r="2.2"></circle>
            <circle cx="26.2" cy="170.2" r="2.2"></circle>
            <circle cx="242.2" cy="170.2" r="2.2"></circle>
            <circle cx="50.2" cy="170.2" r="2.2"></circle>
            <circle cx="266.2" cy="170.2" r="2.2"></circle>
            <circle cx="74.2" cy="170.2" r="2.2"></circle>
            <circle cx="290.2" cy="170.2" r="2.2"></circle>
            <circle cx="98.2" cy="170.2" r="2.2"></circle>
            <circle cx="314.2" cy="170.2" r="2.2"></circle>
            <circle cx="122.2" cy="170.2" r="2.2"></circle>
            <circle cx="338.2" cy="170.2" r="2.2"></circle>
            <circle cx="146.2" cy="170.2" r="2.2"></circle>
            <circle cx="170.2" cy="170.2" r="2.2"></circle>
            <circle cx="194.2" cy="194.2" r="2.2"></circle>
            <circle cx="2.2" cy="194.2" r="2.2"></circle>
            <circle cx="218.2" cy="194.2" r="2.2"></circle>
            <circle cx="26.2" cy="194.2" r="2.2"></circle>
            <circle cx="242.2" cy="194.2" r="2.2"></circle>
            <circle cx="50.2" cy="194.2" r="2.2"></circle>
            <circle cx="266.2" cy="194.2" r="2.2"></circle>
            <circle cx="74.2" cy="194.2" r="2.2"></circle>
            <circle cx="290.2" cy="194.2" r="2.2"></circle>
            <circle cx="98.2" cy="194.2" r="2.2"></circle>
            <circle cx="314.2" cy="194.2" r="2.2"></circle>
            <circle cx="122.2" cy="194.2" r="2.2"></circle>
            <circle cx="338.2" cy="194.2" r="2.2"></circle>
            <circle cx="146.2" cy="194.2" r="2.2"></circle>
            <circle cx="170.2" cy="194.2" r="2.2"></circle>
            <circle cx="194.2" cy="218.2" r="2.2"></circle>
            <circle cx="2.2" cy="218.2" r="2.2"></circle>
            <circle cx="218.2" cy="218.2" r="2.2"></circle>
            <circle cx="26.2" cy="218.2" r="2.2"></circle>
            <circle cx="242.2" cy="218.2" r="2.2"></circle>
            <circle cx="50.2" cy="218.2" r="2.2"></circle>
            <circle cx="266.2" cy="218.2" r="2.2"></circle>
            <circle cx="74.2" cy="218.2" r="2.2"></circle>
            <circle cx="290.2" cy="218.2" r="2.2"></circle>
            <circle cx="98.2" cy="218.2" r="2.2"></circle>
            <circle cx="314.2" cy="218.2" r="2.2"></circle>
            <circle cx="122.2" cy="218.2" r="2.2"></circle>
            <circle cx="338.2" cy="218.2" r="2.2"></circle>
            <circle cx="146.2" cy="218.2" r="2.2"></circle>
            <circle cx="170.2" cy="218.2" r="2.2"></circle>
            <circle cx="194.2" cy="242.2" r="2.2"></circle>
            <circle cx="2.2" cy="242.2" r="2.2"></circle>
            <circle cx="218.2" cy="242.2" r="2.2"></circle>
            <circle cx="26.2" cy="242.2" r="2.2"></circle>
            <circle cx="242.2" cy="242.2" r="2.2"></circle>
            <circle cx="50.2" cy="242.2" r="2.2"></circle>
            <circle cx="266.2" cy="242.2" r="2.2"></circle>
            <circle cx="74.2" cy="242.2" r="2.2"></circle>
            <circle cx="290.2" cy="242.2" r="2.2"></circle>
            <circle cx="98.2" cy="242.2" r="2.2"></circle>
            <circle cx="314.2" cy="242.2" r="2.2"></circle>
            <circle cx="122.2" cy="242.2" r="2.2"></circle>
            <circle cx="338.2" cy="242.2" r="2.2"></circle>
            <circle cx="146.2" cy="242.2" r="2.2"></circle>
            <circle cx="170.2" cy="242.2" r="2.2"></circle>
            <circle cx="194.2" cy="266.2" r="2.2"></circle>
            <circle cx="2.2" cy="266.2" r="2.2"></circle>
            <circle cx="218.2" cy="266.2" r="2.2"></circle>
            <circle cx="26.2" cy="266.2" r="2.2"></circle>
            <circle cx="242.2" cy="266.2" r="2.2"></circle>
            <circle cx="50.2" cy="266.2" r="2.2"></circle>
            <circle cx="266.2" cy="266.2" r="2.2"></circle>
            <circle cx="74.2" cy="266.2" r="2.2"></circle>
            <circle cx="290.2" cy="266.2" r="2.2"></circle>
            <circle cx="98.2" cy="266.2" r="2.2"></circle>
            <circle cx="314.2" cy="266.2" r="2.2"></circle>
            <circle cx="122.2" cy="266.2" r="2.2"></circle>
            <circle cx="338.2" cy="266.2" r="2.2"></circle>
            <circle cx="146.2" cy="266.2" r="2.2"></circle>
            <circle cx="170.2" cy="266.2" r="2.2"></circle>
            <circle cx="194.2" cy="290.2" r="2.2"></circle>
            <circle cx="2.2" cy="290.2" r="2.2"></circle>
            <circle cx="218.2" cy="290.2" r="2.2"></circle>
            <circle cx="26.2" cy="290.2" r="2.2"></circle>
            <circle cx="242.2" cy="290.2" r="2.2"></circle>
            <circle cx="50.2" cy="290.2" r="2.2"></circle>
            <circle cx="266.2" cy="290.2" r="2.2"></circle>
            <circle cx="74.2" cy="290.2" r="2.2"></circle>
            <circle cx="290.2" cy="290.2" r="2.2"></circle>
            <circle cx="98.2" cy="290.2" r="2.2"></circle>
            <circle cx="314.2" cy="290.2" r="2.2"></circle>
            <circle cx="122.2" cy="290.2" r="2.2"></circle>
            <circle cx="338.2" cy="290.2" r="2.2"></circle>
            <circle cx="146.2" cy="290.2" r="2.2"></circle>
            <circle cx="170.2" cy="290.2" r="2.2"></circle>
            <circle cx="194.2" cy="314.2" r="2.2"></circle>
            <circle cx="2.2" cy="314.2" r="2.2"></circle>
            <circle cx="218.2" cy="314.2" r="2.2"></circle>
            <circle cx="26.2" cy="314.2" r="2.2"></circle>
            <circle cx="242.2" cy="314.2" r="2.2"></circle>
            <circle cx="50.2" cy="314.2" r="2.2"></circle>
            <circle cx="266.2" cy="314.2" r="2.2"></circle>
            <circle cx="74.2" cy="314.2" r="2.2"></circle>
            <circle cx="290.2" cy="314.2" r="2.2"></circle>
            <circle cx="98.2" cy="314.2" r="2.2"></circle>
            <circle cx="314.2" cy="314.2" r="2.2"></circle>
            <circle cx="122.2" cy="314.2" r="2.2"></circle>
            <circle cx="338.2" cy="314.2" r="2.2"></circle>
            <circle cx="146.2" cy="314.2" r="2.2"></circle>
            <circle cx="170.2" cy="314.2" r="2.2"></circle>
            <circle cx="194.2" cy="338.2" r="2.2"></circle>
            <circle cx="2.2" cy="338.2" r="2.2"></circle>
            <circle cx="218.2" cy="338.2" r="2.2"></circle>
            <circle cx="26.2" cy="338.2" r="2.2"></circle>
            <circle cx="242.2" cy="338.2" r="2.2"></circle>
            <circle cx="50.2" cy="338.2" r="2.2"></circle>
            <circle cx="266.2" cy="338.2" r="2.2"></circle>
            <circle cx="74.2" cy="338.2" r="2.2"></circle>
            <circle cx="290.2" cy="338.2" r="2.2"></circle>
            <circle cx="98.2" cy="338.2" r="2.2"></circle>
            <circle cx="314.2" cy="338.2" r="2.2"></circle>
            <circle cx="122.2" cy="338.2" r="2.2"></circle>
            <circle cx="338.2" cy="338.2" r="2.2"></circle>
            <circle cx="146.2" cy="338.2" r="2.2"></circle>
            <circle cx="170.2" cy="338.2" r="2.2"></circle>
          </svg>
        </figure>

        <img
          src="assets/images/about/05.jpg"
          class="rounded-3 position-relative"
          alt=""
        />
      </div>
    </div>

    <div class="row g-4 align-items-center mt-5">
      <div class="col-lg-4">
        <h5 class="mb-0">Another way to getting in touch</h5>
      </div>

      <div class="col-lg-8">
        <ul
          class="list-inline hstack flex-wrap gap-2 gap-lg-4 justify-content-lg-end h6 mb-0"
        >
          <li class="list-inline-item">
            <a class="text-facebook" href="javascript:void(0);"
              ><i class="fa-brands fa-facebook-square"></i> Facebook</a
            >
          </li>
          <li class="list-inline-item">
            <a class="text-instagram-gradient" href="javascript:void(0);"
              ><i class="fa-brands fa-instagram-square"></i> Instagram</a
            >
          </li>
          <li class="list-inline-item">
            <a class="text-twitter" href="javascript:void(0);"
              ><i class="fa-brands fa-twitter-square"></i> Twitter</a
            >
          </li>
          <li class="list-inline-item">
            <a class="text-linkedin" href="javascript:void(0);"
              ><i class="fa-brands fa-linkedin"></i> Linkedin</a
            >
          </li>
          <li class="list-inline-item">
            <a class="text-whatsapp" href="javascript:void(0);"
              ><i class="fa-brands fa-whatsapp-square"></i> WhatsApp</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
