<div class="row">
  <div class="col-12">
    <div class="card border h-100">
      <div class="card-header border-bottom">
        <h5 class="card-header-title">Review Metrics</h5>
      </div>
      <div class="card-body">
        <div class="row g-4">
          @for (item of reviewsData; track $index) {
            <div class="col-sm-6 col-xl-3">
              <div class="d-flex align-items-center">
                <span class="display-6 {{ item.textColor }}">
                  <i class="bi {{ item.icon }}"></i>
                </span>
                <div class="ms-3">
                  <h4 class="mb-0">{{ item.counterValue }}</h4>
                  <span>{{ item.counterLabel }}</span>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
