<div class="row g-4">
  <div class="col-xxl-8">
    <div class="card shadow h-100">
      <div class="card-header border-bottom">
        <h5 class="card-header-title">Guest Activity</h5>
      </div>

      <div class="card-body">
        <div class="d-flex gap-4 mb-3">
          <h6>
            <span class="fw-light"
              ><i class="bi bi-square-fill text-primary"></i> Check-in:</span
            >
            475 Guests
          </h6>
          <h6>
            <span class="fw-light"
              ><i class="bi bi-square-fill text-info"></i> Check-out:</span
            >
            157 Guests
          </h6>
        </div>
        <div id="ChartGuesttraffic" class="mt-2">
          <apx-chart
            [series]="guestChart.series!"
            [colors]="guestChart.colors!"
            [chart]="guestChart.chart!"
            [grid]="guestChart.grid!"
            [dataLabels]="guestChart.dataLabels!"
            [stroke]="guestChart.stroke!"
            [legend]="guestChart.legend!"
            [xaxis]="guestChart.xaxis!"
            [tooltip]="guestChart.tooltip!"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-xxl-4">
    <admin-dashboard-room-availability />
  </div>

  <div class="col-lg-6 col-xxl-4">
    <admin-dashboard-room-notifications />
  </div>
  <div class="col-lg-6 col-xxl-4">
    <admin-dashboard-upcoming-arrivals />
  </div>
  <div class="col-lg-6 col-xxl-4">
    <admin-dashboard-reviews />
  </div>
</div>
