<section class="py-0 pt-sm-5">
  <div class="container position-relative">
    <div class="row mb-3">
      <div class="col-12">
        <div class="d-lg-flex justify-content-lg-between mb-1">
          <div class="mb-2 mb-lg-0">
            <h1 class="fs-2">Courtyard by Marriott New York</h1>

            <p class="fw-bold mb-0">
              <i class="bi bi-geo-alt me-2"></i>5855 W Century Blvd, Los Angeles
              - 90045
              <a
                class="ms-2 text-decoration-underline"
                (click)="open(mapmodal)"
              >
                <i class="bi bi-eye-fill me-1"></i>View On Map
              </a>
            </p>
          </div>

          <ul class="list-inline text-end">
            <li class="list-inline-item me-2">
              <a href="javascript:void(0);" class="btn btn-sm btn-light px-2"
                ><i class="fa-solid fa-fw fa-heart"></i
              ></a>
            </li>

            <li ngbDropdown class="list-inline-item dropdown ms-1">
              <a
                ngbDropdownToggle
                class="btn btn-sm btn-light px-2 arrow-none"
                role="button"
                id="dropdownShare"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa-solid fa-fw fa-share-alt"></i>
              </a>

              <ul
                ngbDropdownMenu
                class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded"
                aria-labelledby="dropdownShare"
              >
                <li>
                  <a class="dropdown-item" href="javascript:void(0);"
                    ><i class="fab fa-twitter-square me-2"></i>Twitter</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);"
                    ><i class="fab fa-facebook-square me-2"></i>Facebook</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);"
                    ><i class="fab fa-linkedin me-2"></i>LinkedIn</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);"
                    ><i class="fa-solid fa-copy me-2"></i>Copy link</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    @if (staticAlert) {
      <ngb-alert
        type="danger"
        [dismissible]="false"
        class="d-flex align-items-center rounded-3 fade show mb-4 mb-0 pe-2"
      >
        <span class="flex-shrink-0 alert-heading h5 mb-0 me-2"
          ><i class="bi bi-exclamation-octagon-fill"></i
        ></span>
        <span class="flex-grow-1"
          ><strong class="alert-heading me-2">Covid Policy:</strong>You may
          require to present an RT-PCR negative test report at the hotel</span
        >
        <button
          type="button"
          class="btn btn-link pb-0 text-end flex-shrink-0"
          (click)="staticAlert = false"
          data-bs-dismiss="alert"
          aria-label="Close"
        >
          <i class="bi bi-x-lg text-dark"></i>
        </button>
      </ngb-alert>
    }
  </div>
</section>

<section class="card-grid pt-0">
  <div class="container">
    <lightgallery [settings]="settings">
      <div class="row g-2">
        <div class="col-md-6">
          <a
            data-glightbox
            data-gallery="gallery"
            href="assets/images/gallery/14.jpg"
          >
            <div
              class="card card-grid-lg card-element-hover card-overlay-hover overflow-hidden"
              style="
                background-image: url(assets/images/gallery/14.jpg);
                background-position: center left;
                background-size: cover;
              "
            >
              <div class="hover-element position-absolute w-100 h-100">
                <i
                  class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"
                ></i>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-6">
          <div class="row g-2">
            <div class="col-12">
              <a
                data-glightbox
                data-gallery="gallery"
                href="assets/images/gallery/13.jpg"
              >
                <div
                  class="card card-grid-sm card-element-hover card-overlay-hover overflow-hidden"
                  style="
                    background-image: url(assets/images/gallery/13.jpg);
                    background-position: center left;
                    background-size: cover;
                  "
                >
                  <div class="hover-element position-absolute w-100 h-100">
                    <i
                      class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"
                    ></i>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-md-6">
              <a
                data-glightbox
                data-gallery="gallery"
                href="assets/images/gallery/12.jpg"
              >
                <div
                  class="card card-grid-sm card-element-hover card-overlay-hover overflow-hidden"
                  style="
                    background-image: url(assets/images/gallery/12.jpg);
                    background-position: center left;
                    background-size: cover;
                  "
                >
                  <div class="hover-element position-absolute w-100 h-100">
                    <i
                      class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"
                    ></i>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-md-6">
              <div
                class="card card-grid-sm overflow-hidden"
                style="
                  background-image: url(assets/images/gallery/11.jpg);
                  background-position: center left;
                  background-size: cover;
                "
              >
                <div class="bg-overlay bg-dark opacity-7"></div>

                <a
                  data-gallery="gallery"
                  href="assets/images/gallery/11.jpg"
                  class="stretched-link z-index-9"
                ></a>
                <a
                  data-gallery="gallery"
                  href="assets/images/gallery/15.jpg"
                ></a>
                <a
                  data-gallery="gallery"
                  href="assets/images/gallery/16.jpg"
                ></a>

                <div class="card-img-overlay d-flex h-100 w-100">
                  <h6
                    class="card-title m-auto fw-light text-decoration-underline"
                  >
                    <div class="text-white">View all</div>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </lightgallery>
  </div>
</section>

<ng-template #mapmodal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="mapmodalLabel">View Our Hotel Location</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="modal.close()"
    ></button>
  </div>

  <div class="modal-body p-0">
    <iframe
      class="w-100"
      height="400"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9663095343008!2d-74.00425878428698!3d40.74076684379132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bf5c1654f3%3A0xc80f9cfce5383d5d!2sGoogle!5e0!3m2!1sen!2sin!4v1586000412513!5m2!1sen!2sin"
      style="border: 0"
      aria-hidden="false"
      tabindex="0"
    ></iframe>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary mb-0">
      <i class="bi fa-fw bi-pin-map-fill me-2"></i>View In Google Map
    </button>
  </div>
</ng-template>
