<section class="py-0">
  <div class="container-fluid px-0">
    <lightgallery
      [settings]="settings"
      class="tiny-slider arrow-round arrow-blur"
    >
      <ng-tiny-slider
        [config]="heroDetailSliderSettings"
        class="tiny-slider-inner"
        #heroDetail
      >
        <div>
          <a
            class="w-100 h-100"
            data-glightbox
            data-gallery="gallery"
            href="assets/images/category/directory/03.jpg"
          >
            <div
              class="card card-element-hover card-overlay-hover rounded-0 overflow-hidden"
            >
              <img
                src="assets/images/category/directory/03.jpg"
                class=""
                alt=""
              />

              <div class="hover-element w-100 h-100">
                <i
                  class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"
                ></i>
              </div>
            </div>
          </a>
        </div>

        <div>
          <a
            class="w-100 h-100"
            data-glightbox
            data-gallery="gallery"
            href="assets/images/category/directory/06.jpg"
          >
            <div
              class="card card-element-hover card-overlay-hover rounded-0 overflow-hidden"
            >
              <img
                src="assets/images/category/directory/06.jpg"
                class=""
                alt=""
              />

              <div class="hover-element w-100 h-100">
                <i
                  class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"
                ></i>
              </div>
            </div>
          </a>
        </div>

        <div>
          <a
            class="w-100 h-100"
            data-glightbox
            data-gallery="gallery"
            href="assets/images/category/directory/05.jpg"
          >
            <div
              class="card card-element-hover card-overlay-hover rounded-0 overflow-hidden"
            >
              <img
                src="assets/images/category/directory/05.jpg"
                class=""
                alt=""
              />

              <div class="hover-element w-100 h-100">
                <i
                  class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"
                ></i>
              </div>
            </div>
          </a>
        </div>

        <div>
          <a
            class="w-100 h-100"
            data-glightbox
            data-gallery="gallery"
            href="assets/images/category/directory/04.jpg"
          >
            <div
              class="card card-element-hover card-overlay-hover rounded-0 overflow-hidden"
            >
              <img
                src="assets/images/category/directory/04.jpg"
                class=""
                alt=""
              />

              <div class="hover-element w-100 h-100">
                <i
                  class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"
                ></i>
              </div>
            </div>
          </a>
        </div>
      </ng-tiny-slider>
    </lightgallery>
  </div>
</section>
