<div class="row g-4">
  @for (item of agentsListData; track $index) {
    <div class="col-md-6 col-lg-4 col-xxl-3">
      <div class="card border h-100">
        <div class="dropdown position-absolute top-0 end-0 m-3" ngbDropdown>
          <a
            href="javascript:void(0);"
            ngbDropdownToggle
            class="arrow-none btn btn-sm btn-light btn-round small mb-0"
            role="button"
            id="dropdownShare1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-three-dots fa-fw"></i>
          </a>

          <ul
            ngbDropdownMenu
            class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded"
            aria-labelledby="dropdownShare1"
          >
            <li>
              <a class="dropdown-item" href="javascript:void(0);"
                ><i class="bi bi-pencil-square fa-fw me-2"></i>Edit</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);"
                ><i class="bi bi-trash fa-fw me-2"></i>Remove</a
              >
            </li>
          </ul>
        </div>

        <div class="card-body text-center pb-0">
          <div class="avatar avatar-xl flex-shrink-0 mb-3">
            @if (item.textAvatar) {
              <div
                class="avatar-img rounded-circle bg-{{
                  item.textAvatar.variant
                }} bg-opacity-10"
              >
                <span
                  class="text-{{
                    item.textAvatar.variant
                  }} position-absolute top-50 start-50 translate-middle fw-bold"
                  >{{ item.textAvatar.label }}</span
                >
              </div>
            } @else {
              <img
                class="avatar-img rounded-circle"
                [src]="item.image"
                alt="avatar"
              />
            }
          </div>

          <h5 class="mb-1">{{ item.name }}</h5>
          <small><i class="bi bi-geo-alt me-1"></i>{{ item.location }}</small>

          <div class="d-flex justify-content-between mt-3">
            <h6 class="mb-0 small">
              <span class="fw-light">Total listings:</span> 0{{
                item.totalListing
              }}
            </h6>
            <h6 class="mb-0 small">
              {{ item.rating | number: '1.1'
              }}<i class="fa-solid fa-star text-warning ms-1"></i>
            </h6>
          </div>
        </div>

        <div class="card-footer d-flex gap-3 align-items-center">
          <a
            [href]="item.link.name"
            class="btn btn-sm btn-primary-soft mb-0 w-100"
            >View detail</a
          >
          <a
            href="javascript:void(0);"
            class="btn btn-sm btn-light flex-shrink-0 mb-0"
            ><i class="bi bi-envelope"></i
          ></a>
        </div>
      </div>
    </div>
  }
</div>
