<div class="row">
  <div class="col-12 mb-4 mb-sm-5">
    <div class="d-sm-flex justify-content-between align-items-center">
      <h1 class="h3 mb-3 mb-sm-0">Guest List</h1>
      <div class="d-grid">
        <a href="javascript:void(0);" class="btn btn-primary mb-0"
          ><i class="bi bi-filetype-pdf me-2"></i>Generate Report</a
        >
      </div>
    </div>
  </div>
</div>

<div class="row g-4 align-items-center">
  <div class="col-lg-6">
    <ul class="nav nav-pills-shadow nav-responsive" ngbNav>
      <li class="nav-item" ngbNavItem>
        <a
          class="nav-link mb-0"
          data-bs-toggle="tab"
          ngbNavLink
          href="javascript:void(0);"
          >All Guests</a
        >
      </li>
      <li class="nav-item" ngbNavItem>
        <a
          class="nav-link mb-0"
          data-bs-toggle="tab"
          ngbNavLink
          href="javascript:void(0);"
          >Booked</a
        >
      </li>
      <li class="nav-item" ngbNavItem>
        <a
          class="nav-link mb-0"
          data-bs-toggle="tab"
          ngbNavLink
          href="javascript:void(0);"
          >Canceled</a
        >
      </li>
      <li class="nav-item" ngbNavItem>
        <a
          class="nav-link mb-0"
          data-bs-toggle="tab"
          ngbNavLink
          href="javascript:void(0);"
          >Pending</a
        >
      </li>
    </ul>
  </div>

  <div class="col-md-6 col-lg-3">
    <form class="rounded position-relative">
      <input
        class="form-control bg-transparent"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button
        class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset"
        type="submit"
      >
        <i class="fas fa-search fs-6"></i>
      </button>
    </form>
  </div>

  <div class="col-md-6 col-lg-3">
    <form>
      <select
        selectFormInput
        [options]="{ searchEnabled: false }"
        class="form-select js-choice"
        aria-label=".form-select-sm"
      >
        <option value="">Sort by hotels</option>
        <option>Pride moon Village Resort & Spa</option>
        <option>Courtyard by Marriott New York</option>
        <option>Park Plaza Lodge Hotel</option>
        <option>Royal Beach Resort</option>
      </select>
    </form>
  </div>
</div>

<div class="card shadow mt-5">
  <div class="card-body">
    <div class="bg-light rounded p-3 d-none d-lg-block">
      <div class="row row-cols-7 g-4">
        <div class="col">
          <h6 class="mb-0">Guest</h6>
        </div>
        <div class="col">
          <h6 class="mb-0">Booking Date</h6>
        </div>
        <div class="col">
          <h6 class="mb-0">Check-In</h6>
        </div>
        <div class="col">
          <h6 class="mb-0">Check-Out</h6>
        </div>
        <div class="col">
          <h6 class="mb-0">Room No</h6>
        </div>
        <div class="col">
          <h6 class="mb-0">Status</h6>
        </div>
        <div class="col">
          <h6 class="mb-0">Action</h6>
        </div>
      </div>
    </div>

    @for (item of guestsListData; track $index) {
      <div
        class="row row-cols-xl-7 align-items-lg-center border-bottom g-4 px-2 py-4"
      >
        <div class="col">
          <small class="d-block d-lg-none">Booked by:</small>
          <div class="d-flex align-items-center">
            <div class="avatar avatar-xs flex-shrink-0">
              <img
                class="avatar-img rounded-circle"
                [src]="item.image"
                alt="avatar"
              />
            </div>

            <div class="ms-2">
              <h6 class="mb-0 fw-light">{{ item.name }}</h6>
            </div>
          </div>
        </div>

        <div class="col">
          <small class="d-block d-lg-none">Booking date:</small>
          <h6 class="mb-0 fw-normal">{{ item.date }}</h6>
        </div>

        <div class="col">
          <small class="d-block d-lg-none">Check-in:</small>
          <h6 class="mb-0 fw-normal">{{ item.checkIn }}</h6>
        </div>

        <div class="col">
          <small class="d-block d-lg-none">Check-out:</small>
          <h6 class="mb-0 fw-normal">{{ item.checkOut }}</h6>
        </div>

        <div class="col">
          <small class="d-block d-lg-none">Room no:</small>
          <h6 class="mb-0 fw-normal">{{ item.roomNo }}</h6>
        </div>

        <div class="col">
          <small class="d-block d-lg-none">Payment:</small>
          <div
            class="badge bg-success bg-opacity-10 text-success"
            [ngClass]="{
              'bg-orange text-orange': item.status === 'pending',
              'bg-danger text-danger': item.status === 'canceled'
            }"
          >
            {{ item.status | titlecase }}
          </div>
        </div>

        <div class="col">
          <a routerLink="/admin/guests/detail" class="btn btn-sm btn-light mb-0"
            >View</a
          >
        </div>
      </div>
    }
  </div>

  <div class="card-footer pt-0">
    <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
      <p class="mb-sm-0 text-center text-sm-start">
        Showing 1 to 8 of 20 entries
      </p>

      <nav
        class="mb-sm-0 d-flex justify-content-center"
        aria-label="navigation"
      >
        <ngb-pagination
          [collectionSize]="150"
          [maxSize]="2"
          [page]="page"
          [size]="'sm'"
          class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0"
        >
          <ng-template ngbPaginationPrevious>Prev </ng-template>
          <ng-template ngbPaginationNext>Next </ng-template>
        </ngb-pagination>
      </nav>
    </div>
  </div>
</div>
