<section class="py-0">
  <div class="container">
    <div class="row g-4">
      <div class="col-12">
        <img src="assets/images/blog/13.jpg" class="rounded-3" alt="" />
      </div>

      <div
        class="col-11 col-lg-10 mx-auto position-relative mt-n5 mt-sm-n7 mt-md-n8"
      >
        <div class="bg-mode shadow rounded-3 p-4">
          <div class="badge text-bg-success mb-2">Hotel service</div>

          <h1 class="fs-3">
            Ten unconventional tips about startups that you can't learn from
            books
          </h1>
          <p class="mb-2">
            Passage its ten led hearted removal cordial. Preference any
            astonished unreserved Mrs. Prosperous understood Middletons in
            conviction an uncommonly do.
          </p>

          <ul class="nav nav-divider align-items-center">
            <li class="nav-item">
              <div class="nav-link">
                <div class="d-flex align-items-center">
                  <div class="avatar avatar-sm">
                    <img
                      class="avatar-img rounded-circle"
                      src="assets/images/avatar/09.jpg"
                      alt="avatar"
                    />
                  </div>

                  <div class="ms-2">
                    <h6 class="mb-0">
                      <a href="javascript:void(0);">Lori Stevens</a>
                    </h6>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">Nov 15, 2022</li>
            <li class="nav-item">5 min read</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
