<section class="pt-0 pt-md-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bg-light p-4 p-sm-5 rounded-3">
          <h2 class="fs-3 text-center mb-4 mb-sm-5">Why Working with us</h2>

          <div class="row g-4">
            @for (item of benefits; track $index) {
              <div class="col-md-6">
                <div class="card card-body p-4">
                  <div>
                    <img [src]="item.image" class="h-70px mb-3" alt="" />
                  </div>
                  <h5>{{ item.title }}</h5>
                  <p class="mb-0">{{ item.description }}</p>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
