<booking-topbar />

<main>
  <section class="py-0">
    <div class="container">
      <booking-breadcrumb />
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row g-4 g-lg-5">
        <div class="col-xl-8">
          <div class="vstack gap-5">
            <booking-information />

            <booking-guestdetail />

            <booking-payment-option />
          </div>
        </div>

        <aside class="col-xl-4">
          <div class="row g-4">
            <div class="col-md-6 col-xl-12">
              <booking-price-summary />
            </div>

            <div class="col-md-6 col-xl-12">
              <booking-offer-discount />
            </div>

            <div class="col-md-6 col-xl-12">
              <booking-login-advantage />
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>
</main>
<hotel-booking-footer />
