<sticky-header-component>
  <nav class="navbar navbar-expand-xl">
    <div class="container">
      <app-logo-box />

      <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
        <li
          class="nav-item align-items-center d-none d-sm-flex position-relative me-sm-3"
        >
          <a
            href="javascript:void(0);"
            class="icon-md btn btn-light mb-0 p-0 flex-shrink-0"
            ><i class="bi bi-cloud-download-fill"></i
          ></a>
          <div class="ms-2 d-none d-md-block">
            <h6 class="mb-0">
              <a href="javascript:void(0);" class="stretched-link"
                >Download the app</a
              >
            </h6>
            <p class="small mb-0 text-body">Get exciting welcome offers</p>
          </div>
        </li>

        <li class="nav-item dropdown" ngbDropdown>
          <a
            class="icon-md btn btn-light mb-0 p-0 arrow-none"
            ngbDropdownToggle
            href="javascript:void(0);"
            id="languageDropdown"
            role="button"
            data-bs-auto-close="outside"
            data-bs-display="static"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-globe"> </i>
          </a>
          <ul
            ngbDropdownMenu
            class="dropdown-menu dropdown-animation dropdown-menu-end min-w-auto mt-2"
            aria-labelledby="languageDropdown"
          >
            <li>
              <a class="dropdown-item me-4" href="javascript:void(0);"
                ><img
                  class="fa-fw me-2"
                  src="assets/images/flags/uk.svg"
                  alt=""
                />English</a
              >
            </li>
            <li>
              <a class="dropdown-item me-4" href="javascript:void(0);"
                ><img
                  class="fa-fw me-2"
                  src="assets/images/flags/sp.svg"
                  alt=""
                />Español</a
              >
            </li>
            <li>
              <a class="dropdown-item me-4" href="javascript:void(0);"
                ><img
                  class="fa-fw me-2"
                  src="assets/images/flags/fr.svg"
                  alt=""
                />Français</a
              >
            </li>
            <li>
              <a class="dropdown-item me-4" href="javascript:void(0);"
                ><img
                  class="fa-fw me-2"
                  src="assets/images/flags/gr.svg"
                  alt=""
                />Deutsch</a
              >
            </li>
          </ul>
        </li>

        <li class="nav-item ms-3">
          <a routerLink="/auth/sign-up" class="btn btn-sm btn-primary mb-0"
            ><i class="fa-solid fa-right-to-bracket me-2"></i>Sign up</a
          >
        </li>
      </ul>
    </div>
  </nav>
</sticky-header-component>
