<div class="row g-4 g-xl-5 mb-5">
  <div class="col-md-6 col-lg-4">
    <div class="bg-light p-4 rounded text-center">
      <h6 class="fw-normal">Total Reviews</h6>
      <div class="d-flex align-items-center justify-content-center">
        <h2 class="mb-0 me-2">11.01K</h2>
        <div class="badge bg-success bg-opacity-10 text-success">
          21% <i class="bi bi-graph-up"></i>
        </div>
      </div>
      <p class="mb-0">Growth in reviews this year</p>
    </div>
  </div>

  <div class="col-md-6 col-lg-4">
    <div class="bg-light p-4 rounded text-center">
      <h6 class="fw-normal">Average Rating</h6>
      <div class="d-flex align-items-center justify-content-center">
        <h2 class="mb-0 me-2">4.0</h2>
        <ul class="list-inline mb-0">
          <li class="list-inline-item me-1">
            <i class="fa-solid fa-star text-warning"></i>
          </li>
          <li class="list-inline-item me-1">
            <i class="fa-solid fa-star text-warning"></i>
          </li>
          <li class="list-inline-item me-1">
            <i class="fa-solid fa-star text-warning"></i>
          </li>
          <li class="list-inline-item me-1">
            <i class="fa-solid fa-star text-warning"></i>
          </li>
          <li class="list-inline-item">
            <i class="fa-solid fa-star text-secondary"></i>
          </li>
        </ul>
      </div>
      <p class="mb-0">Average rating on this year</p>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="bg-light p-4 rounded">
      <div class="row gx-3 g-0 align-items-center">
        <div class="col-9 col-sm-10">
          <ngb-progressbar
            type="warning"
            [value]="95"
            [height]="'3px'"
            class=""
          />
        </div>
        <div class="col-3 col-sm-2 text-end">
          <small class="h6 fw-light mb-0">85%</small>
        </div>

        <div class="col-9 col-sm-10">
          <ngb-progressbar type="warning" [value]="75" [height]="'3px'" />
        </div>
        <div class="col-3 col-sm-2 text-end">
          <small class="h6 fw-light mb-0">75%</small>
        </div>

        <div class="col-9 col-sm-10">
          <ngb-progressbar type="warning" [value]="60" [height]="'3px'" />
        </div>
        <div class="col-3 col-sm-2 text-end">
          <small class="h6 fw-light mb-0">60%</small>
        </div>

        <div class="col-9 col-sm-10">
          <ngb-progressbar type="warning" [value]="35" [height]="'3px'" />
        </div>
        <div class="col-3 col-sm-2 text-end">
          <small class="h6 fw-light mb-0">35%</small>
        </div>

        <div class="col-9 col-sm-10">
          <ngb-progressbar type="warning" [value]="20" [height]="'3px'" />
        </div>
        <div class="col-3 col-sm-2 text-end">
          <small class="h6 fw-light mb-0">15%</small>
        </div>
      </div>
    </div>
  </div>
</div>
