<div class="card bg-transparent p-0">
  <div class="card-header bg-transparent p-0">
    <h1 class="card-title fs-2 mb-0">Enter Your Payment Details</h1>
  </div>

  <div class="card-body p-0 mt-3">
    <ngb-alert [dismissible]="false" type="success" role="alert">
      Hey' you are saving<strong class="mx-1">{{ currencyType }}2,560</strong
      >discount using coupon code
    </ngb-alert>

    <form
      class="bg-light rounded-3 p-4"
      [formGroup]="paymentForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="d-sm-flex justify-content-sm-between align-items-center mb-3">
        <h6 class="mb-2 mb-sm-0">We Accept:</h6>
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a href="javascript:void(0);"
              ><img
                src="assets/images/element/visa.svg"
                class="h-30px me-1"
                alt=""
            /></a>
          </li>
          <li class="list-inline-item">
            <a href="javascript:void(0);"
              ><img
                src="assets/images/element/mastercard.svg"
                class="h-30px me-1"
                alt=""
            /></a>
          </li>
          <li class="list-inline-item">
            <a href="javascript:void(0);"
              ><img
                src="assets/images/element/expresscard.svg"
                class="h-30px"
                alt=""
            /></a>
          </li>
        </ul>
      </div>

      <div class="row g-3">
        <div class="col-12">
          <label class="form-label"
            ><span class="h6 fw-normal">Card Number *</span></label
          >
          <div class="position-relative">
            <input
              type="text"
              class="form-control"
              formControlName="cardnumber"
              mask="0000 0000 0000 0000"
              [ngClass]="{ 'is-invalid': submit && form['cardnumber'].errors }"
              placeholder="XXXX XXXX XXXX XXXX"
            />
            <img
              src="assets/images/element/visa.svg"
              class="w-30px position-absolute top-50 end-0 translate-middle-y me-2 d-none d-sm-block"
              alt=""
            />
          </div>
        </div>

        <div class="col-md-6">
          <label class="form-label"
            ><span class="h6 fw-normal">Expiration date *</span></label
          >
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              maxlength="2"
              formControlName="month"
              maxlength="2"
              mask="00"
              [ngClass]="{ 'is-invalid': submit && form['month'].errors }"
              placeholder="Month"
            />
            <input
              type="text"
              class="form-control"
              maxlength="4"
              formControlName="year"
              maxlength="4"
              mask="0000"
              [ngClass]="{ 'is-invalid': submit && form['year'].errors }"
              placeholder="Year"
            />
          </div>
        </div>
        <!--Cvv code  -->
        <div class="col-md-6">
          <label class="form-label"
            ><span class="h6 fw-normal">CVV / CVC *</span></label
          >
          <input
            type="text"
            class="form-control"
            formControlName="cvv"
            maxlength="3"
            mask="000"
            [ngClass]="{ 'is-invalid': submit && form['cvv'].errors }"
            mask="000"
            maxlength="3"
            placeholder="XXX"
          />
        </div>

        <div class="col-12">
          <label class="form-label"
            ><span class="h6 fw-normal">Name on Card *</span></label
          >
          <input
            type="text"
            class="form-control"
            formControlName="name"
            aria-label="name of card holder"
            [ngClass]="{ 'is-invalid': submit && form['name'].errors }"
            aria-label="name of card holder"
            placeholder="Enter card holder name"
          />
        </div>

        <div class="col-12">
          <button class="btn btn-primary w-100 mb-0">Pay Now</button>
        </div>
      </div>
    </form>
  </div>
</div>
