<div class="card shadow">
  <div class="card-header p-4 border-bottom">
    <h3 class="mb-0">
      <i class="fa-solid fa-hotel me-2"></i>Hotel Information
    </h3>
  </div>

  <div class="card-body p-4">
    <div class="card mb-4">
      <div class="row align-items-center">
        <div class="col-sm-6 col-md-3">
          <img
            src="assets/images/category/hotel/4by3/02.jpg"
            class="card-img"
            alt=""
          />
        </div>

        <div class="col-sm-6 col-md-9">
          <div class="card-body pt-3 pt-sm-0 p-0">
            <h5 class="card-title">
              <a href="javascript:void(0);">Pride moon Village Resort & Spa</a>
            </h5>
            <p class="small mb-2">
              <i class="bi bi-geo-alt me-2"></i>5855 W Century Blvd, Los Angeles
              - 90045
            </p>

            <ul class="list-inline mb-0">
              <li class="list-inline-item me-0 small">
                <i class="fa-solid fa-star text-warning me-1"></i>
              </li>
              <li class="list-inline-item me-0 small">
                <i class="fa-solid fa-star text-warning me-1"></i>
              </li>
              <li class="list-inline-item me-0 small">
                <i class="fa-solid fa-star text-warning me-1"></i>
              </li>
              <li class="list-inline-item me-0 small">
                <i class="fa-solid fa-star text-warning me-1"></i>
              </li>
              <li class="list-inline-item me-0 small">
                <i class="fa-solid fa-star-half-alt text-warning me-1"></i>
              </li>
              <li class="list-inline-item ms-2 h6 small fw-bold mb-0">
                4.5/5.0
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-4">
      <div class="col-lg-4">
        <div class="bg-light py-3 px-4 rounded-3">
          <h6 class="fw-light small mb-1">Check-in</h6>
          <h5 class="mb-1">4 March 2022</h5>
          <small><i class="bi bi-alarm me-1"></i>12:30 pm</small>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="bg-light py-3 px-4 rounded-3">
          <h6 class="fw-light small mb-1">Check out</h6>
          <h5 class="mb-1">8 March 2022</h5>
          <small><i class="bi bi-alarm me-1"></i>4:30 pm</small>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="bg-light py-3 px-4 rounded-3">
          <h6 class="fw-light small mb-1">Rooms & Guests</h6>
          <h5 class="mb-1">2 G - 1 R</h5>
          <small
            ><i class="bi bi-brightness-high me-1"></i>3 Nights - 4 Days</small
          >
        </div>
      </div>
    </div>

    <div class="card border mt-4">
      <div
        class="card-header border-bottom d-md-flex justify-content-md-between"
      >
        <h5 class="card-title mb-0">Deluxe Pool View with Breakfast</h5>
        <a href="javascript:void(0);" class="btn btn-link p-0 mb-0"
          >View Cancellation Policy</a
        >
      </div>

      <div class="card-body">
        <h6>Price Included</h6>

        <ul class="list-group list-group-borderless mb-0">
          <li class="list-group-item h6 fw-light d-flex mb-0">
            <i class="bi bi-patch-check-fill text-success me-2"></i>Free
            Breakfast and Lunch/Dinner.
          </li>
          <li class="list-group-item h6 fw-light d-flex mb-0">
            <i class="bi bi-patch-check-fill text-success me-2"></i>Great Small
            Breaks.
          </li>
          <li class="list-group-item h6 fw-light d-flex mb-0">
            <i class="bi bi-patch-check-fill text-success me-2"></i>Free Stay
            for Kids Below the age of 12 years.
          </li>
          <li class="list-group-item h6 fw-light d-flex mb-0">
            <i class="bi bi-patch-check-fill text-success me-2"></i>On
            Cancellation, You will not get any refund
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
