<section class="overflow-hidden pt-0 pt-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center mx-auto">
        <img
          src="assets/images/element/congratulations.svg"
          class="h-300px my-4"
          alt=""
        />

        <h1 class="fs-3">Your listing has been submitted successfully. 🎉</h1>

        <p>
          We will review your item shortly. You will be informed by email that
          your listing has been accepted. Also, make sure your
          <a href="javascript:void(0);">Payment and Tax information</a> is
          correct and valid.
        </p>

        <a routerLink="/listings/add" class="btn btn-primary mb-5 me-1"
          >Preview</a
        >
        <a routerLink="/" class="btn btn-light mb-5 ms-1">Back to Homepage</a>
      </div>
    </div>
  </div>
</section>
