<section class="pt-4 pt-md-5">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h1 class="display-1 mb-0">The Blog</h1>
      </div>
    </div>

    <div class="row g-4">
      <div class="col-lg-6">
        <div class="card bg-transparent mb-4 mb-sm-0">
          <div class="position-relative">
            <img src="assets/images/blog/10.jpg" class="card-img" alt="" />

            <div
              class="card-img-overlay d-flex align-items-start flex-column p-3"
            >
              <a href="javascript:void(0);" class="badge bg-dark">Adventure</a>
            </div>
          </div>

          <div class="card-body px-3 pb-0">
            <span><i class="bi bi-calendar2-plus me-2"></i>April 28, 2022</span>

            <h5 class="card-title">
              <a routerLink="/blogs/detail"
                >7 common mistakes everyone makes while traveling</a
              >
            </h5>
            <p class="mb-0">
              Prospective agents should start broadly and then narrow their list
              down to.
            </p>

            <div class="d-flex justify-content-between align-items-center mt-2">
              <h6 class="mb-0">
                By <a href="javascript:void(0);">Joan Wallace</a>
              </h6>
              <a routerLink="/blogs/detail" class="btn btn-link p-0 mb-0"
                >Read more <i class="bi bi-arrow-up-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 ps-lg-5">
        <div class="vstack gap-4">
          @for (data of blogData; track $index; let last = $last) {
            <div class="card bg-transparent">
              <div class="row g-3 g-sm-4 align-items-sm-center">
                <div class="col-4">
                  <img [src]="data.image" class="card-img" alt="" />
                </div>
                <div class="col-8">
                  <div class="card-body p-0">
                    <h5 class="card-title mb-sm-3">
                      <a routerLink="/blogs/detail" class="stretched-link">{{
                        data.title
                      }}</a>
                    </h5>

                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <span class="small"
                        ><i class="bi bi-calendar2-plus me-2"></i
                        >{{ data.date }}</span
                      >
                      <a
                        routerLink="/blogs/detail"
                        class="btn btn-link p-0 mb-0"
                        >Read more <i class="bi bi-arrow-up-right"></i
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            @if (!last) {
              <hr class="my-0" />
            }
          }
        </div>
      </div>
    </div>
  </div>
</section>
