<section class="pt-5 pt-md-8 pb-0">
  <div class="container-fluid px-lg-5">
    <div class="row mb-4">
      <div class="col-12 text-center">
        <h2>Our Exciting Experience</h2>
      </div>
    </div>

    <div class="tiny-slider arrow-round arrow-blur rounded-3 overflow-hidden">
      <div class="tiny-slider-inner">
        <ng-tiny-slider [config]="experienceSliderSettings" #experienceSlider>
          @for (data of experienceList; track $index) {
            <div>
              <div class="card card-metro overflow-hidden">
                <img [src]="data.image" alt="" />

                <div class="card-img-overlay d-flex">
                  <div class="card-text mt-auto">
                    <h4>
                      <a
                        href="javascript:void(0);"
                        class="text-white stretched-link"
                        >{{ data.title }}</a
                      >
                    </h4>
                    <p class="text-white mb-2">{{ data.description }}</p>
                    <button class="btn btn-link text-white p-0 mb-0">
                      Explore now
                      <i class="fa-solid fa-arrow-right-long fa-fw"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          }
        </ng-tiny-slider>
      </div>
    </div>
  </div>
</section>
