<div
  ng-sticky
  class="sticky-element"
  data-margin-top="80"
  data-margin-bottom="100"
  data-sticky-for="1199"
>
  <div class="card card-body bg-light p-4">
    <h6 class="text-danger fw-normal">Hurry! Limited cars left</h6>

    <ul class="list-group list-group-borderless mb-0">
      <li class="list-group-item d-flex justify-content-between">
        <span class="h6 fw-light mb-0">Base Price</span>
        <span class="h6 fw-light mb-0">{{ currencyType }}260</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span class="h6 fw-light mb-0">State Tax</span>
        <span class="h6 fw-light mb-0">{{ currencyType }}50</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span class="h6 fw-light mb-0">Night Charge</span>
        <span class="h6 fw-light mb-0">{{ currencyType }}100</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span class="h6 fw-light mb-0">Convenience Fee</span>
        <span class="h6 fw-light mb-0">{{ currencyType }}25</span>
      </li>
      <li class="list-group-item py-0">
        <hr class="my-0" />
      </li>

      <li class="list-group-item d-flex justify-content-between pb-0">
        <span class="h5 fw-normal mb-0">Total</span>
        <span class="h5 fw-normal mb-0">{{ currencyType }}435</span>
      </li>
    </ul>

    <div class="d-grid mt-4 gap-2">
      <div class="form-check form-check-inline mb-0">
        <input
          class="form-check-input"
          type="radio"
          name="discountOptions"
          id="discount1"
          value="option1"
          checked=""
        />
        <label class="form-check-label h6 fw-normal mb-0" for="discount1"
          >Pay {{ currencyType }}220 now (Half Payment)</label
        >
      </div>

      <div class="form-check form-check-inline mb-0">
        <input
          class="form-check-input"
          type="radio"
          name="discountOptions"
          id="discount2"
          value="option2"
        />
        <label class="form-check-label h6 fw-normal mb-0" for="discount2"
          >Pay {{ currencyType }}435 now (Full payment)</label
        >
      </div>

      <a routerLink="/cabs/booking" class="btn btn-dark mb-0 mt-2">Pay Now</a>
    </div>
  </div>
</div>
