<div class="col-lg-6 d-flex align-items-center order-2 order-lg-1">
  <div class="p-3 p-lg-5">
    <img src="assets/images/element/signin.svg" alt="" />
  </div>

  <div class="vr opacity-1 d-none d-lg-block"></div>
</div>

<div class="col-lg-6 order-1">
  <div class="p-4 p-sm-7">
    <a routerLink="/">
      <img class="h-50px mb-4" src="assets/images/logo.png" alt="logo" />
    </a>

    <h1 class="mb-2 h3">Content de vous revoir !</h1>
    <p class="mb-0">
      Nouveau ici ?<a routerLink="/auth/sign-up"> Creer un compte</a>
    </p>

    <form novalidate="" [formGroup]="signinForm" class="mt-4 text-start">
      <div class="mb-3">
        <label class="form-label">Email ou Nom d'utilisateur</label>
        <input
          type="text"
          formControlName="userName"
          class="form-control"

        />
        <div class="invalid-feedback">Veillez entrer votre Email ou Nom d'utilisateur svp</div>
      </div>

      <div class="mb-3 position-relative">
        <label class="form-label">Mot de passe</label>
        <input
          class="form-control fakepassword"
          formControlName="password"
          [type]="passwordType ? 'password' : 'text'"
          id="psw-input"
        />
        <span
          class="position-absolute top-50 end-0 translate-middle-y p-0 mt-3"
        >
          <i
            class="fakepasswordicon fas fa-eye-slash cursor-pointer p-2"
            [ngClass]="{ 'fa-eye': !passwordType }"
            (click)="changeType()"
          ></i>
        </span>
        <div class="invalid-feedback">Veillez entrer votre Mot de passe svp</div>
      </div>

      <div class="mb-3 d-sm-flex justify-content-between">
        <div>
          <input
            type="checkbox"
            class="form-check-input me-1"
            id="rememberCheck"
          />
          <label class="form-check-label" for="rememberCheck"
            >Se souvenir de moi ?</label
          >
        </div>
        <a routerLink="/auth/forgot-password">Mot de passe oublié ?</a>
      </div>

      <div>
        <button type="submit" (click)="submitData()" class="btn btn-primary w-100 mb-0">Se connecter</button>
      </div>

      <div class="position-relative my-4">
        <hr />
        <p
          class="small bg-mode position-absolute top-50 start-50 translate-middle px-2"
        >
          Ou
        </p>
      </div>

      <div class="vstack gap-3">
        <a href="javascript:void(0);" class="btn btn-light mb-0"
          ><i class="fab fa-fw fa-google text-google-icon me-2"></i>Se connecter avec
          Google</a
        >
        <a href="javascript:void(0);" class="btn btn-light mb-0"
          ><i class="fab fa-fw fa-facebook-f text-facebook me-2"></i>Se connecter
          avec Facebook</a
        >
      </div>


    </form>
  </div>
</div>
