<div class="card border">
  <div
    class="card-header d-sm-flex justify-content-sm-between align-items-center"
  >
    <div class="d-flex align-items-center mb-2 mb-sm-0">
      <img src="assets/images/element/avs.png" class="w-30px me-2" alt="" />
      <h6 class="fw-normal mb-0">AVS (FFR - 5682)</h6>
    </div>
    <h6 class="fw-normal mb-0">
      <span class="text-body">Travel Class:</span> Economy
    </h6>
  </div>

  <div class="card-body p-4 pb-0">
    <div class="row g-4">
      <div class="col-sm-4 col-md-3">
        <h4>14:50</h4>
        <p class="mb-0">BOM - Terminal 2 Mumbai, India</p>
      </div>

      <div class="col-sm-4 col-md-3 my-sm-auto text-center">
        <h5>9hr 50min</h5>
        <div class="position-relative my-4">
          <hr class="bg-primary opacity-5 position-relative" />

          <div
            class="icon-md bg-primary text-white rounded-circle position-absolute top-50 start-50 translate-middle"
          >
            <i class="fa-solid fa-fw fa-plane rtl-flip"></i>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-md-3">
        <h4>07:35</h4>
        <p class="mb-0">JFK - Terminal 2 New York, USA</p>
      </div>

      <div class="col-md-3 text-md-end">
        <h4>{{ currencyType }}18,500</h4>
        <a routerLink="/flights/detail" class="btn btn-dark mb-0 mb-sm-2"
          >Book Now</a
        >
        <button
          class="btn btn-link text-decoration-underline p-0 mb-0 ms-1"
          (click)="open()"
          data-bs-toggle="modal"
          data-bs-target="#flightdetail"
        >
          <i class="bi bi-eye-fill me-1"></i>Flight Details
        </button>
      </div>
    </div>
  </div>

  <div class="card-footer pt-4">
    <ul
      class="list-inline bg-light rounded-2 d-sm-flex text-center justify-content-sm-between mb-0 px-4 py-2"
    >
      <li class="list-inline-item text-danger">Only 10 Seat Left</li>
      <li class="list-inline-item text-danger">Non-Refundable</li>
    </ul>
  </div>
</div>
