<div class="card shadow h-100">
  <div class="card-header border-bottom">
    <h5 class="card-header-title">Room Availability</h5>
  </div>

  <div class="card-body p-3">
    <div class="col-sm-6 mx-auto">
      <div class="d-flex justify-content-center" id="ChartTrafficRooms">
        <apx-chart
          [series]="roomAvailibility.series!"
          [colors]="roomAvailibility.colors!"
          [chart]="roomAvailibility.chart!"
          [grid]="roomAvailibility.grid!"
          [dataLabels]="roomAvailibility.dataLabels!"
          [stroke]="roomAvailibility.stroke!"
          [legend]="roomAvailibility.legend!"
          [xaxis]="roomAvailibility.xaxis!"
          [tooltip]="roomAvailibility.tooltip!"
        ></apx-chart>
      </div>
    </div>

    <ul class="list-group list-group-borderless mb-0">
      <li class="list-group-item d-flex justify-content-between">
        <span class="h6 fw-light mb-0"
          ><i class="text-success fas fa-circle me-2"></i> Available</span
        >
        <span class="h6 fw-light mb-0">73 Rooms</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span class="h6 fw-light mb-0"
          ><i class="text-danger fas fa-circle me-2"></i> Sold Out</span
        >
        <span class="h6 fw-light mb-0">245 Rooms</span>
      </li>
    </ul>
  </div>
</div>
