<header class="header-transparent">
  <nav class="navbar navbar-expand-xl navbar-dark">
    <div class="container">
      <app-logo-box [onlyDark]="true" />
      <vertical-menu-button
        [showText]="false"
        className="ms-auto mx-3 me-xl-0 p-0 p-sm-1"
      />
      <app-menu
        [startBookingMenu]="false"
        [showExtraPages]="true"
        [menuClassName]="'me-auto'"
      />
      <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
        <app-notification-dropdown className="me-3" />
        <app-theme-switcher
          [className]="'me-3'"
          [btnclassName]="'nav-notification btn btn-light lh-0 p-0 mb-0'"
        />
        <app-profile-dropdown [showThemeToggler]="false" />
      </ul>
    </div>
  </nav>
</header>
