<section class="pt-0 pt-md-5">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12 text-center">
        <h2 class="mb-0">Our Best Packages</h2>
      </div>
    </div>

    <div class="row g-4">
      @for (item of tourPackages; track $index) {
        <div class="col-sm-6 col-xl-3">
          <div class="card card-img-scale overflow-hidden bg-transparent">
            <div class="card-img-scale-wrapper rounded-3">
              <img [src]="item.image" class="card-img" alt="" />

              <div class="card-img-overlay d-flex flex-column z-index-1 p-4">
                <div class="d-flex justify-content-between">
                  <span class="badge text-bg-dark">{{ item.type }}</span>
                  <span class="badge text-bg-white"
                    ><i class="fa-solid fa-star text-warning me-2"></i
                    >{{ item.rating }}</span
                  >
                </div>

                <div class="w-100 mt-auto">
                  <span class="badge text-bg-white fs-6"
                    >{{ item.days }} days / {{ item.nights }} nights</span
                  >
                </div>
              </div>
            </div>

            <div class="card-body px-2">
              <h5 class="card-title">
                <a routerLink="/tours/grid" class="stretched-link">{{
                  item.name
                }}</a>
              </h5>

              <div class="hstack gap-2">
                <span class="h5 mb-0 text-success"
                  >{{ currencyType }}{{ item.price }}</span
                >
                <small>Starting price</small>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
