<div class="card shadow mt-4">
  <div class="card-header border-bottom">
    <h5 class="card-header-title">Active Logs</h5>
  </div>

  <div class="card-body">
    <div class="table-responsive border-0">
      <table class="table align-middle p-4 mb-0 table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col" class="border-0 rounded-start">Browser</th>
            <th scope="col" class="border-0">IP</th>
            <th scope="col" class="border-0">Time</th>
            <th scope="col" class="border-0 rounded-end">Action</th>
          </tr>
        </thead>

        <tbody>
          @for (item of activeLogsData; track $index) {
            <tr>
              <td>{{ item.browser }}</td>

              <td>{{ item.ip }}</td>

              <td>{{ item.time }}</td>

              <td>
                <button class="btn btn-sm btn-danger-soft me-1 mb-1 mb-md-0">
                  Sign out
                </button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
