<section class="py-0">
  <div class="container">
    <div
      class="rounded-3 p-4 p-sm-5"
      style="
        background-image: url(assets/images/bg/07.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      "
    >
      <div class="row">
        <div class="col-md-6">
          <h1 class="h2 text-white mb-3">#Weekly Saving on Remove.com</h1>

          <div class="bg-warning rounded-2 p-3 mb-3">
            <h5 class="text-dark">Get Up To</h5>
            <h4 class="text-dark mb-0">25% Off on Travel Booking</h4>
          </div>

          <p class="text-white mb-3">
            Expand knowledge by reading book Two before narrow not relied on.
          </p>
          <a href="javascript:void(0);" class="btn btn-dark mb-0"
            >View all Listing<i class="bi bi-arrow-right fa-fw ms-2"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
