<section class="pt-4">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <h1 class="fs-3">Luxury Room with Balcony</h1>

        <p class="fw-bold mb-0">
          <i class="bi bi-geo-alt me-2"></i>5855 W Century Blvd, Los Angeles -
          90045
        </p>
      </div>
    </div>

    <div class="tiny-slider arrow-round arrow-blur">
      <div
        class="tiny-slider-inner"
        data-autoplay="true"
        data-arrow="true"
        data-edge="0"
        data-dots="false"
        data-items="2"
        data-items-sm="1"
      >
        <lightgallery [settings]="settings">
          <ng-tiny-slider [config]="gallerysliderSetting" #gallerySlider>
            @for (data of galleryList; track $index) {
              <div>
                <a class="w-100 h-100" data-gallery="gallery" [href]="data">
                  <div
                    class="card card-element-hover card-overlay-hover overflow-hidden"
                  >
                    <img [src]="data" class="rounded-3" alt="" />

                    <div class="hover-element w-100 h-100">
                      <i
                        class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"
                      ></i>
                    </div>
                  </div>
                </a>
              </div>
            }
          </ng-tiny-slider>
        </lightgallery>
      </div>
    </div>
  </div>
</section>
