<section class="pt-0 pt-md-5">
  <div class="container">
    <div
      class="text-center position-relative py-5"
      style="
        background-image: url(assets/images/element/map.svg);
        background-position: center left;
        background-size: cover;
      "
    >
      <div class="avatar position-absolute top-50 end-0 mt-5 me-7">
        <img
          class="avatar-img rounded-circle border border-2 border-light d-none d-md-block"
          src="assets/images/avatar/09.jpg"
          alt="avatar"
        />
      </div>

      <div class="avatar avatar-lg position-absolute top-0 end-0 mt-5">
        <img
          class="avatar-img rounded-circle border border-2 border-light d-none d-lg-block"
          src="assets/images/avatar/05.jpg"
          alt="avatar"
        />
      </div>

      <div class="avatar position-absolute top-50 start-0 ms-5">
        <img
          class="avatar-img rounded-circle border border-2 border-light d-none d-md-block"
          src="assets/images/avatar/04.jpg"
          alt="avatar"
        />
      </div>

      <div
        class="avatar avatar-sm position-absolute bottom-0 start-0 mb-5 ms-8"
      >
        <img
          class="avatar-img rounded-circle border border-2 border-light d-none d-md-block"
          src="assets/images/avatar/07.jpg"
          alt="avatar"
        />
      </div>

      <div class="avatar avatar-lg position-absolute top-0 start-0 mt-5">
        <img
          class="avatar-img rounded-circle border border-2 border-light d-none d-lg-block"
          src="assets/images/avatar/06.jpg"
          alt="avatar"
        />
      </div>

      <div class="row mb-5">
        <div class="col-12">
          <h2>Hear From Our Happy Clients</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9 col-xl-7 mx-auto">
          <div class="tiny-slider dots-primary">
            <ng-tiny-slider
              [config]="bannerSliderSettings"
              #bannerSlider
              class="tiny-slider-inner"
              data-autoplay="true"
              data-arrow="false"
              data-dots="true"
              data-edge="2"
              data-items="1"
            >
              @for (item of testimonialSlides; track $index) {
                <div>
                  <div class="avatar avatar-xl mb-4">
                    <img
                      class="avatar-img rounded-circle"
                      [src]="item.image"
                      alt="avatar"
                    />
                  </div>

                  <p class="h5 fw-light mb-3">{{ item.description }}</p>
                  <ul class="list-inline small mb-3">
                    <li class="list-inline-item me-0">
                      <i class="fa-solid fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0">
                      <i class="fa-solid fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0">
                      <i class="fa-solid fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item me-0">
                      <i class="fa-solid fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fa-solid fa-star-half-alt text-warning"></i>
                    </li>
                  </ul>
                  <h5 class="mb-0">{{ item.name }}</h5>
                  <span>{{ item.position }}</span>
                </div>
              }
            </ng-tiny-slider>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
