<div class="row g-4">
  <div class="col-md-6 col-lg-3">
    <div class="card card-body border p-4 h-100">
      <h6 class="mb-0">Sales this month</h6>
      <h3 class="mb-2 mt-2">{{ currencyType }}12,825</h3>
      <a href="javascript:void(0);" class="mt-auto">View transaction</a>
    </div>
  </div>

  <div class="col-md-6 col-lg-3">
    <div class="card card-body border p-4 h-100">
      <h6>
        To be paid
        <a
          tabindex="0"
          class="h6 mb-0"
          role="button"
          data-bs-trigger="focus"
          placement="top"
          ngbPopover="After US royalty withholding tax"
        >
          <i class="bi bi-info-circle-fill small"></i>
        </a>
      </h6>
      <h3>{{ currencyType }}15,356</h3>
      <p class="mb-0 mt-auto">Expected payout on 05/10/2022</p>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card bg-primary p-4">
      <div class="d-flex justify-content-between align-items-start text-white">
        <img class="w-40px" src="assets/images/element/visa.svg" alt="" />

        <div class="dropdown" ngbDropdown>
          <a
            class="text-white arrow-none"
            ngbDropdownToggle
            href="javascript:void(0);"
            id="creditcardDropdown"
            role="button"
            data-bs-toggle="dropdown"
            data-bs-auto-close="outside"
            aria-expanded="false"
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle fill="currentColor" cx="12.5" cy="3.5" r="2.5"></circle>
              <circle
                fill="currentColor"
                opacity="0.5"
                cx="12.5"
                cy="11.5"
                r="2.5"
              ></circle>
              <circle
                fill="currentColor"
                opacity="0.3"
                cx="12.5"
                cy="19.5"
                r="2.5"
              ></circle>
            </svg>
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            ngbDropdownMenu
            aria-labelledby="creditcardDropdown"
          >
            <li>
              <a class="dropdown-item" href="javascript:void(0);"
                ><i class="bi bi-credit-card-2-front-fill me-2 fw-icon"></i>Edit
                card</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);"
                ><i class="bi bi-credit-card me-2 fw-icon"></i>Add new card</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);"
                ><i class="bi bi-arrow-bar-down me-2 fw-icon"></i>Withdrawal
                money</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="javascript:void(0);"
                ><i class="bi bi-calculator me-2 fw-icon"></i>Currency
                converter</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="mt-4 text-white">
        <span>Total Balance</span>
        <h3 class="text-white mb-0">{{ currencyType }}32,000</h3>
      </div>
      <h5 class="text-white mt-4">**** **** **** 1569</h5>
      <div class="d-flex justify-content-between text-white">
        <span>Valid thru: 12/26</span>
        <span>CVV: ***</span>
      </div>
    </div>
  </div>
</div>
