<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive-xl">
          <table class="table table-compare align-middle">
            <thead class="align-top">
              <tr>
                <th scope="col">
                  <p class="h3">Compare Our Listing</p>
                  <a
                    href="javascript:void(0);"
                    class="btn btn-lg btn-primary btn-round mb-0"
                  >
                    <i class="fa-solid fa-plus"></i>
                  </a>
                </th>

                @for (data of compareListings; track $index) {
                  <th scope="col">
                    <div class="card bg-transparent">
                      <img [src]="data.image" class="rounded" alt="..." />

                      <div class="card-body px-0">
                        <span class="h6"
                          ><a href="javascript:void(0);">{{
                            data.name
                          }}</a></span
                        >

                        <div
                          class="d-sm-flex justify-content-between align-items-center mt-2"
                        >
                          <span class="h6 text-success mb-0"
                            >{{ currencyType }}{{ data.price }}</span
                          >
                          <a
                            href="javascript:void(0);"
                            class="btn btn-sm btn-link mb-0 p-0"
                            >View Listing<i class="bi bi-arrow-right ms-2"></i
                          ></a>
                        </div>
                      </div>
                    </div>
                  </th>
                }
              </tr>
            </thead>

            <tbody class="border-top-0">
              <tr>
                <th scope="row"><span class="h6 mb-0">Rating</span></th>
                <td>
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item me-1 small">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item me-1 small">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item me-1 small">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item me-1 small">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="far fa-star text-warning"></i>
                    </li>
                  </ul>
                </td>
                <td>
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item me-1 small">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item me-1 small">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item me-1 small">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item me-1 small">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fas fa-star-half-alt text-warning"></i>
                    </li>
                  </ul>
                </td>
                <td>
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item me-1 small">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item me-1 small">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item me-1 small">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item me-1 small">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fas fa-star text-warning"></i>
                    </li>
                  </ul>
                </td>
              </tr>

              <tr>
                <th scope="row"><span class="h6 mb-0">Floor area</span></th>
                <td>1700 sq.ft</td>
                <td>1500 sq.ft</td>
                <td>1650 sq.ft</td>
              </tr>

              <tr>
                <th scope="row"><span class="h6 mb-0">Bedroom</span></th>
                <td>3 Bedroom 4 Beds</td>
                <td>2 Bedroom 3 Beds</td>
                <td>1 Bedroom 2 Beds</td>
              </tr>

              <tr>
                <th scope="row"><span class="h6 mb-0">Bathroom</span></th>
                <td>2 Showers</td>
                <td>2 Showers 1 Bathtub</td>
                <td>1 Shower 1 Bathtub</td>
              </tr>

              <tr>
                <th scope="row"><span class="h6 mb-0">Swimming Pool</span></th>
                <td>
                  <span class="h5 text-success mb-0"
                    ><i class="bi bi-check-lg"></i
                  ></span>
                </td>
                <td>
                  <span class="h5 text-danger mb-0"
                    ><i class="bi bi-x-lg"></i
                  ></span>
                </td>
                <td>
                  <span class="h5 text-danger mb-0"
                    ><i class="bi bi-x-lg"></i
                  ></span>
                </td>
              </tr>

              <tr>
                <th scope="row">
                  <span class="h6 mb-0">Air conditioning</span>
                </th>
                <td>
                  <span class="h5 text-success mb-0"
                    ><i class="bi bi-check-lg"></i
                  ></span>
                </td>
                <td>
                  <span class="h5 text-success mb-0"
                    ><i class="bi bi-check-lg"></i
                  ></span>
                </td>
                <td>
                  <span class="h5 text-success mb-0"
                    ><i class="bi bi-check-lg"></i
                  ></span>
                </td>
              </tr>

              <tr>
                <th scope="row"><span class="h6 mb-0">Gym</span></th>
                <td>
                  <span class="h5 text-danger mb-0"
                    ><i class="bi bi-x-lg"></i
                  ></span>
                </td>
                <td>
                  <span class="h5 text-danger mb-0"
                    ><i class="bi bi-x-lg"></i
                  ></span>
                </td>
                <td>
                  <span class="h5 text-success mb-0"
                    ><i class="bi bi-check-lg"></i
                  ></span>
                </td>
              </tr>

              <tr>
                <th scope="row"><span class="h6 mb-0">Internet</span></th>
                <td>
                  <span class="h5 text-success mb-0"
                    ><i class="bi bi-check-lg"></i
                  ></span>
                </td>
                <td>
                  <span class="h5 text-success mb-0"
                    ><i class="bi bi-check-lg"></i
                  ></span>
                </td>
                <td>
                  <span class="h5 text-success mb-0"
                    ><i class="bi bi-check-lg"></i
                  ></span>
                </td>
              </tr>

              <tr>
                <th scope="row"><span class="h6 mb-0">Actions</span></th>
                <td>
                  <button class="btn btn-sm btn-outline-primary mb-0">
                    Remove
                  </button>
                </td>
                <td>
                  <button class="btn btn-sm btn-outline-primary mb-0">
                    Remove
                  </button>
                </td>
                <td>
                  <button class="btn btn-sm btn-outline-primary mb-0">
                    Remove
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
