<section class="pb-0">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12 text-center">
        <h3 class="mb-0">Special Offers</h3>
      </div>
    </div>

    <div class="tiny-slider arrow-round arrow-blur arrow-hover">
      <div
        class="tiny-slider-inner"
        data-autoplay="true"
        data-arrow="true"
        data-edge="2"
        data-dots="false"
        data-items-xl="3"
        data-items-lg="3"
        data-items-md="2"
        data-items-sm="1"
      >
        <ng-tiny-slider [config]="offerSliderSettings" #offerSlider>
          <div>
            <div class="card mb-8">
              <img src="assets/images/offer/06.jpg" class="card-img" alt="" />

              <div
                class="position-absolute top-100 start-50 translate-middle w-100"
              >
                <div
                  class="card-body text-center bg-mode shadow rounded mx-4 p-3"
                >
                  <h6 class="card-title mb-1">
                    <a href="javascript:void(0);">Spa Package Offer</a>
                  </h6>
                  <small>Valid through Dec 2022</small>
                  <div class="mt-2">
                    <a
                      href="javascript:void(0);"
                      class="btn btn-sm btn-dark mb-0"
                      >View Offer</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="card">
              <img src="assets/images/offer/07.jpg" class="card-img" alt="" />

              <div
                class="position-absolute top-100 start-50 translate-middle w-100"
              >
                <div
                  class="card-body text-center bg-mode shadow rounded mx-4 p-3"
                >
                  <h6 class="card-title mb-1">
                    <a href="javascript:void(0);">Elevate Your Stay</a>
                  </h6>
                  <small>Valid through Feb {{ currentYear }}</small>
                  <div class="mt-2">
                    <a
                      href="javascript:void(0);"
                      class="btn btn-sm btn-dark mb-0"
                      >View Offer</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="card">
              <img src="assets/images/offer/08.jpg" class="card-img" alt="" />

              <div
                class="position-absolute top-100 start-50 translate-middle w-100"
              >
                <div
                  class="card-body text-center bg-mode shadow rounded mx-4 p-3"
                >
                  <h6 class="card-title mb-1">
                    <a href="javascript:void(0);">Pass Holder Package</a>
                  </h6>
                  <small>Valid through Feb {{ currentYear }}</small>
                  <div class="mt-2">
                    <a
                      href="javascript:void(0);"
                      class="btn btn-sm btn-dark mb-0"
                      >View Offer</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="card">
              <img src="assets/images/offer/05.jpg" class="card-img" alt="" />

              <div
                class="position-absolute top-100 start-50 translate-middle w-100"
              >
                <div
                  class="card-body text-center bg-mode shadow rounded mx-4 p-3"
                >
                  <h6 class="card-title mb-1">
                    <a href="javascript:void(0);"
                      >{{ currentYear }} Golf Tournament Package</a
                    >
                  </h6>
                  <small>Valid through Jan 2021</small>
                  <div class="mt-2">
                    <a
                      href="javascript:void(0);"
                      class="btn btn-sm btn-dark mb-0"
                      >View Offer</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-tiny-slider>
      </div>
    </div>
  </div>
</section>
<!-- =======================
Special offer END -->
