<section class="pt-0">
  <div class="container">
    <div class="row g-4">
      @for (item of gridData; track $index) {
        <div class="col-md-6 col-xl-4">
          <div class="card shadow p-2 pb-0 h-100">
            <div class="position-absolute top-0 start-0 z-index-1 m-4">
              <div class="badge bg-danger text-white">{{ item.sale }}</div>
            </div>

            <div
              class="tiny-slider arrow-round arrow-xs arrow-dark rounded-2 overflow-hidden"
            >
              <div
                class="tiny-slider-inner"
                data-autoplay="false"
                data-arrow="true"
                data-dots="false"
                data-items="1"
              >
                <ng-tiny-slider [config]="gridSliderSetting" #gridSlider>
                  @for (img of item.images; track $index) {
                    <div><img [src]="img" alt="Card image" /></div>
                  }
                </ng-tiny-slider>
              </div>
            </div>

            <div class="card-body px-3 pb-0">
              <div class="d-flex justify-content-between mb-3">
                <a href="javascript:void(0);" class="badge bg-dark text-white"
                  ><i class="bi fa-fw bi-star-fill me-2 text-warning"></i
                  >{{ item.rating }}</a
                >
                <a href="javascript:void(0);" class="h6 mb-0 z-index-2"
                  ><i
                    class="bi fa-fw"
                    [ngClass]="
                      item.bookmark
                        ? 'bi-bookmark-fill text-danger'
                        : 'bi-bookmark'
                    "
                  ></i
                ></a>
              </div>

              <h5 class="card-title">
                <a routerLink="/hotels/detail">{{ item.name }}</a>
              </h5>

              <ul class="nav nav-divider mb-2 mb-sm-3">
                @for (feature of item.feature; track $index) {
                  @if ($index < 3) {
                    <li class="nav-item">{{ feature }}</li>
                  } @else {
                    <li class="nav-item">
                      <a href="javascript:void(0);" class="mb-0 text-primary"
                        >More+</a
                      >
                    </li>
                  }
                }
              </ul>
            </div>

            <!-- Card footer START-->
            <div class="card-footer pt-0">
              <div
                class="d-sm-flex justify-content-sm-between align-items-center"
              >
                <div class="d-flex align-items-center">
                  <h5 class="fw-normal text-success mb-0 me-1">
                    {{ currencyType }}{{ item.price }}
                  </h5>
                  <span class="mb-0 me-2">/day</span>
                  @if (item.sale) {
                    <span class="text-decoration-line-through"
                      >{{ currencyType }}1000</span
                    >
                  }
                </div>

                <div class="mt-2 mt-sm-0">
                  <a
                    routerLink="/hotels/detail"
                    class="btn btn-sm btn-primary-soft mb-0 w-100"
                    >View Detail<i class="bi bi-arrow-right ms-2"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>

    <div class="row">
      <div class="col-12">
        <nav class="mt-4 d-flex justify-content-center" aria-label="navigation">
          <ngb-pagination
            class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0"
            [page]="2"
            [collectionSize]="60"
            [maxSize]="2"
          >
            <ng-template ngbPaginationPrevious
              ><i class="fa-solid fa-angle-left"></i
            ></ng-template>
            <ng-template ngbPaginationNext
              ><i class="fa-solid fa-angle-right"></i
            ></ng-template>
          </ngb-pagination>
        </nav>
      </div>
    </div>
  </div>
</section>
