<div class="row">
  <div class="col-12">
    <div class="card border rounded-3">
      <div class="card-header border-bottom">
        <div class="d-sm-flex justify-content-between align-items-center">
          <h5 class="mb-2 mb-sm-0">Upcoming Bookings</h5>
          <a href="javascript:void(0);" class="btn btn-sm btn-primary mb-0"
            >View All</a
          >
        </div>
      </div>

      <div class="card-body">
        <div class="row g-3 align-items-center justify-content-between mb-3">
          <div class="col-md-8">
            <form class="rounded position-relative">
              <input
                class="form-control pe-5"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button
                class="btn border-0 px-3 py-0 position-absolute top-50 end-0 translate-middle-y"
                type="submit"
              >
                <i class="fas fa-search fs-6"></i>
              </button>
            </form>
          </div>

          <div class="col-md-3">
            <form>
              <select
                selectFormInput
                [options]="{ searchEnabled: false }"
                class="form-select js-choice"
                aria-label=".form-select-sm"
              >
                <option value="">Sort by</option>
                <option>Free</option>
                <option>Newest</option>
                <option>Oldest</option>
              </select>
            </form>
          </div>
        </div>

        <div class="table-responsive border-0">
          <table class="table align-middle p-4 mb-0 table-hover table-shrink">
            <thead class="table-light">
              <tr>
                <th scope="col" class="border-0 rounded-start">#</th>
                <th scope="col" class="border-0">Name</th>
                <th scope="col" class="border-0">Type</th>
                <th scope="col" class="border-0">Date</th>
                <th scope="col" class="border-0">status</th>
                <th scope="col" class="border-0">Payment</th>
                <th scope="col" class="border-0 rounded-end">Action</th>
              </tr>
            </thead>

            <tbody class="border-top-0">
              @for (item of upcomingBookingsData; track $index) {
                <tr>
                  <td>
                    <h6 class="mb-0">
                      {{ item.id < 10 ? '0' + item.id : item.id }}
                    </h6>
                  </td>
                  <td>
                    <h6 class="mb-0">
                      <a href="javascript:void(0);">{{ item.name }}</a>
                    </h6>
                  </td>
                  <td>{{ item.type }}</td>
                  <td>{{ item.date }}</td>
                  <td>
                    <div
                      class="badge text-bg-success"
                      [ngClass]="{ 'text-bg-info': item.status === 'Reserved' }"
                    >
                      {{ item.status }}
                    </div>
                  </td>
                  <td>
                    <div
                      class="badge bg-success bg-opacity-10 text-success"
                      [ngClass]="{
                        'text-orange bg-orange': item.payment === 'On Property',
                        'bg-info text-info': item.payment === 'Half Payment'
                      }"
                    >
                      {{ item.payment }}
                    </div>
                  </td>
                  <td>
                    <a
                      href="javascript:void(0);"
                      class="btn btn-sm btn-light mb-0"
                      >View</a
                    >
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>

      <div class="card-footer pt-0">
        <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
          <p class="mb-sm-0 text-center text-sm-start">
            Showing 1 to 8 of 20 entries
          </p>
          <nav
            class="mb-sm-0 d-flex justify-content-center mb-0"
            aria-label="navigation"
          >
            <ngb-pagination
              [collectionSize]="150"
              [page]="page"
              [maxSize]="2"
              size="sm"
              class="pagination pagination-sm pagination-primary-soft mb-0"
            >
              <ng-template ngbPaginationPrevious> Prev </ng-template>
              <ng-template ngbPaginationNext> Next </ng-template>
            </ngb-pagination>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
