<div class="row">
  <div class="col-12">
    <div class="card border rounded-3">
      <div class="card-header border-bottom">
        <h5 class="card-header-title">Invoice history</h5>
      </div>

      <div class="card-body">
        <div class="row g-3 align-items-center justify-content-between mb-3">
          <div class="col-md-8">
            <form class="rounded position-relative">
              <input
                class="form-control pe-5"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button
                class="btn border-0 px-3 py-0 position-absolute top-50 end-0 translate-middle-y"
                type="submit"
              >
                <i class="fas fa-search fs-6"></i>
              </button>
            </form>
          </div>

          <div class="col-md-3">
            <form>
              <select
                class="form-select js-choice"
                selectFormInput
                aria-label=".form-select-sm"
              >
                <option value="">Sort by</option>
                <option>Free</option>
                <option>Newest</option>
                <option>Oldest</option>
              </select>
            </form>
          </div>
        </div>

        <div class="table-responsive border-0">
          <table class="table align-middle p-4 mb-0 table-hover table-shrink">
            <thead class="table-light">
              <tr>
                <th scope="col" class="border-0 rounded-start">Invoice ID</th>
                <th scope="col" class="border-0">Date</th>
                <th scope="col" class="border-0">Amount</th>
                <th scope="col" class="border-0">Status</th>
                <th scope="col" class="border-0 rounded-end">Action</th>
              </tr>
            </thead>

            <tbody class="border-top-0">
              @for (item of invoiceHistoryData; track $index) {
                <tr>
                  <td>#{{ item.id }}</td>
                  <td>{{ item.date }}</td>
                  <td ngbDropdown>
                    {{ currencyType }}{{ item.amount }}

                    <a
                      href="javascript:void(0);"
                      ngbDropdownToggle
                      class="h6 mb-0 arrow-none"
                      role="button"
                      id="dropdownShare1"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      <i class="bi bi-info-circle-fill"></i>
                    </a>

                    <ul
                      ngbDropdownMenu
                      class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded"
                      aria-labelledby="dropdownShare1"
                    >
                      <li>
                        <div class="d-flex justify-content-between">
                          <span class="small">Commission</span>
                          <span class="h6 mb-0 small"
                            >{{ currencyType }}86</span
                          >
                        </div>
                        <hr class="my-1" />
                      </li>

                      <li>
                        <div class="d-flex justify-content-between">
                          <span class="me-4 small">Us royalty withholding</span>
                          <span class="text-danger small"
                            >-{{ currencyType }}0.00</span
                          >
                        </div>
                        <hr class="my-1" />
                      </li>

                      <li>
                        <div class="d-flex justify-content-between">
                          <span class="small">Earning</span>
                          <span class="h6 mb-0 small"
                            >{{ currencyType }}86</span
                          >
                        </div>
                      </li>
                    </ul>
                  </td>
                  <td>
                    <div
                      class="badge bg-opacity-10 bg-success text-success"
                      [ngClass]="{
                        'bg-success text-success': item.status === 'Paid',
                        'bg-orange text-orange': item.status === 'Pending',
                        'bg-danger text-danger': item.status === 'Cancelled'
                      }"
                    >
                      {{ item.status }}
                    </div>
                  </td>
                  <td>
                    <a
                      href="javascript:void(0);"
                      class="btn btn-light btn-round mb-0"
                      placement="top"
                      ngbTooltip="Download"
                      ><i class="bi bi-cloud-download"></i
                    ></a>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>

      <div class="card-footer pt-0">
        <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
          <p class="mb-sm-0 text-center text-sm-start">
            Showing 1 to 8 of 20 entries
          </p>

          <nav
            class="mb-sm-0 d-flex justify-content-center mb-0"
            aria-label="navigation"
          >
            <ngb-pagination
              [collectionSize]="150"
              [page]="page"
              [maxSize]="2"
              size="sm"
              class="pagination pagination-sm pagination-primary-soft"
            >
              <ng-template ngbPaginationPrevious> Prev </ng-template>
              <ng-template ngbPaginationNext> Next </ng-template>
            </ngb-pagination>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
