<section class="pt-0">
  <div class="container">
    <div class="bg-light p-4 p-sm-5 rounded-3">
      <div class="row g-3 g-xl-4 align-items-center">
        <div class="col-xl-8">
          <div class="d-sm-flex align-items-center mb-2">
            <h3 class="mb-2 mb-sm-0">Still, have a question?</h3>

            <ul class="avatar-group mb-0 ms-sm-3">
              <li class="avatar avatar-xs">
                <img
                  class="avatar-img rounded-circle"
                  src="assets/images/avatar/01.jpg"
                  alt="avatar"
                />
              </li>
              <li class="avatar avatar-xs">
                <img
                  class="avatar-img rounded-circle"
                  src="assets/images/avatar/02.jpg"
                  alt="avatar"
                />
              </li>
              <li class="avatar avatar-xs">
                <img
                  class="avatar-img rounded-circle"
                  src="assets/images/avatar/03.jpg"
                  alt="avatar"
                />
              </li>
              <li class="avatar avatar-xs">
                <img
                  class="avatar-img rounded-circle"
                  src="assets/images/avatar/05.jpg"
                  alt="avatar"
                />
              </li>
              <li class="avatar avatar-xs">
                <img
                  class="avatar-img rounded-circle"
                  src="assets/images/avatar/06.jpg"
                  alt="avatar"
                />
              </li>
            </ul>
          </div>
          <p class="mb-0">
            He moonlights difficult engrossed it, sportsmen. Interested has all
            Devonshire difficulty gay assistance joy.
          </p>
        </div>

        <div class="col-xl-4 text-xl-end">
          <a routerLink="/pages/contact" class="btn btn-primary mb-0"
            >Contact us<i class="bi bi-arrow-right-circle ms-2"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
