<div class="card bg-transparent">
  <div class="card-header border-bottom bg-transparent px-0 pt-0">
    <h3 class="card-title mb-0">Customer Review</h3>
  </div>

  <div class="card-body pt-4 p-0">
    <div class="card bg-light p-4 mb-4">
      <div class="row g-4 align-items-center">
        <div class="col-md-4">
          <div class="text-center">
            <h2 class="mb-0">4.5</h2>
            <p class="mb-2">Based on 120 Reviews</p>

            <ul class="list-inline mb-0">
              <li class="list-inline-item me-0">
                <i class="fa-solid fa-star text-warning"></i>
              </li>
              <li class="list-inline-item me-0">
                <i class="fa-solid fa-star text-warning"></i>
              </li>
              <li class="list-inline-item me-0">
                <i class="fa-solid fa-star text-warning"></i>
              </li>
              <li class="list-inline-item me-0">
                <i class="fa-solid fa-star text-warning"></i>
              </li>
              <li class="list-inline-item me-0">
                <i class="fa-solid fa-star-half-alt text-warning"></i>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-8">
          <div class="card-body p-0">
            <div class="row gx-3 g-2 align-items-center">
              <div class="col-9 col-sm-10">
                <ngb-progressbar
                  type="warning"
                  [value]="95"
                  [height]="'5px'"
                  class=""
                />
              </div>

              <div class="col-3 col-sm-2 text-end">
                <span class="h6 fw-light mb-0">85%</span>
              </div>

              <div class="col-9 col-sm-10">
                <ngb-progressbar
                  type="warning"
                  [value]="75"
                  [height]="'5px'"
                  class=""
                />
              </div>

              <div class="col-3 col-sm-2 text-end">
                <span class="h6 fw-light mb-0">75%</span>
              </div>

              <div class="col-9 col-sm-10">
                <ngb-progressbar
                  type="warning"
                  [value]="60"
                  [height]="'5px'"
                  class=""
                />
              </div>

              <div class="col-3 col-sm-2 text-end">
                <span class="h6 fw-light mb-0">60%</span>
              </div>

              <div class="col-9 col-sm-10">
                <ngb-progressbar
                  type="warning"
                  [value]="35"
                  [height]="'5px'"
                  class=""
                />
              </div>

              <div class="col-3 col-sm-2 text-end">
                <span class="h6 fw-light mb-0">35%</span>
              </div>

              <div class="col-9 col-sm-10">
                <ngb-progressbar
                  type="warning"
                  [value]="20"
                  [height]="'5px'"
                  class=""
                />
              </div>

              <div class="col-3 col-sm-2 text-end">
                <span class="h6 fw-light mb-0">15%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <form class="mb-5">
      <div class="form-control-bg-light mb-3">
        <select
          selectFormInput
          [options]="{ searchEnabled: false }"
          class="form-select js-choice"
        >
          <option selected="">★★★★★ (5/5)</option>
          <option>★★★★☆ (4/5)</option>
          <option>★★★☆☆ (3/5)</option>
          <option>★★☆☆☆ (2/5)</option>
          <option>★☆☆☆☆ (1/5)</option>
        </select>
      </div>

      <div class="form-control-bg-light mb-3">
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          placeholder="Your review"
          rows="3"
        ></textarea>
      </div>

      <button type="submit" class="btn btn-lg btn-primary mb-0">
        Post review <i class="bi fa-fw bi-arrow-right ms-2"></i>
      </button>
    </form>

    <div class="d-md-flex my-4">
      <div class="avatar avatar-lg me-3 flex-shrink-0">
        <img
          class="avatar-img rounded-circle"
          src="assets/images/avatar/09.jpg"
          alt="avatar"
        />
      </div>

      <div>
        <div class="d-flex justify-content-between mt-1 mt-md-0">
          <div>
            <h6 class="me-3 mb-0">Jacqueline Miller</h6>

            <ul class="nav nav-divider small mb-2">
              <li class="nav-item">Stayed 13 Nov 2022</li>
              <li class="nav-item">4 Reviews written</li>
            </ul>
          </div>

          <div class="icon-md rounded text-bg-warning fs-6">4.5</div>
        </div>

        <p class="mb-2">
          Handsome met debating sir dwelling age material. As style lived he
          worse dried. Offered related so visitors we private removed. Moderate
          do subjects to distance.
        </p>

        <div class="row g-4">
          <div class="col-4 col-sm-3 col-lg-2">
            <img
              src="assets/images/category/hotel/4by3/07.jpg"
              class="rounded"
              alt=""
            />
          </div>
          <div class="col-4 col-sm-3 col-lg-2">
            <img
              src="assets/images/category/hotel/4by3/08.jpg"
              class="rounded"
              alt=""
            />
          </div>
          <div class="col-4 col-sm-3 col-lg-2">
            <img
              src="assets/images/category/hotel/4by3/05.jpg"
              class="rounded"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <div class="my-4 ps-2 ps-md-3">
      <div class="d-md-flex p-3 bg-light rounded-3">
        <img
          class="avatar avatar-sm rounded-circle me-3"
          src="assets/images/avatar/02.jpg"
          alt="avatar"
        />
        <div class="mt-2 mt-md-0">
          <h6 class="mb-1">Manager</h6>
          <p class="mb-0">
            But discretion frequently sir she instruments unaffected admiration
            everything.
          </p>
        </div>
      </div>
    </div>

    <hr />

    <div class="d-md-flex my-4">
      <div class="avatar avatar-lg me-3 flex-shrink-0">
        <img
          class="avatar-img rounded-circle"
          src="assets/images/avatar/08.jpg"
          alt="avatar"
        />
      </div>

      <div>
        <div class="d-flex justify-content-between mt-1 mt-md-0">
          <div>
            <h6 class="me-3 mb-0">Dennis Barrett</h6>

            <ul class="nav nav-divider small mb-2">
              <li class="nav-item">Stayed 02 Nov 2022</li>
              <li class="nav-item">2 Reviews written</li>
            </ul>
          </div>

          <div class="icon-md rounded text-bg-warning fs-6">4.0</div>
        </div>

        <p class="mb-0">
          Delivered dejection necessary objection do Mr prevailed. Mr feeling
          does chiefly cordial in do. Water timed folly right aware if oh truth.
          Large above be to means. Dashwood does provide stronger is.
        </p>
      </div>
    </div>

    <hr />

    <div class="text-center">
      <a href="javascript:void(0);" class="btn btn-primary-soft mb-0"
        >Load more</a
      >
    </div>
  </div>
</div>
