<list-topbar />

<main>
  <list-banner />

  <!-- =======================
Hotel list START -->
  <section class="pt-0">
    <div class="container">
      <div class="row mb-4">
        <div class="col-12">
          @if (!staticAlertClosed) {
            <ngb-alert
              type="danger"
              [dismissible]="false"
              class="d-flex align-items-center rounded-3 fade show mb-4 mb-0 pe-2"
            >
              <span class="flex-shrink-0 alert-heading h5 mb-0 me-2"
                ><i class="bi bi-exclamation-octagon-fill"></i
              ></span>
              <span class="flex-grow-1"
                ><strong class="alert-heading me-2">Covid Policy:</strong>You
                may require to present an RT-PCR negative test report at the
                hotel</span
              >
              <button
                type="button"
                class="btn btn-link pb-0 text-end flex-shrink-0"
                (click)="staticAlertClosed = true"
                data-bs-dismiss="alert"
                aria-label="Close"
              >
                <i class="bi bi-x-lg text-dark"></i>
              </button>
            </ngb-alert>
          }

          <div
            class="hstack gap-3 justify-content-between justify-content-md-end"
          >
            <list-filter-offcanvas />

            <ul
              class="nav nav-pills nav-pills-dark"
              id="tour-pills-tab"
              role="tablist"
            >
              <li class="nav-item">
                <a
                  class="nav-link rounded-start rounded-0 mb-0 active"
                  routerLink="/hotels/list"
                  ><i class="bi fa-fw bi-list-ul"></i
                ></a>
              </li>

              <li class="nav-item">
                <a
                  class="nav-link rounded-end rounded-0 mb-0"
                  routerLink="/hotels/grid"
                  ><i class="bi fa-fw bi-grid-fill"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <aside class="col-xl-4 col-xxl-3">
          <list-filterbar />
        </aside>

        <div class="col-xl-8 col-xxl-9">
          <list-card />
        </div>
      </div>
    </div>
  </section>

  <!-- =======================
    Hotel list END -->
</main>
<home-list-footer1 />
