<section>
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="mb-0">Special Offers</h2>
      </div>
    </div>

    <div class="tiny-slider arrow-round arrow-blur arrow-hover">
      <ng-tiny-slider
        [config]="specialOfferSettings"
        #bannerSlider
        class="tiny-slider-inner"
      >
        @for (item of specialOffers; track $index) {
          @if (item.image) {
            <div class="h-100">
              <div class="card border rounded-3 overflow-hidden h-100">
                <div class="row g-0 align-items-center">
                  <div class="col-sm-6">
                    <img [src]="item.image" class="card-img rounded-0" alt="" />
                  </div>

                  <div class="col-sm-6">
                    <div class="card-body px-3">
                      <h6 class="card-title">
                        <a routerLink="/offer-detail" class="stretched-link">{{
                          item.title
                        }}</a>
                      </h6>
                      <p class="mb-0">{{ item.subTitle }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          } @else {
            <div class="h-100">
              <div
                class="card {{
                  item.variant
                }} bg-opacity-10 border border-2 border-dashed border-opacity-75 rounded-3 h-100"
              >
                <div class="card-body">
                  <h5 class="text-primary">{{ item.title }}</h5>
                  <div
                    class="d-flex justify-content-between flex-wrap align-items-center"
                  >
                    <div class="bg-mode rounded-2 px-3 py-2 d-inline-block">
                      <h6 class="fw-normal user-select-all mb-0">
                        {{ item.code }}
                      </h6>
                    </div>
                    <span class="h6 fw-light small mb-0">{{
                      item.subTitle
                    }}</span>
                  </div>
                </div>
              </div>
            </div>
          }
        }
      </ng-tiny-slider>
    </div>
  </div>
</section>
