<sticky-header-component>
  <nav class="navbar navbar-expand-xl">
    <div class="container">
      <app-logo-box />

      <vertical-menu-button [showText]="false" className="ms-auto mx-3" />

      <app-menu
        class="navbar-collapse collapse"
        [showExtraPages]="true"
        menuClassName="mx-auto"
      />

      <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
        <li
          class="nav-item dropdown nav-search d-none d-sm-block me-3"
          ngbDropdown
        >
          <a
            ngbDropdownToggle
            class="nav-notification btn btn-light mb-0 p-0 arrow-none"
            href="javascript:void(0);"
            id="searchDropdown"
            role="button"
            data-bs-auto-close="outside"
            data-bs-display="static"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-search"> </i>
          </a>
          <div
            class="dropdown-menu dropdown-animation dropdown-menu-end p-2"
            ngbDropdownMenu
            aria-labelledby="searchDropdown"
          >
            <div class="nav flex-nowrap align-items-center">
              <div class="nav-item w-100">
                <form class="input-group">
                  <input
                    class="form-control border-primary"
                    type="search"
                    placeholder="Search..."
                    aria-label="Search"
                  />
                  <button class="btn btn-primary m-0" type="submit">
                    Search
                  </button>
                </form>
              </div>
            </div>
          </div>
        </li>

        <app-notification-dropdown />

        <app-profile-dropdown className="ms-3" />
      </ul>
    </div>
  </nav>
</sticky-header-component>
