<ngb-alert
  type="warning"
  [dismissible]="false"
  class="border-warning rounded-3 mb-0"
  role="alert"
>
  <h5>Why book a one-way trip with us?</h5>

  <ul class="list-group list-group-borderless mb-0">
    <li class="list-group-item d-flex text-body mb-0">
      <i class="fa-solid fa-check text-warning me-2"></i>Only one-side fare for
      your doorstep pickup & drop to destination.
    </li>
    <li class="list-group-item d-flex text-body mb-0">
      <i class="fa-solid fa-check text-warning me-2"></i>No hidden charges - Pay
      nothing extra than what's mentioned.
    </li>
    <li class="list-group-item d-flex text-body mb-0">
      <i class="fa-solid fa-check text-warning me-2"></i>Experienced & polite
      drivers with clean & comfortable cabs.
    </li>
  </ul>
</ngb-alert>
