<div class="card border">
  <div class="card-header border-bottom bg-transparent">
    <h4 class="mb-0">Trip Details</h4>
  </div>

  <div class="card-body">
    <form class="row g-4">
      <div class="col-md-6">
        <div class="form-control-bg-light">
          <label class="form-label">Pickup Address</label>
          <input
            type="text"
            class="form-control form-control-lg"
            placeholder="Enter exact pick up address"
            value="36 new resort, New York"
          />
          <div class="form-text">
            This will help our cab driver reach you on time.
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-control-bg-light">
          <label class="form-label">Drop Address</label>
          <input
            type="text"
            class="form-control form-control-lg"
            placeholder="Enter drop address"
            value="street profit, New York"
          />
        </div>
      </div>

      <h5 class="mb-0 mt-4">Traveler Information</h5>

      <div class="col-md-4">
        <label class="form-label">Gender</label>
        <div>
          <div
            class="btn-group"
            role="group"
            aria-label="Basic radio toggle button group"
          >
            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio1"
              checked=""
            />
            <label
              class="btn btn-lg btn-light btn-dark-bg-check mb-0"
              for="btnradio1"
              >Male</label
            >

            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio2"
            />
            <label
              class="btn btn-lg btn-light btn-dark-bg-check mb-0"
              for="btnradio2"
              >Female</label
            >
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-control-bg-light">
          <label class="form-label">Name</label>
          <input
            type="text"
            class="form-control form-control-lg"
            placeholder="Enter your name"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-control-bg-light">
          <label class="form-label">Email id</label>
          <input
            type="email"
            class="form-control form-control-lg"
            placeholder="Enter your email"
          />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-control-bg-light">
          <label class="form-label">Mobile number</label>
          <input
            type="text"
            class="form-control form-control-lg"
            placeholder="Enter your mobile number"
          />
        </div>
      </div>
    </form>
  </div>
</div>
