<section>
  <div class="container">
    <div class="row mb-4">
      <div class="col-12 text-center">
        <h2 class="mb-0">Featured Hotels</h2>
      </div>
    </div>

    <div class="row g-4">
      @for (data of hotels; track $index) {
        <div class="col-sm-6 col-xl-3">
          <div class="card card-img-scale overflow-hidden bg-transparent">
            <div class="card-img-scale-wrapper rounded-3">
              <img src="{{ data.image }}" class="card-img" alt="hotel image" />

              <div class="position-absolute bottom-0 start-0 p-3">
                <div
                  class="badge text-bg-dark fs-6 rounded-pill stretched-link"
                >
                  <i class="bi bi-geo-alt me-2"></i>{{ data.location }}
                </div>
              </div>
            </div>

            <div class="card-body px-2">
              <h5 class="card-title">
                <a routerLink="/hotels/detail" class="stretched-link">{{
                  data.name
                }}</a>
              </h5>

              <div class="d-flex justify-content-between align-items-center">
                <h6 class="text-success mb-0">
                  {{ currencyType }}{{ data.price }}
                  <small class="fw-light">/starting at</small>
                </h6>
                <h6 class="mb-0">
                  {{ data.ratings
                  }}<i class="fa-solid fa-star text-warning ms-1"></i>
                </h6>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
