<div class="bg-light rounded-3 p-4 mb-3">
  <div class="d-md-flex justify-content-between align-items-center">
    <div>
      <h6 class="h5">Activity Logs</h6>
      <p class="mb-1 mb-md-0">
        You can save your all activity logs including unusual activity detected.
      </p>
    </div>

    <div class="form-check form-switch form-check-md mb-0">
      <input
        class="form-check-input"
        type="checkbox"
        id="checkPrivacy9"
        checked=""
      />
    </div>
  </div>
</div>

<div class="bg-light rounded-3 p-4 mb-3">
  <div class="d-md-flex justify-content-between align-items-center flex-wrap">
    <div>
      <h6 class="h5">Change Password</h6>
      <p class="mb-1 mb-md-0">Set a unique password to protect your account.</p>
    </div>

    <div>
      <a
        href="javascript:void(0);"
        class="btn btn-primary mb-1"
        data-bs-toggle="modal"
        data-bs-target="#changePassword"
        >Change Password</a
      >
      <p class="mb-0 small h6">Last change 10 Aug 2020</p>
    </div>
  </div>
</div>

<div class="bg-light rounded-3 p-4">
  <div class="d-md-flex justify-content-between align-items-center">
    <div>
      <h6 class="h5">2 Step Verification</h6>
      <p class="mb-1 mb-md-0">
        Secure your account with 2 Step security. When it is activated you will
        need to enter not only your password, but also a special code using app.
        You can receive this code by in mobile app.
      </p>
    </div>

    <div class="form-check form-switch form-check-md mb-0">
      <input
        class="form-check-input"
        type="checkbox"
        id="checkPrivacy13"
        checked=""
      />
    </div>
  </div>
</div>
