<sticky-header-component [transparentHeader]="true">
  <nav class="navbar navbar-light-static navbar-expand-xl">
    <div class="container-fluid px-md-5">
      <app-logo-box />
      <vertical-menu-button
        [showText]="false"
        className="ms-auto mx-3 me-xl-0 p-0 p-sm-1"
      />
      <app-menu
        [startBookingMenu]="false"
        [showExtraPages]="false"
        [menuClassName]="'mx-auto'"
      >
      </app-menu>
      <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
        <app-notification-dropdown className="me-3" />
        <app-profile-dropdown />
      </ul>
    </div>
  </nav>
</sticky-header-component>
