<section class="py-0">
  <div class="container">
    <div class="row g-4">
      @for (team of memberList; track $index) {
        <div class="col-sm-6 col-md-4 col-xl-3">
          <div
            class="card card-img-scale card-element-hover overflow-hidden bg-transparent"
          >
            <div class="card-img-scale-wrapper rounded-3">
              <img [src]="team.image" class="card-img" alt="" />

              <div
                class="card-img-overlay d-flex align-items-start flex-column p-3"
              >
                <span class="badge text-bg-white"
                  ><i class="fa-solid fa-star text-warning me-2"></i>4.3</span
                >

                <div class="btn-group hover-element d-flex mt-auto">
                  <a href="javascript:void(0);" class="btn btn-white"
                    ><i class="fa-brands fa-facebook-f text-facebook"></i
                  ></a>
                  <a href="javascript:void(0);" class="btn btn-white"
                    ><i class="fa-brands fa-instagram text-instagram"></i
                  ></a>
                  <a href="javascript:void(0);" class="btn btn-white"
                    ><i class="fa-brands fa-twitter text-twitter"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="card-body px-2 pb-0">
              <h5 class="card-title mb-1">
                <a href="javascript:void(0);">{{ team.name }}</a>
              </h5>
              <span>{{ team.position }}</span>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
