<section class="pt-0">
  <div class="container">
    <div
      class="rounded-3 p-3 p-sm-5"
      style="
        background-image: url(assets/images/bg/05.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      "
    >
      <div class="row my-2 my-xl-5">
        <div class="col-md-8 mx-auto">
          <h1 class="text-center text-white">150 Hotels in New York</h1>
        </div>
      </div>

      <form
        class="bg-mode shadow rounded-3 position-relative p-4 pe-md-5 pb-5 pb-md-4 mb-4"
      >
        <div class="row g-4 align-items-center">
          <div class="col-lg-4">
            <div
              class="form-control-border form-control-transparent form-fs-md d-flex"
            >
              <i class="bi bi-geo-alt fs-3 me-2 mt-2"></i>

              <div class="flex-grow-1">
                <label class="form-label">Location</label>
                <select
                  selectFormInput
                  class="form-select js-choice"
                  data-search-enabled="true"
                >
                  <option value="">Select location</option>
                  <option selected>San Jacinto, USA</option>
                  <option>North Dakota, Canada</option>
                  <option>West Virginia, Paris</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="d-flex">
              <i class="bi bi-calendar fs-3 me-2 mt-2"></i>

              <div
                class="form-control-border form-control-transparent form-fs-md"
              >
                <label class="form-label">Check in - out</label>
                <input
                  type="text"
                  mwlFlatpickr
                  [flatpickrOptions]="{ mode: 'range', dateFormat: 'd M' }"
                  class="form-control flatpickr"
                  data-mode="range"
                  placeholder="Select date"
                  value="19 Sep to 28 Sep"
                />
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div
              class="form-control-border form-control-transparent form-fs-md d-flex"
            >
              <i class="bi bi-person fs-3 me-2 mt-2"></i>

              <div class="w-100">
                <label class="form-label">Guests & rooms</label>
                <div ngbDropdown class="dropdown guest-selector me-2">
                  <input
                    ngbDropdownToggle
                    type="text"
                    class="form-guest-selector form-control selection-result"
                    [value]="getGuestsValue()"
                    id="dropdownShare"
                    data-bs-auto-close="outside"
                    data-bs-toggle="dropdown"
                  />

                  <ul
                    ngbDropdownMenu
                    class="dropdown-menu guest-selector-dropdown"
                    aria-labelledby="dropdownShare"
                  >
                    <li class="d-flex justify-content-between">
                      <div>
                        <h6 class="mb-0">Adults</h6>
                        <small>Ages 13 or above</small>
                      </div>

                      <div class="hstack gap-1 align-items-center">
                        <button
                          type="button"
                          class="btn btn-link adult-remove p-0 mb-0"
                          (click)="updateGuests('adults', false)"
                        >
                          <i class="bi bi-dash-circle fs-5 fa-fw"></i>
                        </button>
                        <h6 class="guest-selector-count mb-0 adults">
                          {{ formValue.guests.adults }}
                        </h6>
                        <button
                          type="button"
                          class="btn btn-link adult-add p-0 mb-0"
                          (click)="updateGuests('adults')"
                        >
                          <i class="bi bi-plus-circle fs-5 fa-fw"></i>
                        </button>
                      </div>
                    </li>

                    <li class="dropdown-divider"></li>

                    <li class="d-flex justify-content-between">
                      <div>
                        <h6 class="mb-0">Child</h6>
                        <small>Ages 13 below</small>
                      </div>

                      <div class="hstack gap-1 align-items-center">
                        <button
                          type="button"
                          class="btn btn-link child-remove p-0 mb-0"
                          (click)="updateGuests('children', false)"
                        >
                          <i class="bi bi-dash-circle fs-5 fa-fw"></i>
                        </button>
                        <h6 class="guest-selector-count mb-0 child">
                          {{ formValue.guests.children }}
                        </h6>
                        <button
                          type="button"
                          class="btn btn-link child-add p-0 mb-0"
                          (click)="updateGuests('children')"
                        >
                          <i class="bi bi-plus-circle fs-5 fa-fw"></i>
                        </button>
                      </div>
                    </li>

                    <li class="dropdown-divider"></li>

                    <li class="d-flex justify-content-between">
                      <div>
                        <h6 class="mb-0">Rooms</h6>
                        <small>Max room 8</small>
                      </div>

                      <div class="hstack gap-1 align-items-center">
                        <button
                          type="button"
                          class="btn btn-link room-remove p-0 mb-0"
                          (click)="updateGuests('rooms', false)"
                        >
                          <i class="bi bi-dash-circle fs-5 fa-fw"></i>
                        </button>
                        <h6 class="guest-selector-count mb-0 rooms">
                          {{ formValue.guests.rooms }}
                        </h6>
                        <button
                          type="button"
                          class="btn btn-link room-add p-0 mb-0"
                          (click)="updateGuests('rooms')"
                        >
                          <i class="bi bi-plus-circle fs-5 fa-fw"></i>
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="btn-position-md-middle">
          <a
            class="icon-lg btn btn-round btn-primary mb-0"
            href="javascript:void(0);"
            ><i class="bi bi-search fa-fw"></i
          ></a>
        </div>
      </form>
    </div>
  </div>
</section>
