<section>
  <div class="container">
    <div class="row mb-3 mb-sm-4">
      <div class="col-12 text-center">
        <h2 class="mb-0">Latest Blogs & News</h2>
      </div>
    </div>

    <div class="row g-4 g-xl-5 justify-content-between">
      <div class="col-md-6">
        <div class="card bg-transparent">
          <img src="assets/images/blog/01.jpg" class="card-img" alt="" />

          <div class="card-body px-3">
            <h4>
              <a routerLink="/blogs/detail" class="stretched-link"
                >10 Ways on How to Improve your Hotel Operations</a
              >
            </h4>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        @for (blog of flightBlogs; track $index; let last = $last) {
          <div
            class="card bg-transparent"
            [ngClass]="{ 'mb-4 mb-md-5': !last }"
          >
            <div class="row align-items-center">
              <div class="col-sm-4">
                <img [src]="blog.image" class="card-img" alt="" />
              </div>
              <div class="col-sm-8">
                <div class="card-body p-sm-0">
                  <h5 class="card-title">
                    <a routerLink="/blogs/detail" class="stretched-link">{{
                      blog.title
                    }}</a>
                  </h5>
                  <p class="mb-0">{{ blog.name }}</p>
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</section>
