<section class="pt-0 pt-sm-5">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12 text-center">
        <h2 class="mb-0">Latest Article</h2>
      </div>
    </div>

    <div class="row g-4">
      <div class="col-md-6 col-lg-4">
        <div class="card bg-transparent">
          <div class="position-relative">
            <img src="assets/images/blog/07.jpg" class="card-img" alt="" />

            <div class="card-img-overlay p-3">
              <a href="javascript:void(0);" class="badge text-bg-warning mb-2"
                >History</a
              >
            </div>
          </div>

          <div class="card-body p-3 pb-0">
            <h5 class="card-title mt-2">
              <a routerLink="/blogs/detail"
                >7 common mistakes everyone makes while traveling</a
              >
            </h5>
            <h6 class="fw-light mb-0">
              By <a href="javascript:void(0);">Joan Wallace</a>
            </h6>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card bg-light p-3">
          <div class="card-body">
            <a
              href="javascript:void(0);"
              class="badge text-white bg-primary mb-2"
              >Research</a
            >

            <h5 class="card-title">
              <a routerLink="/blogs/detail"
                >Ten unconventional tips about startups that you can't learn
                from books</a
              >
            </h5>
            <p>
              Prospective should start broadly and then narrow their list down
              to colleges that best fit their needs, experts say. Yet remarkably
              appearance gets him his projection.
            </p>
            <h6 class="fw-light mb-0">
              By <a href="javascript:void(0);">Louis Crawford</a>
            </h6>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card bg-transparent">
          <div class="position-relative">
            <img src="assets/images/blog/11.jpg" class="card-img" alt="" />

            <div class="card-img-overlay p-3">
              <a href="javascript:void(0);" class="badge text-bg-danger mb-2"
                >Business</a
              >
            </div>
          </div>

          <div class="card-body p-3 pb-0">
            <h5 class="card-title">
              <a routerLink="/blogs/detail"
                >Best Twitter accounts for learning about investment</a
              >
            </h5>
            <h6 class="fw-light mb-0">
              By <a href="javascript:void(0);">Carolyn Ortiz</a>
            </h6>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card h-100 bg-transparent">
          <div
            class="card-img-top rounded overflow-hidden position-relative hover-overlay-top"
          >
            <div class="ratio ratio-4x3 bg-dark">
              <iframe
                src="https://player.vimeo.com/video/167434033?title=0&amp;byline=0&amp;portrait=0"
                allowfullscreen=""
              ></iframe>
            </div>
          </div>

          <div class="card-body p-3 pb-0">
            <a href="javascript:void(0);" class="badge text-bg-info mb-2"
              >Technology</a
            >

            <h5 class="card-title">
              <a routerLink="/blogs/detail"
                >10 things you need to know about Booking</a
              >
            </h5>
            <h6 class="fw-light mb-0">
              By <a href="javascript:void(0);">Amanda Reed</a>
            </h6>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card bg-transparent">
          <div class="position-relative">
            <img src="assets/images/blog/09.jpg" class="card-img" alt="" />

            <div class="card-img-overlay p-3">
              <a href="javascript:void(0);" class="badge text-bg-dark mb-2"
                >Adventure</a
              >
            </div>
          </div>

          <div class="card-body p-3 pb-0">
            <h5 class="card-title">
              <a routerLink="/blogs/detail"
                >Never underestimate the influence of social media</a
              >
            </h5>
            <h6 class="fw-light mb-0">
              By <a href="javascript:void(0);">Bryan Knight</a>
            </h6>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card bg-transparent">
          <div class="position-relative">
            <img src="assets/images/blog/12.jpg" class="card-img" alt="" />

            <div class="card-img-overlay p-3">
              <a href="javascript:void(0);" class="badge text-bg-success mb-2"
                >Hotel Service</a
              >
            </div>
          </div>

          <div class="card-body p-3 pb-0">
            <h5 class="card-title">
              <a routerLink="/blogs/detail"
                >This is why this year will be the year of startups</a
              >
            </h5>
            <h6 class="fw-light mb-0">
              By <a href="javascript:void(0);">Carolyn Ortiz</a>
            </h6>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center mt-4">
      <a href="javascript:void(0);" class="btn btn-primary-soft mb-0"
        >Load more<i class="fas fa-sync ms-2"></i
      ></a>
    </div>
  </div>
</section>
