<sticky-header-component>
  <nav class="navbar navbar-expand-xl z-index-9 navbar-divider">
    <div class="container">
      <app-logo-box />

      <button
        class="navbar-toggler ms-auto"
        (click)="collapse.toggle()"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="bi bi-search fs-4"> </i>
      </button>
      <vertical-menu-button [showText]="false" className="" />
      <div
        #collapse="ngbCollapse"
        [(ngbCollapse)]="isCollapsed"
        class="navbar-collapse collapse"
        id="navbarCollapse"
      >
        <div class="col-xxl-6">
          <div class="nav my-3 my-xl-0 px-4 flex-nowrap align-items-center">
            <div class="nav-item w-100">
              <form class="rounded position-relative">
                <input
                  class="form-control pe-5 bg-secondary bg-opacity-10"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button
                  class="btn btn-link bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y"
                  type="submit"
                >
                  <i class="fas fa-search fs-6 text-primary"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
        <app-notification-dropdown className="ms-0 ms-md-3" />
        <app-profile-dropdown className="ms-3 " />
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-xl navbar-divider">
    <div class="container px-0">
      <div class="navbar-collapse w-100 collapse" id="navbarCollapse2">
        <ul class="navbar-nav nav-active-line navbar-nav-scroll mx-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Hotels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/flights/home">Flights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tours/home">Tours</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cabs/home">Cabs</a>
          </li>
          <vertical-menu-button
            [showText]="false"
            className="ms-auto mx-3 me-xl-0 p-0 p-sm-1"
          />
          <app-menu
            [startBookingMenu]="false"
            [showExtraPages]="true"
            [menuClassName]="'mx-auto'"
          >
          </app-menu>
        </ul>
      </div>
    </div>
  </nav>
</sticky-header-component>
