<section>
  <div class="container">
    <div class="row g-4">
      @for (item of tripCategories; track $index) {
        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div
            class="card card-body bg-light h-100 align-items-center justify-content-center"
          >
            <div class="d-flex align-items-center">
              <img [src]="item.image" class="h-30px me-3" alt="" />
              <h6 class="card-title mb-0">
                <a href="javascript:void(0);" class="stretched-link">{{
                  item.name
                }}</a>
              </h6>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
