<section
  class="position-relative py-xl-9"
  style="
    background-image: url(assets/images/bg/10.jpg);
    background-position: center left;
    background-size: cover;
  "
>
  <div class="container z-index-9">
    <div class="row">
      <div class="col-lg-10 m-auto text-center position-relative z-index-9">
        <form class="form-control-inline my-5">
          <div
            class="d-flex flex-wrap justify-content-center align-items-center"
          >
            <label class="form-control-inline-text">We are</label>
            <span class="d-inline-block">
              <select
                selectFormInput
                [options]="{ searchEnabled: false }"
                class="form-select js-choice"
              >
                <option value="">Select</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>5+</option>
              </select>
            </span>

            <label class="form-control-inline-text">People, Looking for</label>
            <span class="d-inline-block">
              <select
                selectFormInput
                [options]="{ searchEnabled: false }"
                class="form-select js-choice"
              >
                <option value="">Select</option>
                <option>Apartment</option>
                <option>Villa</option>
                <option>Hotel</option>
                <option>Hostel</option>
              </select>
            </span>

            <label class="form-control-inline-text">around</label>
            <span class="d-inline-block">
              <select
                selectFormInput
                class="form-select js-choice"
                data-search-enabled="true"
              >
                <option value="">Select</option>
                <option>California, USA</option>
                <option>New York, USA</option>
                <option>London, UK</option>
              </select>
            </span>

            <label class="form-control-inline-text">,</label>
            <span class="d-inline-block">
              <input
                type="text"
                class="form-control flatpickr"
                mwlFlatpickr
                [flatpickrOptions]="{ dateFormat: 'd M' }"
                data-mode="range"
                placeholder="From - To"
              />
            </span>

            <label class="form-control-inline-text">.</label>
          </div>

          <button
            class="icon-xxl bg-primary btn-dark-hover rounded-circle btn fs-6 text-white p-0 mt-4"
            type="submit"
          >
            Search
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
