<add-listing-topbar />

<main>
  <section class="pb-0">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="fs-2 mb-2">Add New Listing</h1>
          <p class="mb-0">
            Praise effects wish change way and any wanted. Lively use looked
            latter regard had.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <add-listings-stepper />
    </div>
  </section>
</main>
<listing-add-footer />
