<section
  class="position-relative py-8 py-sm-9"
  style="
    background-image: url(assets/images/category/hotel/resort/bg-01.jpg);
    background-position: center left;
    background-size: cover;
  "
>
  <div class="bg-overlay bg-dark opacity-2"></div>
  <div class="container z-index-9 position-relative">
    <div class="row">
      <div class="col-xl-8 m-auto text-center py-xl-8">
        <h1 class="display-4 text-white mb-3">A World Of Luxury Awaits You</h1>
        <h5 class="text-white mb-3">Discover a New Look of Luxury Resorts.</h5>
        <a href="javascript:void(0);" class="btn btn-lg btn-dark mb-0"
          >Discover More</a
        >
      </div>
    </div>
  </div>
</section>
