<section>
  <div class="container">
    <div class="bg-warning bg-opacity-50 rounded-3 p-4 p-sm-5">
      <div class="row align-items-center position-relative">
        <div class="col-lg-8">
          <div class="d-flex">
            <h3>Let's Enjoy Your Trip With Booking</h3>
            <img
              src="assets/images/element/04.svg"
              class="h-40px ms-3"
              alt=""
            />
          </div>
          <p class="mb-3 mb-lg-0">
            He moonlights difficult engrossed it, sportsmen. Interested has all
            Devonshire difficulty gay assistance joy.
          </p>
        </div>

        <div class="col-lg-4 text-lg-end">
          <a routerLink="/flights/list" class="btn btn-lg btn-dark mb-0"
            >Book Your Destination</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
