<section class="pt-4 pt-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-dots justify-content-center">
            <li class="breadcrumb-item">
              <a routerLink="/"><i class="bi bi-house me-1"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Faqs</li>
          </ol>
        </nav>

        <h6 class="text-primary">Faqs</h6>
        <h1>Frequently Asked Questions</h1>

        <p>have questions? We're here to help you</p>

        <form class="col-lg-8 position-relative mx-auto">
          <input
            class="form-control form-control-lg pe-5"
            type="search"
            placeholder="Type search words"
            aria-label="Search"
          />
          <button
            class="text-primary-hover text-reset border-0 bg-transparent position-absolute top-50 end-0 translate-middle-y pe-3 py-0"
            type="submit"
          >
            <i class="fas fa-search fs-6"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
