<sticky-header-component>
  <nav class="navbar navbar-expand-xl">
    <div class="container">
      <app-logo-box />

      <vertical-menu-button className="ms-auto mx-3" [showText]="false" />

      <app-menu
        class="navbar-collapse collapse"
        menuClassName="mx-auto"
        [showExtraPages]="true"
      />

      <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
        <app-theme-switcher btnclassName="btn btn-link text-warning" />

        <li ngbDropdown class="nav-item dropdown nav-search me-1 me-sm-2">
          <a
            ngbDropdownToggle
            class="nav-link mb-0 py-0 arrow-none"
            role="button"
            id="navSearch"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            data-bs-auto-close="outside"
            data-bs-display="static"
          >
            <i class="bi bi-search fs-5"> </i>
          </a>
          <div
            ngbDropdownMenu
            class="dropdown-menu dropdown-menu-end shadow rounded p-2"
            aria-labelledby="navSearch"
          >
            <form class="input-group">
              <input
                class="form-control border-primary"
                type="search"
                placeholder="Search..."
                aria-label="Search"
              />
              <button class="btn btn-primary m-0" type="submit">Search</button>
            </form>
          </div>
        </li>

        <li class="nav-item">
          <a href="javascript:void(0);" class="btn btn-sm btn-primary mb-0"
            ><i class="fa-solid fa-right-to-bracket me-sm-2"></i
            ><span class="d-none d-sm-inline">Sign Up</span></a
          >
        </li>
      </ul>
    </div>
  </nav>
</sticky-header-component>
