<section class="pt-4 pt-lg-5">
  <div class="container position-relative">
    <div class="row">
      <div class="col-12">
        <div class="d-md-flex justify-content-md-between">
          <div>
            <h1 class="fs-2">Beautiful Bali with Malaysia</h1>
            <ul class="nav nav-divider h6 text-body mb-0">
              <li class="nav-item">5 nights - 6 Days</li>
              <li class="nav-item">1 Country - 2 Cities</li>
            </ul>
          </div>

          <ul class="list-inline text-end">
            <li class="list-inline-item me-2">
              <a href="javascript:void(0);" class="btn btn-sm btn-light px-2"
                ><i class="fa-solid fa-fw fa-heart"></i
              ></a>
            </li>

            <li class="list-inline-item dropdown ms-1" ngbDropdown>
              <a
                href="javascript:void(0);"
                ngbDropdownToggle
                class="btn btn-sm btn-light px-2 arrow-none"
                role="button"
                id="dropdownShare"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa-solid fa-fw fa-share-alt"></i>
              </a>

              <ul
                ngbDropdownMenu
                class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded"
                aria-labelledby="dropdownShare"
              >
                <li>
                  <a class="dropdown-item" href="javascript:void(0);"
                    ><i class="fab fa-twitter-square me-2"></i>Twitter</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);"
                    ><i class="fab fa-facebook-square me-2"></i>Facebook</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);"
                    ><i class="fab fa-linkedin me-2"></i>LinkedIn</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);"
                    ><i class="fa-solid fa-copy me-2"></i>Copy link</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row mt-md-5">
      <lightgallery [settings]="settings" class="col-12">
        <splide
          class="splide splide-main mb-3"
          #mainSplide
          [options]="{
            type: 'slide',
            pagination: false,
            arrows: false,
            lazyLoad: 'sequential',
            preloadPages: 3,
            heightRatio: 0.5
          }"
        >
          @for (item of galleryImages; track $index) {
            <splide-slide class="splide__slide"
              ><img [src]="item" alt="" />

              <a [href]="item" class="stretched-link" data-gallery="banner"></a>
            </splide-slide>
          }
        </splide>

        <splide
          class="mt-3"
          [syncWith]="mainSplide"
          [options]="{
            rewind: true,
            isNavigation: true,
            gap: 20,
            focus: 'center',
            pagination: false,
            cover: true,
            lazyLoad: 'sequential',
            preloadPages: 20,
            fixedWidth: 200,
            fixedHeight: 120
          }"
        >
          @for (data of galleryImages; track $index) {
            <splide-slide class="splide__slide mt-3"
              ><img [src]="data" alt=""
            /></splide-slide>
          }
        </splide>
      </lightgallery>
    </div>
  </div>
</section>
