<div
  class="bg-success bg-opacity-10 p-3 rounded-2 d-sm-flex justify-content-sm-between align-items-center"
>
  <div class="d-flex align-items-center mb-3 mb-sm-0">
    <div class="position-relative z-index-1 me-2">
      <img
        src="assets/images/element/vip.png"
        class="position-relative h-40px"
        alt=""
      />
      <span
        class="smaller text-white position-absolute top-50 start-50 translate-middle"
        >New</span
      >
    </div>

    <h6 class="mb-0 fw-normal">
      Obtenez <strong class="text-success">- 10%</strong> sur votre premiere réservation
    </h6>
  </div>


</div>

<div class="card border mt-4">
  <div class="card-header">
    <div class="d-md-flex justify-content-md-between">
      <div class="d-flex align-items-center mb-2 mb-md-0">
        <img src="assets/images/element/vip.png" class="w-30px me-2" alt="" />
        <h6 class="fw-normal mb-0">VIP Transport (CCE - 2158)</h6>
      </div>
      <h6 class="fw-normal mb-0">
        <span class="text-body">Catégorie :</span> Standard
      </h6>
    </div>
  </div>

  <div class="card-body p-4 pb-0">
    <div class="row g-4 align-items-center">
      <div class="col-md-9">
        <div class="row g-4">
          <div class="col-sm-4">
            <h4>06:00</h4>
            <h6 class="mb-0 fw-normal">Ven, 18 Oct {{ currentYear }}</h6>
            <p class="mb-0">Bouaké - Côte d'Ivoire</p>
          </div>

          <div class="col-sm-4 my-sm-auto text-center">
            <h5>6h</h5>
            <div class="position-relative my-4">
              <hr class="bg-primary opacity-5 position-relative" />

              <div
                class="icon-md bg-primary text-white rounded-circle position-absolute top-50 start-50 translate-middle"
              >
                <i class="fa-solid fa-bus rtl-flip"></i>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <h4>10:00</h4>
            <h6 class="mb-0 fw-normal">Ven, 18 Oct {{ currentYear }}</h6>
            <p class="mb-0">Yopougon - Côte d'Ivoire</p>
          </div>
        </div>

        <hr class="my-4" />

        <div class="row g-4">
          <div class="col-sm-4">
            <h4>12:30</h4>
            <h6 class="mb-0 fw-normal">Jeu, 24 Oct {{ currentYear }}</h6>
            <p class="mb-0">Yopougon - Côte d'Ivoire</p>
          </div>

          <div class="col-sm-4 my-sm-auto text-center">
            <h5>6h</h5>
            <div class="position-relative my-4">
              <hr class="bg-primary opacity-5 position-relative" />

              <div
                class="icon-md bg-primary text-white rounded-circle position-absolute top-50 start-50 translate-middle"
              >
                <i class="fa-solid fa-bus rtl-flip"></i>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <h4>18:30</h4>
            <h6 class="mb-0 fw-normal">Jeu, 24 Oct {{ currentYear }}</h6>
            <p class="mb-0">Bouaké - Côte d'Ivoire</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 text-md-end">
        <h4>7200 {{ currencyType }}</h4>
        <a routerLink="/flights/detail" class="btn btn-dark mb-0 mb-sm-2"
          >Réserver</a
        >
        <button
          class="btn btn-link text-decoration-underline p-0 mb-0 ms-1"
          (click)="open()"
          data-bs-toggle="modal"
          data-bs-target="#flightdetail"
        >
          <i class="bi bi-eye-fill me-1"></i>Voir détails
        </button>
      </div>
    </div>
  </div>

  <div class="card-footer pt-4">
    <div class="">
      <ul
        class="list-inline bg-light d-sm-flex text-center justify-content-sm-between rounded-2 py-2 px-4 mb-0"
      >
        <li class="list-inline-item text-danger">4 Places restantes</li>
      </ul>
    </div>
  </div>
</div>
