<section class="py-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          class="bg-light rounded-3 position-relative overflow-hidden p-4 p-xl-5"
        >
          <div class="row g-4 align-items-center">
            <div class="col-lg-6">
              <h1 class="mb-3 fs-2">Compare listing and choose the best</h1>
              <p class="mb-3">
                Expand knowledge by reading book Two before narrow not relied on
                how except moment myself Dejection assurance.
              </p>
              <a href="javascript:void(0);" class="btn btn-primary-soft mb-0"
                >View all Listing<i class="bi bi-arrow-right fa-fw ms-2"></i
              ></a>
            </div>

            <div class="col-lg-6">
              <img src="assets/images/element/compare.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
