<div class="card bg-transparent">
  <div class="card-header border-bottom bg-transparent px-0 pt-0">
    <h3 class="card-title mb-0">Amenities</h3>
  </div>

  <div class="card-body pt-4 p-0">
    <div class="row g-4">
      @for (item of amenitiesList.slice(0, 3); track $index) {
        <div class="col-sm-6">
          <h6><i class="fa-solid {{ item.icon }} me-2"></i>{{ item.label }}</h6>

          <ul class="list-group list-group-borderless mt-2 mb-0">
            @for (name of item.name; track $index) {
              <li class="list-group-item pb-0">
                <i class="fa-solid fa-check-circle text-success me-2"></i
                >{{ name }}
              </li>
            }
          </ul>
        </div>
      }
      <div class="col-sm-6">
        @for (
          item of amenitiesList.slice(3, amenitiesList.length);
          track $index
        ) {
          <h6><i class="fa-solid {{ item.icon }} me-2"></i>{{ item.label }}</h6>

          <ul class="list-group list-group-borderless mt-2 mb-4 mb-sm-5">
            @for (name of item.name; track $index) {
              <li class="list-group-item pb-0">
                <i class="fa-solid fa-check-circle text-success me-2"></i
                >{{ name }}
              </li>
            }
          </ul>
        }
      </div>
    </div>
  </div>
</div>
