<div class="row">
  <div class="col-12">
    <div class="card border rounded-3">
      <div class="card-header border-bottom">
        <h5 class="card-header-title">User Reviews</h5>
      </div>
      <div class="card-body">
        @for (item of userReviewsData; track $index; let last = $last) {
          <div class="bg-light rounded p-3">
            <div class="d-sm-flex justify-content-between">
              <div class="d-sm-flex align-items-center mb-3">
                <img
                  class="avatar avatar-md rounded-circle float-start me-3"
                  [src]="item.avatar"
                  alt="avatar"
                />
                <div>
                  <h6 class="m-0">{{ item.name }}</h6>
                  <span class="me-3 small">{{ item.time }}</span>
                </div>
              </div>
              <ul class="list-inline mb-2 mb-sm-0">
                <li class="list-inline-item me-1">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-1">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-1">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-1">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0">
                  <i class="far fa-star text-warning"></i>
                </li>
              </ul>
            </div>

            <h6 class="fw-normal">
              <span class="text-body">Review on:</span> {{ item.reviewOn }}
            </h6>
            <p>{{ item.description }}</p>

            @if (item.images) {
              <div class="row g-4">
                @for (data of item.images; track $index) {
                  <div class="col-4 col-sm-3 col-lg-2">
                    <a [href]="data" data-glightbox data-gallery="gallery">
                      <img [src]="data" class="rounded" alt="" />
                    </a>
                  </div>
                }
              </div>
            }
            <div class="mt-3">
              @if (item.reply) {
                <div class="d-flex justify-content-between align-items-center">
                  <a
                    class="btn btn-sm btn-primary-soft mb-0"
                    (click)="isCollapsed = !isCollapsed"
                    data-bs-toggle="collapse"
                    href="javascript:void(0);"
                    role="button"
                    aria-expanded="true"
                    aria-controls="collapseComment"
                  >
                    <i class="bi bi-reply me-1"></i>Reply
                  </a>
                  <a
                    href="javascript:void(0);"
                    class="text-primary-hover text-reset small mb-0"
                    ><i class="bi bi-info-circle me-1"></i>Report</a
                  >
                </div>
                <div
                  class="collapse show"
                  id="collapseComment"
                  #collapse="ngbCollapse"
                  [(ngbCollapse)]="isCollapsed"
                >
                  <div class="d-flex mt-3">
                    <textarea
                      class="form-control mb-0"
                      placeholder="Add a comment..."
                      rows="2"
                      spellcheck="false"
                    ></textarea>
                    <button
                      class="btn btn-sm btn-primary-soft ms-2 px-4 mb-0 flex-shrink-0"
                    >
                      <i class="fas fa-paper-plane fs-5"></i>
                    </button>
                  </div>
                </div>
              } @else {
                <div class="d-flex justify-content-between align-items-center">
                  <a
                    class="btn btn-sm btn-primary-soft mb-0"
                    data-bs-toggle="collapse"
                    href="javascript:void(0);"
                    role="button"
                    aria-expanded="true"
                    aria-controls="collapseComment"
                  >
                    <i class="bi bi-reply me-1"></i>Reply
                  </a>
                  <a
                    href="javascript:void(0);"
                    class="text-primary-hover text-reset small mb-0"
                    ><i class="bi bi-info-circle me-1"></i>Report</a
                  >
                </div>
              }
            </div>
          </div>
          @if (!last) {
            <hr />
          }
        }
      </div>
      <div class="card-footer pt-0">
        <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
          <p class="mb-sm-0 text-center text-sm-start">
            Showing 1 to 8 of 20 entries
          </p>
          <nav
            class="mt-4 d-flex justify-content-center"
            aria-label="navigation"
          >
            <ngb-pagination
              [collectionSize]="150"
              [maxSize]="2"
              [size]="'sm'"
              [style]="'margin-bottom:0px'"
              class="pagination pagination-primary-soft d-inline-block d-md-flex rounded mb-0"
            >
              <ng-template ngbPaginationPrevious>
                <i class="fa-solid fa-angle-left"></i>
              </ng-template>
              <ng-template ngbPaginationNext>
                <i class="fa-solid fa-angle-right"></i>
              </ng-template>
            </ngb-pagination>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
