<div class="card bg-transparent">
  <div class="card-header border-bottom bg-transparent px-0 pt-0">
    <h3 class="mb-0">Hotel Policies</h3>
  </div>

  <div class="card-body pt-4 p-0">
    <ul class="list-group list-group-borderless mb-2">
      <li class="list-group-item d-flex">
        <i class="bi bi-check-circle-fill me-2"></i>This is a family farmhouse,
        hence we request you to not indulge.
      </li>
      <li class="list-group-item d-flex">
        <i class="bi bi-check-circle-fill me-2"></i>Drinking and smoking within
        controlled limits are permitted at the farmhouse but please do not
        create a mess or ruckus at the house.
      </li>
      <li class="list-group-item d-flex">
        <i class="bi bi-check-circle-fill me-2"></i>Drugs and intoxicating
        illegal products are banned and not to be brought to the house or
        consumed.
      </li>
      <li class="list-group-item d-flex">
        <i class="bi bi-x-circle-fill me-2"></i>For any update, the customer
        shall pay applicable cancellation/modification charges.
      </li>
    </ul>

    <ul class="list-group list-group-borderless mb-2">
      @for (policy of policies; track $index) {
        <li class="list-group-item h6 fw-light d-flex mb-0">
          <i class="bi bi-arrow-right me-2"></i>{{ policy }}
        </li>
      }
    </ul>

    <div class="bg-danger bg-opacity-10 rounded-2 p-3 mb-3">
      <p class="mb-0 text-danger">
        During the COVID-19 pandemic, all hosts and guests must review and
        follow Booking social distancing and other COVID-19-related guidelines.
      </p>
    </div>
    <div class="bg-danger bg-opacity-10 rounded-2 p-3">
      <p class="mb-0 text-danger">
        Smoke alarm not reported — The host hasn't reported a smoke alarm on the
        property. We suggest bringing a portable detector for your trip.
      </p>
    </div>
  </div>
</div>
