<section class="pt-0 py-md-5">
  <div class="container">
    <div class="row g-4 align-items-center">
      <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
        <img
          src="assets/images/client/01.svg"
          class="grayscale px-3 px-sm-4"
          alt=""
        />
      </div>

      <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
        <img
          src="assets/images/client/02.svg"
          class="grayscale px-3 px-sm-4"
          alt=""
        />
      </div>

      <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
        <img
          src="assets/images/client/03.svg"
          class="grayscale px-3 px-sm-4"
          alt=""
        />
      </div>

      <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
        <img
          src="assets/images/client/04.svg"
          class="grayscale px-3 px-sm-4"
          alt=""
        />
      </div>

      <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
        <img
          src="assets/images/client/05.svg"
          class="grayscale px-3 px-sm-4"
          alt=""
        />
      </div>

      <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
        <img
          src="assets/images/client/06.svg"
          class="grayscale px-3 px-sm-4"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
