<section>
  <div class="container">
    <div class="row mb-4">
      <div class="col-12 text-center">
        <h2 class="mb-0">Explore Nearby</h2>
      </div>
    </div>

    <div class="row g-4 g-md-5">
      @for (data of nearbyList; track $index) {
        <div class="col-6 col-sm-4 col-lg-3 col-xl-2">
          <div class="card bg-transparent text-center p-1 h-100">
            <img src="{{ data.image }}" class="rounded-circle" alt="" />

            <div class="card-body p-0 pt-3">
              <h5 class="card-title">
                <a href="javascript:void(0);" class="stretched-link">{{
                  data.name
                }}</a>
              </h5>
              <span>{{ data.travelTime }}</span>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>
