<section class="pt-0">
  <div class="container mt-4">
    <div class="row mb-4 mb-md-5">
      <div class="col-12 text-center">
        <h2>Frequently Asked Questions</h2>
        <p class="mb-0">
          Perceived end knowledge certainly day sweetness why cordially
        </p>
      </div>
    </div>

    <div class="row g-4 g-md-5">
      @for (data of faqList; track $index) {
        <div class="col-md-6 col-lg-4">
          <div class="card card-body border bg-transparent h-100 p-4">
            <h6>{{ data.title }}</h6>
            <p class="mb-0">{{ data.description }}</p>
          </div>
        </div>
      }
    </div>
  </div>
</section>
