<div class="d-none d-xl-block">
  <div class="rounded-3 shadow">


    <div class="card card-body rounded-0 p-4">
      <h6 class="mb-2">Prix</h6>
      <div class="position-relative">
        <div class="noui-wrapper">
          <div class="d-flex justify-content-between">
            <input
              type="text"
              class="text-body input-with-range-min"
              [value]="value.toFixed(2)"
            />
            <input
              type="text"
              class="text-body input-with-range-max"
              [value]="highValue.toFixed(2)"
            />
          </div>
          <ngx-slider
            [(value)]="value"
            [options]="options"
            [(highValue)]="highValue"
            class="range-slider-ui"
          ></ngx-slider>
        </div>
      </div>
    </div>
    <hr class="my-0" />
    <div class="card card-body rounded-0 p-4">
      <h6 class="mb-2">Arrêts</h6>
      <ul class="list-inline mb-0 g-3">
        @for (item of onwordSteps; track $index) {
          <li class="list-inline-item mb-0">
            <input type="checkbox" class="btn-check" id="{{ item.id }}" />
            <label
              class="btn btn-sm btn-light btn-primary-soft-check"
              for="{{ item.id }}"
              >{{ item.label }}</label
            >
          </li>
        }
      </ul>
    </div>


    <hr class="my-0" />
    <div class="card card-body rounded-0 p-4">
      <h6 class="mb-2">Compagnies</h6>
      <div class="col-12">
        @for (item of airline; track $index) {
          @if ($index < 4) {
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="{{ item.id }}"
              />
              <label class="form-check-label" for="{{ item.id }}">
                <img [src]="item.image" class="h-15px fa-fw me-2" alt="" />{{
                  item.name
                }}
              </label>
            </div>
          }
        }
        <div
          class="multi-collapse collapse"
          id="airlineCollapes"
          #collapse="ngbCollapse"
          [(ngbCollapse)]="isCollapsed"
        >
          @for (item of airline; track $index) {
            @if ($index >= 4) {
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="{{ item.id }}"
                />
                <label class="form-check-label" for="{{ item.id }}">
                  <img [src]="item.image" class="h-15px fa-fw me-2" alt="" />{{
                    item.name
                  }}
                </label>
              </div>
            }
          }
        </div>
        <a
          (click)="collapse.toggle()"
          class="p-0 mb-0 mt-2 btn-more d-flex align-items-center collapsed"
          data-bs-toggle="collapse"
          href="javascript:void(0);"
          role="button"
          aria-expanded="false"
          aria-controls="airlineCollapes"
        >
          Voir
          @if (isCollapsed) {
            <span class="see-more ms-1">plus</span>
          } @else {
            <span class="ms-1">moins</span>
          }
          <i
            class="fa-solid fa-angle-down ms-2"
            [ngClass]="isCollapsed ? 'fa-angle-down' : 'fa-angle-up'"
          ></i>
        </a>
      </div>

    </div>
  </div>
  <div class="d-flex justify-content-between p-2 p-xl-0 mt-xl-4">
    <button type="button" class="p-0 mb-0 btn btn-link">Tout effacer</button
    ><button type="button" class="mb-0 btn btn-primary">Filtrer</button>
  </div>
</div>
