<!-- =======================
Action box START -->
<section class="py-0 py-md-5">
  <div class="container">
    <div
      class="position-relative rounded-3 overflow-hidden p-3 p-sm-5"
      style="
        background-image: url(assets/images/about/08.jpg);
        background-position: center left;
        background-size: cover;
      "
    >
      <div class="row position-relative z-index-9">
        <div class="col-md-7 col-xl-5 ms-auto">
          <div class="card card-body p-sm-5">
            <div
              class="d-sm-flex justify-content-between align-items-center mb-2"
            >
              <h6 class="text-primary mb-0">Exclusive Offer</h6>

              <ul class="list-inline small mb-0">
                <li class="list-inline-item me-1">
                  <i class="fa-solid fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-1">
                  <i class="fa-solid fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-1">
                  <i class="fa-solid fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-1">
                  <i class="fa-solid fa-star text-warning"></i>
                </li>
                <li class="list-inline-item">
                  <i class="fa-solid fa-star text-warning"></i>
                </li>
              </ul>
            </div>

            <h5>Enjoy Your Dream Vacation In Switzerland</h5>
            <p class="mb-3">
              Book your hotel with us and don't forget to grab an awesome hotel
              deal to save massive on your stay.
            </p>

            <h6 class="fw-normal mb-1">2 Days / 3 Nights</h6>
            <div class="d-flex align-items-center">
              <h5 class="text-success mb-0 me-1">{{ currencyType }}750</h5>
              <span class="mb-0 me-2">/day</span>
              <span class="text-decoration-line-through"
                >{{ currencyType }}1000</span
              >
            </div>

            <a href="javascript:void(0);" class="btn btn-primary-soft mb-0 mt-3"
              >Book Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- =======================
Action box END -->
