<div class="card shadow">
  <div class="card-header border-bottom">
    <h5 class="card-title mb-0">General Permission</h5>
  </div>

  <div class="card-body vstack gap-4">
    <div class="d-md-flex justify-content-between align-items-center">
      <div>
        <h6 class="mb-0">Notify on updates and activity</h6>
        <small
          >You'll be notified when anyone shares a report or invite you to a
          projects</small
        >
      </div>

      <div class="form-check form-switch form-check-md mb-0">
        <input
          class="form-check-input"
          type="checkbox"
          id="checkPrivacy6"
          checked=""
        />
      </div>
    </div>

    <div class="d-md-flex justify-content-between align-items-center">
      <div>
        <h6 class="mb-0">Send weekly digest</h6>
        <small>A weekly update on changes in theme statement and more</small>
      </div>

      <div class="form-check form-switch form-check-md mb-0">
        <input class="form-check-input" type="checkbox" id="checkPrivacy7" />
      </div>
    </div>

    <div class="d-md-flex justify-content-between align-items-center">
      <div>
        <h6 class="mb-0">Collaborators</h6>
        <small>I would like to receive booking assistance reminders</small>
      </div>

      <div class="form-check form-switch form-check-md mb-0">
        <input class="form-check-input" type="checkbox" id="checkPrivacy8" />
      </div>
    </div>
  </div>
</div>
