<div class="card shadow">
  <div class="card-header border-bottom p-4">
    <h4 class="card-title mb-0">
      <i class="bi bi-wallet-fill me-2"></i>Payment Options
    </h4>
  </div>

  <div class="card-body p-4 pb-0">
    <div class="bg-primary bg-opacity-10 rounded-3 mb-4 p-3">
      <div class="d-md-flex justify-content-md-between align-items-center">
        <div class="d-sm-flex align-items-center mb-2 mb-md-0">
          <img src="assets/images/element/16.svg" class="h-50px" alt="" />

          <div class="ms-sm-3 mt-2 mt-sm-0">
            <h5 class="card-title mb-0">Get Additional Discount</h5>
            <p class="mb-0">Login to access saved payments and discounts!</p>
          </div>
        </div>

        <a routerLink="/auth/sign-in" class="btn btn-primary mb-0">Login now</a>
      </div>
    </div>

    <div
      ngbAccordion
      [closeOthers]="true"
      class="accordion accordion-icon accordion-bg-light"
      id="accordioncircle"
    >
      <div ngbAccordionItem [collapsed]="false" class="accordion-item mb-3">
        <h6 ngbAccordionHeader class="accordion-header" id="heading-1">
          <button
            ngbAccordionButton
            class="accordion-button rounded collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-1"
            aria-expanded="true"
            aria-controls="collapse-1"
          >
            <i class="bi bi-credit-card text-primary me-2"></i>
            <span class="me-5">Credit or Debit Card</span>
          </button>
        </h6>
        <div
          ngbAccordionCollapse
          id="collapse-1"
          class="accordion-collapse collapse"
          aria-labelledby="heading-1"
          data-bs-parent="#accordioncircle"
        >
          <div class="accordion-body">
            <div class="d-sm-flex justify-content-sm-between my-3">
              <h6 class="mb-2 mb-sm-0">We Accept:</h6>
              <ul class="list-inline my-0">
                <li class="list-inline-item">
                  <a href="javascript:void(0);"
                    ><img
                      src="assets/images/element/visa.svg"
                      class="h-30px"
                      alt=""
                  /></a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0);"
                    ><img
                      src="assets/images/element/mastercard.svg"
                      class="h-30px"
                      alt=""
                  /></a>
                </li>
                <li class="list-inline-item">
                  <a href="javascript:void(0);"
                    ><img
                      src="assets/images/element/expresscard.svg"
                      class="h-30px"
                      alt=""
                  /></a>
                </li>
              </ul>
            </div>

            <form
              [formGroup]="paymentForm"
              (ngSubmit)="onSubmit()"
              class="row g-3"
            >
              <div class="col-12">
                <label class="form-label"
                  ><span class="h6 fw-normal">Card Number *</span></label
                >
                <div class="position-relative">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="cardnumber"
                    mask="0000 0000 0000 0000"
                    [ngClass]="{
                      'is-invalid': submit && form['cardnumber'].errors
                    }"
                    placeholder="XXXX XXXX XXXX XXXX"
                  />
                  <img
                    src="assets/images/element/visa.svg"
                    class="w-30px position-absolute top-50 end-0 translate-middle-y me-2 d-none d-sm-block"
                    alt=""
                  />
                </div>
              </div>

              <div class="col-md-6">
                <label class="form-label"
                  ><span class="h6 fw-normal">Expiration date *</span></label
                >
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    formControlName="month"
                    maxlength="2"
                    mask="00"
                    [ngClass]="{ 'is-invalid': submit && form['month'].errors }"
                    placeholder="Month"
                  />
                  <input
                    type="text"
                    class="form-control"
                    formControlName="year"
                    maxlength="4"
                    mask="0000"
                    [ngClass]="{ 'is-invalid': submit && form['year'].errors }"
                    placeholder="Year"
                  />
                </div>
              </div>
              <!--Cvv code  -->
              <div class="col-md-6">
                <label class="form-label"
                  ><span class="h6 fw-normal">CVV / CVC *</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="cvv"
                  maxlength="3"
                  mask="000"
                  [ngClass]="{ 'is-invalid': submit && form['cvv'].errors }"
                  placeholder="xxx"
                />
                <div class="invalid-feedback">
                  cvv must be a `number` type, but the final value was: `NaN`
                  (cast from the value `""`).
                </div>
              </div>

              <div class="col-12">
                <label class="form-label"
                  ><span class="h6 fw-normal">Name on Card *</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="name"
                  aria-label="name of card holder"
                  [ngClass]="{ 'is-invalid': submit && form['name'].errors }"
                  placeholder="Enter card holder name"
                />
                <div class="invalid-feedback">
                  Please enter card holder name
                </div>
              </div>

              <div class="col-12">
                @if (!staticAlertClosed) {
                  <ngb-alert
                    (closed)="staticAlertClosed = true"
                    [dismissible]="true"
                    type="success"
                    class="fade show my-3"
                    role="alert"
                  >
                    <div class="d-sm-flex align-items-center mb-3">
                      <img
                        src="assets/images/element/12.svg"
                        class="w-40px me-3 mb-2 mb-sm-0"
                        alt=""
                      />
                      <h5 class="alert-heading mb-0">
                        {{ currencyType }}50,000 Covid Cover & More
                      </h5>
                    </div>

                    <p class="mb-2">
                      Aww yeah, you successfully read this important alert
                      message. This example text is going to run a bit longer so
                      that you can see how spacing within an alert works with
                      this kind of content.
                    </p>

                    <div class="d-sm-flex align-items-center">
                      <a
                        href="javascript:void(0);"
                        class="btn btn-sm btn-success mb-2 mb-sm-0 me-3"
                        ><i class="fa-regular fa-plus me-2"></i>Add</a
                      >
                      <h6 class="mb-0">{{ currencyType }}69 per person</h6>
                    </div>
                  </ngb-alert>
                }
              </div>

              <div class="col-12">
                <div
                  class="d-sm-flex justify-content-sm-between align-items-center"
                >
                  <h4>
                    {{ currencyType }}1800
                    <span class="small fs-6">Due now</span>
                  </h4>
                  <button type="submit" class="btn btn-primary mb-0">
                    Pay Now
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div ngbAccordionItem class="accordion-item mb-3">
        <h6 ngbAccordionHeader class="accordion-header" id="heading-2">
          <button
            ngbAccordionButton
            class="accordion-button collapsed rounded"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-2"
            aria-expanded="false"
            aria-controls="collapse-2"
          >
            <i class="bi bi-globe2 text-primary me-2"></i>
            <span class="me-5">Pay with Net Banking</span>
          </button>
        </h6>
        <div
          ngbAccordionCollapse
          id="collapse-2"
          class="accordion-collapse collapse"
          aria-labelledby="heading-2"
          data-bs-parent="#accordioncircle"
        >
          <div ngbAccordionBody class="accordion-body">
            <form class="row g-3 mt-1">
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <h6 class="mb-0">Popular Bank:</h6>
                </li>

                <li class="list-inline-item">
                  <input
                    type="radio"
                    class="btn-check"
                    name="options"
                    id="option1"
                  />
                  <label
                    class="btn btn-light btn-primary-soft-check"
                    for="option1"
                  >
                    <img
                      src="assets/images/element/13.svg"
                      class="h-20px me-2"
                      alt=""
                    />Bank of America
                  </label>
                </li>

                <li class="list-inline-item">
                  <input
                    type="radio"
                    class="btn-check"
                    name="options"
                    id="option2"
                  />
                  <label
                    class="btn btn-light btn-primary-soft-check"
                    for="option2"
                  >
                    <img
                      src="assets/images/element/15.svg"
                      class="h-20px me-2"
                      alt=""
                    />Bank of Japan
                  </label>
                </li>

                <li class="list-inline-item">
                  <input
                    type="radio"
                    class="btn-check"
                    name="options"
                    id="option3"
                  />
                  <label
                    class="btn btn-light btn-primary-soft-check"
                    for="option3"
                  >
                    <img
                      src="assets/images/element/14.svg"
                      class="h-20px me-2"
                      alt=""
                    />VIVIV Bank
                  </label>
                </li>
              </ul>

              <p class="mb-1">
                In order to complete your transaction, we will transfer you over
                to Booking secure servers.
              </p>
              <p class="my-0">
                Select your bank from the drop-down list and click proceed to
                continue with your payment.
              </p>

              <div class="col-md-6">
                <select
                  selectFormInput
                  [options]="{ searchEnabled: false }"
                  class="form-select form-select-sm js-choice border-0"
                >
                  <option value="">Please choose one</option>
                  <option>Bank of America</option>
                  <option>Bank of India</option>
                  <option>Bank of London</option>
                </select>
              </div>

              <div class="d-grid">
                <button class="btn btn-success mb-0">
                  Pay {{ currencyType }}1800
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div ngbAccordionItem class="accordion-item mb-3">
        <h6 ngbAccordionHeader class="accordion-header" id="heading-3">
          <button
            ngbAccordionButton
            class="accordion-button collapsed rounded"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse-3"
            aria-expanded="false"
            aria-controls="collapse-3"
          >
            <i class="bi bi-paypal text-primary me-2"></i
            ><span class="me-5">Pay with Paypal</span>
          </button>
        </h6>
        <div
          ngbAccordionCollapse
          id="collapse-3"
          class="accordion-collapse collapse"
          aria-labelledby="heading-3"
          data-bs-parent="#accordioncircle"
        >
          <div ngbAccordionBody class="accordion-body">
            <div
              class="card card-body border align-items-center text-center mt-4"
            >
              <img
                src="assets/images/element/paypal.svg"
                class="h-70px mb-3"
                alt=""
              />
              <p class="mb-3">
                <strong>Tips:</strong> Simply click on the payment button below
                to proceed to the PayPal payment page.
              </p>
              <a
                href="javascript:void(0);"
                class="btn btn-sm btn-outline-primary mb-0"
                >Pay with paypal</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer p-4 pt-0">
    <p class="mb-0">
      By processing, You accept Booking
      <a href="javascript:void(0);">Terms of Services</a> and
      <a href="javascript:void(0);">Policy</a>
    </p>
  </div>
</div>
