<div class="vstack gap-4">
  <h4 class="mb-0">Detailed Information</h4>

  <div class="card shadow">
    <div class="card-header border-bottom">
      <h5 class="mb-0">Overview</h5>
    </div>

    <div class="card-body">
      <div class="row g-4">
        <div class="col-12">
          <label class="form-label">Select amenities *</label>
          <select
            selectFormInput
            [options]="selectOptions"
            class="form-select js-choice border-0 z-index-9 bg-transparent"
            aria-label=".form-select-sm"
            data-max-item-count="15"
            data-remove-item-button="true"
            multiple
          >
            <option value="">Select amenities</option>
            <option>Swimming pool</option>
            <option>Spa</option>
            <option>Kid's play area</option>
            <option>Gym</option>
            <option>Ironing Service</option>
            <option>Concierge</option>
            <option>Lift</option>
            <option>Dry cleaning</option>
            <option>Room Service</option>
            <option>Waiting Area</option>
            <option>Secrete smoking area</option>
          </select>
          <small
            >Maximum of 14 keywords. Keywords should all be in lowercase and
            separated by commas. e.g. javascript, react, marketing</small
          >
        </div>

        <div class="col-12">
          <label class="form-label">Add description *</label>
          <quill-editor
            #quillEditor
            [(ngModel)]="content"
            theme="snow"
            class="step-ql-editor"
            [modules]="editorConfig"
            style="height: 300px"
          ></quill-editor>
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow">
    <div class="card-header border-bottom">
      <h5 class="mb-0">Size Of Your Listing</h5>
    </div>

    <div class="card-body">
      <div class="row g-4">
        <div class="col-md-4">
          <label class="form-label">Total Floor *</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter total floors"
          />
        </div>

        <div class="col-md-4">
          <label class="form-label">Total Room *</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter total rooms"
          />
        </div>

        <div class="col-md-4">
          <label class="form-label">Room area *</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter area in sq.ft"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow">
    <div class="card-header border-bottom">
      <h5 class="mb-0">Room Options</h5>
    </div>

    <div class="card-body">
      <div class="row g-4">
        <div class="col-md-6">
          <label class="form-label">Room name *</label>
          <input type="text" class="form-control" placeholder="Enter name" />
        </div>

        <div class="col-md-6">
          <label class="form-label">Room thumbnail image *</label>
          <input
            class="form-control"
            type="file"
            name="my-image"
            id="image-2"
            accept="image/gif, image/jpeg, image/png"
          />
        </div>

        <div class="col-md-6">
          <label class="form-label">Room Price *</label>
          <input type="text" class="form-control" placeholder="Enter price" />
        </div>

        <div class="col-md-6">
          <label class="form-label">Discount *</label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter discount"
          />
        </div>

        <div class="col-md-6">
          <label class="form-label">Additional info</label>
          <select
            selectFormInput
            [options]="{ searchEnabled: false }"
            class="form-select js-choice border-0 z-index-9 bg-transparent"
          >
            <option value="">Select item</option>
            <option>Non Refundable</option>
            <option>Free Cancellation</option>
          </select>
        </div>

        <div class="col-12">
          <a href="javascript:void(0);" class="btn btn-sm btn-primary-soft mb-0"
            ><i class="bi bi-plus-circle me-2"></i>Add New Room</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="hstack gap-2 flex-wrap justify-content-between">
    <button
      (click)="stepperInstance?.previous()"
      type="button"
      class="btn btn-secondary prev-btn mb-0"
    >
      Previous
    </button>
    <button
      (click)="stepperInstance?.next()"
      type="button"
      class="btn btn-primary next-btn mb-0"
    >
      Next
    </button>
  </div>
</div>
