<div class="card shadow">
  <div class="card-header border-bottom">
    <h5 class="card-header-title">Website Settings</h5>
  </div>

  <div class="card-body">
    <form
      class="row g-4 align-items-center"
      [formGroup]="webSite"
      (ngSubmit)="onSubmit()"
    >
      <div class="col-xl-6">
        <label class="form-label">Site Name</label>
        <input
          type="text"
          formControlName="siteName"
          [ngClass]="{ 'is-invalid': formSubmit && form['siteName'].errors }"
          class="form-control"
          placeholder="Site Name"
        />
        <div class="form-text">
          Enter Website Name. It Display in Website and Email.
        </div>
        <div class="invalid-feedback">Please enter your site name</div>
      </div>

      <div class="col-xl-6">
        <label class="form-label">Site Copyrights</label>
        <input
          type="text"
          formControlName="copyrights"
          [ngClass]="{ 'is-invalid': formSubmit && form['copyrights'].errors }"
          class="form-control"
          placeholder="Site Copyrights"
        />
        <div class="form-text">Using for Contact and Send Email</div>
        <div class="invalid-feedback">Please enter your site copyrights</div>
      </div>

      <div class="col-12">
        <label class="form-label">Site Email</label>
        <input
          type="email"
          formControlName="email"
          [ngClass]="{ 'is-invalid': formSubmit && form['email'].errors }"
          class="form-control"
          placeholder="Site Email"
        />
        <div class="form-text">For Copyrights Text</div>
        <div class="invalid-feedback">Please enter your email</div>
      </div>

      <div class="col-12">
        <label class="form-label">Site Description</label>
        <textarea
          class="form-control"
          formControlName="description"
          [ngClass]="{ 'is-invalid': formSubmit && form['description'].errors }"
          rows="3"
        ></textarea>
        <div class="form-text">
          For write brief description of your organization, or a Website.
        </div>
        <div class="invalid-feedback">Please enter your description</div>
      </div>

      <div class="col-lg-6">
        <label class="form-label">Contact Phone</label>
        <input
          type="text"
          formControlName="phone"
          class="form-control"
          [ngClass]="{ 'is-invalid': formSubmit && form['phone'].errors }"
          placeholder="Contact Phone"
        />
        <div class="form-text">Using for Contact and Support</div>
        <div class="invalid-feedback">
          phone must be a `number` type, but the final value was: `NaN` (cast
          from the value `""`).
        </div>
      </div>

      <div class="col-lg-6">
        <label class="form-label">Support Email</label>
        <input
          type="email"
          formControlName="supportEmail"
          class="form-control"
          [ngClass]="{
            'is-invalid': formSubmit && form['supportEmail'].errors
          }"
          placeholder="Support Email"
        />
        <div class="form-text">For Support Email</div>
        <div class="invalid-feedback">Please enter your support email</div>
      </div>

      <div class="col-lg-6">
        <label class="form-label">Allow Registration</label>
        <div class="d-sm-flex">
          <div class="form-check radio-bg-light me-4">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
              checked=""
            />
            <label class="form-check-label" for="flexRadioDefault1">
              Enable
            </label>
          </div>

          <div class="form-check radio-bg-light me-4">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault2"
            />
            <label class="form-check-label" for="flexRadioDefault2">
              Disable
            </label>
          </div>

          <div class="form-check radio-bg-light">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault3"
            />
            <label class="form-check-label" for="flexRadioDefault3">
              On Request
            </label>
          </div>
        </div>
      </div>

      <div class="col-12">
        <label class="form-label">Contact Address</label>
        <textarea
          formControlName="address"
          [ngClass]="{ 'is-invalid': formSubmit && form['address'].errors }"
          class="form-control"
          rows="3"
        ></textarea>
        <div class="form-text">Enter support Address</div>
        <div class="invalid-feedback">Please enter your contact address</div>
      </div>

      <div class="d-sm-flex justify-content-end">
        <button type="submit" class="btn btn-primary mb-0">Update</button>
      </div>
    </form>
  </div>
</div>
