<section class="pt-0">
  <div class="container position-relative">
    <div class="row">
      <div class="col-12">
        <div class="d-sm-flex justify-content-sm-between align-items-center">
          <div class="mb-3 mb-sm-0">
            <h1 class="fs-3">09 Voyages disponibles</h1>
            <ul class="nav nav-divider h6 mb-0">
              <li class="nav-item">20 Oct</li>

            </ul>
          </div>

          <button
            class="btn btn-primary d-xl-none mb-0"
            (click)="openOffcanvas(content)"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasSidebar"
            aria-controls="offcanvasSidebar"
          >
            <i class="fa-solid fa-sliders-h me-1"></i> Filtres
          </button>
        </div>
      </div>
    </div>

    <div class="bg-primary bg-opacity-10 rounded-3 overflow-hidden mt-4 p-4">
      <div class="row g-4 align-items-center">
        <div class="col-6 col-md-3 text-center order-1">
          <img src="assets/images/element/11.svg" class="mb-n5" alt="" />
        </div>

        <div class="col-md-6 order-md-2">
          <h4>Ligne directrice internationale</h4>

          <p class="mb-2">
            Mesures de sécurité COVID adoptées par divers pays, dont VISA
            restrictions, règles de quarantaine, etc.
          </p>

          <a href="javascript:void(0);" class="btn btn-sm btn-primary mb-0"
            >Voir plus ></a
          >
        </div>

        <div class="col-6 col-md-3 text-center order-3">
          <img src="assets/images/element/10.svg" class="mb-n5" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template
  #content
  let-offcanvas
  tabindex="-1"
  id="offcanvasSidebar"
  aria-labelledby="offcanvasSidebarLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasSidebarLabel">Filtres avancés</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      (click)="offcanvas.dismiss('Cross click')"
      data-bs-target="#offcanvasSidebar"
      aria-label="Close"
    ></button>
  </div>

  <div class="offcanvas-body flex-column p-3 p-xl-0" style="max-height: 100%">
    <div class="rounded-3 shadow">

      <div class="card card-body rounded-0 p-4">
        <h6 class="mb-2">Prix</h6>

        <div class="position-relative">
          <div class="noui-wrapper">
            <div class="d-flex justify-content-between">
              <input
                type="text"
                class="text-body input-with-range-min"
                [value]="value.toFixed(2)"
              />
              <input
                type="text"
                class="text-body input-with-range-max"
                [value]="highValue.toFixed(2)"
              />
            </div>
            <ngx-slider
              [(value)]="value"
              [options]="options"
              [(highValue)]="highValue"
              class="range-slider-ui"
            ></ngx-slider>
          </div>
        </div>
      </div>

      <hr class="my-0" />

      <div class="card card-body rounded-0 p-4">
        <h6 class="mb-2">Arrêts</h6>

        <ul class="list-inline mb-0 g-3">
          @for (item of onwordSteps; track $index) {
            <li class="list-inline-item mb-0">
              <input type="checkbox" class="btn-check" id="{{ item.id }}" />
              <label
                class="btn btn-sm btn-light btn-primary-soft-check"
                for="{{ item.id }}"
                >{{ item.label }}</label
              >
            </li>
          }
        </ul>
      </div>


      <hr class="my-0" />

      <div class="card card-body rounded-0 p-4">
        <h6 class="mb-2">Compagnies</h6>

        <div class="col-12">
          @for (item of airline; track $index) {
            @if ($index < 4) {
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="{{ item.id }}"
                />
                <label class="form-check-label" for="{{ item.id }}">
                  <img [src]="item.image" class="h-15px fa-fw me-2" alt="" />{{
                    item.name
                  }}
                </label>
              </div>
            }
          }

          <div
            class="multi-collapse collapse"
            id="airlineCollapes"
            #collapse="ngbCollapse"
            [(ngbCollapse)]="isCollapsed"
          >
            @for (item of airline; track $index) {
              @if ($index >= 4) {
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="{{ item.id }}"
                  />
                  <label class="form-check-label" for="{{ item.id }}">
                    <img
                      [src]="item.image"
                      class="h-15px fa-fw me-2"
                      alt=""
                    />{{ item.name }}
                  </label>
                </div>
              }
            }
          </div>

          <a
            (click)="collapse.toggle()"
            class="p-0 mb-0 mt-2 btn-more d-flex align-items-center collapsed"
            data-bs-toggle="collapse"
            href="javascript:void(0);"
            role="button"
            aria-expanded="false"
            aria-controls="airlineCollapes"
          >
            Voir
            @if (isCollapsed) {
              <span class="see-more ms-1">plus</span>
            } @else {
              <span class="ms-1">moins</span>
            }
            <i
              class="fa-solid fa-angle-down ms-2"
              [ngClass]="isCollapsed ? 'fa-angle-down' : 'fa-angle-up'"
              s
            ></i>
          </a>
        </div>



      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between p-2 p-xl-0 mt-xl-4">
    <button class="btn btn-link p-0 mb-0">Tout effacer</button>
    <button class="btn btn-primary mb-0">Filtrer</button>
  </div>
</ng-template>
