<div class="card border">
  <div class="card-header border-bottom">
    <h4 class="card-header-title">Update Password</h4>
    <p class="mb-0">
      Your current email address is
      <span class="text-primary">example&#64;gmail.com</span>
    </p>
  </div>

  <form class="card-body" [formGroup]="updatePasswords">
    <div class="mb-3">
      <label class="form-label">Current password</label>
      <div class="input-group">
        <input
          class="form-control"
          type="{{ isShowPassword ? 'text' : 'password' }}"
          formControlName="currentPassword"
          [ngClass]="{
            'is-invalid':
              updatePasswords.get('currentPassword')?.errors && formSubmit
          }"
          type="password"
          placeholder="Enter current password"
        />
        <span class="input-group-text p-0 bg-transparent">
          <i
            class="fakepasswordicon fas cursor-pointer p-2"
            type="password"
            (click)="isShowPassword = !isShowPassword"
            [ngClass]="isShowPassword ? 'fa-eye' : 'fa-eye-slash'"
          ></i>
        </span>
        <div class="invalid-feedback">Please enter your current password</div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label"> Enter new password</label>
      <div class="input-group">
        <input
          class="form-control fakepassword"
          type="{{ isShowPassword1 ? 'text' : 'password' }}"
          formControlName="password"
          [ngClass]="{
            'is-invalid': updatePasswords.get('password')?.errors && formSubmit
          }"
          placeholder="Enter new password"
          type="password"
          id="psw-input"
        />
        <span class="input-group-text p-0 bg-transparent">
          <i
            class="fakepasswordicon fas cursor-pointer p-2"
            type="password"
            (click)="isShowPassword1 = !isShowPassword1"
            [ngClass]="isShowPassword1 ? 'fa-eye' : 'fa-eye-slash'"
          ></i>
        </span>
        <div class="invalid-feedback">Please enter your new password</div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Confirm new password</label>
      <div class="input-group">
        <input
          class="form-control"
          type="{{ isShowPassword2 ? 'text' : 'password' }}"
          formControlName="confirmpassword"
          [ngClass]="{
            'is-invalid':
              updatePasswords.get('confirmpassword')?.touched &&
              updatePasswords.errors?.['notSame']
          }"
          type="password"
          placeholder="Confirm new password"
        />
        <span class="input-group-text p-0 bg-transparent">
          <i
            class="fakepasswordicon fas cursor-pointer p-2"
            type="password"
            (click)="isShowPassword2 = !isShowPassword2"
            [ngClass]="isShowPassword2 ? 'fa-eye' : 'fa-eye-slash'"
          ></i>
        </span>
        <div class="invalid-feedback">
          New password and confirm password doesn't match
        </div>
      </div>
    </div>
    <div class="text-end">
      <a
        href="javascript:void(0);"
        (click)="onSubmit()"
        class="btn btn-primary mb-0"
        >Change Password</a
      >
    </div>
  </form>
</div>
