<section class="pt-5 pt-md-8 pb-0">
  <div class="container z-index-9">
    <div class="row">
      <div class="col-lg-10 m-auto text-center">
        <h2>Here is a tribute to good life!</h2>
        <p class="lead">
          Size-like body someone had. Are conduct viewing boy minutes warrant
          the expense? Tolerably behavior may admit daughters offending her ask
          own. Praise effects wish change way and any wanted. Lively use looked
          latter regard had. Do he it part more last in. We understand that
          theory is important to build a solid foundation, we understand that
          theory alone isn't going to get the job done so that's why this is
          packed with practical hands-on examples that you can follow step by
          step.
        </p>

        <ul
          class="list-inline hstack gap-4 flex-wrap justify-content-center mt-4"
        >
          <li class="list-inline-item">
            <h5 class="mb-0 fw-normal">
              <i class="bi bi-star fa-fw text-warning me-1"></i>Have High Rating
            </h5>
          </li>
          <li class="list-inline-item">
            <h5 class="mb-0 fw-normal">
              <i class="bi bi-pin-map fa-fw text-primary me-1"></i>Best
              Locations
            </h5>
          </li>
          <li class="list-inline-item">
            <h5 class="mb-0 fw-normal">
              <i class="bi bi-x-octagon fa-fw text-danger me-1"></i>Free
              Cancellation
            </h5>
          </li>
          <li class="list-inline-item">
            <h5 class="mb-0 fw-normal">
              <i class="bi bi-wallet fa-fw text-success me-1"></i>Payment
              Options
            </h5>
          </li>
        </ul>

        <div class="d-sm-flex justify-content-center align-items-center mt-4">
          <div
            class="d-flex justify-content-center align-items-center text-start me-0 me-sm-4"
          >
            <h3 class="me-2 mb-0">4.5</h3>
            <div>
              <ul class="list-inline mb-0">
                <li class="list-inline-item me-0 small me-1">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0 small me-1">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0 small me-1">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0 small me-1">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star-half-alt text-warning"></i>
                </li>
              </ul>
              <p class="mb-0 small">Clients Love Us!</p>
            </div>
          </div>

          <div>
            <a href="javascript:void(0);" class="btn btn-lg btn-dark mb-0"
              >Explore now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
