<header>
  <nav class="navbar navbar-expand-xl">
    <div class="container">
      <app-logo-box />

      <vertical-menu-button
        [showText]="false"
        className="ms-auto mx-3 me-xl-0 p-0 p-sm-1"
      />

      <app-menu
        [startBookingMenu]="false"
        [showExtraPages]="true"
        [menuClassName]="'mx-auto'"
      />

      <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
        <app-notification-dropdown className="me-3" />

        <app-profile-dropdown />
      </ul>
    </div>
  </nav>
</header>
