<section class="pt-4">
  <div class="container position-relative">
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-between align-items-lg-center">
          <ul class="nav nav-divider align-items-center mb-0">
            <li class="nav-item h4">Chicago - San Antonio</li>
            <li class="nav-item h5 fw-light">Outstation- Oneway</li>
            <li class="nav-item h5 fw-light">22 Jan 2022 - 07.25 PM</li>
          </ul>

          <div ngbDropdown class="ms-3">
            <a
              ngbDropdownToggle
              class="btn btn-sm btn-light px-2 mb-0 arrow-none"
              role="button"
              id="dropdownShare"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-fw fa-share-alt"></i>
            </a>

            <ul
              ngbDropdownMenu
              class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded"
              aria-labelledby="dropdownShare"
            >
              <li>
                <a class="dropdown-item" href="javascript:void(0);"
                  ><i class="fab fa-twitter-square me-2"></i>Twitter</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);"
                  ><i class="fab fa-facebook-square me-2"></i>Facebook</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);"
                  ><i class="fab fa-linkedin me-2"></i>LinkedIn</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="javascript:void(0);"
                  ><i class="fa-solid fa-copy me-2"></i>Copy link</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
