<footer>
  <div class="container">
    <div class="bg-dark rounded-top py-5 p-sm-5 mx-0">
      <div class="row g-4 align-items-center text-center text-lg-start">
        <div class="col-lg-5">
          <ul
            class="nav list-inline text-primary-hover justify-content-center justify-content-lg-start mb-0"
          >
            @for (item of footer3Link; track $index) {
              <li class="list-inline-item">
                <a
                  class="nav-link text-body-secondary"
                  routerLink="{{ item.link }}"
                  >{{ item.name }}</a
                >
              </li>
            }
          </ul>
        </div>

        <div class="col-lg-3 text-center">
          <a class="me-0" routerLink="/">
            <img
              class="h-60px"
              src="assets/images/logo2.png"
              alt="footer logo"
            />
          </a>
          <div class="text-body-secondary text-primary-hover mt-3">
            ©{{ currentYear }} - Tous droits réservés
          </div>
        </div>

        <div class="col-lg-4">
          <ul
            class="nav text-primary-hover hstack gap-2 justify-content-center justify-content-lg-end"
          >
            <li class="nav-item">
              <a
                class="nav-link text-body-secondary fs-5"
                href="javascript:void(0);"
                ><i class="fab fa-facebook-f"></i
              ></a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-body-secondary fs-5"
                href="javascript:void(0);"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-body-secondary fs-5"
                href="javascript:void(0);"
                ><i class="fab fa-instagram"></i
              ></a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-body-secondary fs-5"
                href="javascript:void(0);"
                ><i class="fab fa-linkedin-in"></i
              ></a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-body-secondary fs-5"
                href="javascript:void(0);"
                ><i class="fab fa-github"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
