<header class="header-transparent">
  <nav class="navbar navbar-dark navbar-expand-xl">
    <div class="container-fluid px-md-5">
      <app-logo-box [onlyDark]="true" />

      <vertical-menu-button className="ms-auto me-3" [showText]="false" />

      <app-menu menuClassName="mx-auto" class="navbar-collapse collapse" />

      <div class="nav flex-row ms-xl-auto">
        <button
          class="btn btn-sm btn-primary mb-0"
          type="button"
          (click)="openModal(offcanvasBookstay)"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasBookstay"
          aria-controls="offcanvasBookstay"
        >
          <i class="bi bi-calendar-week me-2"></i>Book a Stay
        </button>
      </div>
    </div>
  </nav>
</header>

<ng-template
  #offcanvasBookstay
  let-offcanvas
  aria-labelledby="offcanvasBookstayLabel"
>
  <div class="offcanvas-header border-bottom px-3">
    <h5 class="offcanvas-title" id="offcanvasBookstayLabel">Book a Room</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
      (click)="offcanvas.close()"
    ></button>
  </div>
  <div class="offcanvas-body form-control-bg-light d-flex flex-column px-3">
    <form>
      <div class="mb-3">
        <label class="form-label mb-0">Room & Suite Type</label>
        <select
          selectFormInput
          class="form-select js-choice"
          data-search-enabled="true"
          aria-label=".form-select-sm"
        >
          <option value="">Select location</option>
          <option>Agave suite</option>
          <option>Olive Grove Suite</option>
          <option>Palm Suite</option>
          <option>Casa Green Suite</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label mb-0">Check in</label>
        <input
          mwlFlatpickr
          type="text"
          class="form-control flatpickr"
          placeholder="Select date"
        />
      </div>

      <div class="mb-3">
        <label class="form-label mb-0">Check out</label>
        <input
          mwlFlatpickr
          type="text"
          class="form-control flatpickr"
          placeholder="Select date"
        />
      </div>

      <div class="mb-3">
        <label class="form-label mb-0">Guests & rooms</label>
        <div ngbDropdown class="dropdown guest-selector me-2">
          <input
            ngbDropdownToggle
            type="text"
            class="form-guest-selector form-control selection-result"
            [value]="getGuestsValue()"
            data-bs-auto-close="outside"
            data-bs-toggle="dropdown"
          />

          <ul ngbDropdownMenu class="dropdown-menu guest-selector-dropdown">
            <li class="d-flex justify-content-between">
              <div>
                <h6 class="mb-0">Adults</h6>
                <small>Ages 13 or above</small>
              </div>

              <div class="hstack gap-1 align-items-center">
                <button
                  type="button"
                  class="btn btn-link adult-remove p-0 mb-0"
                  (click)="updateGuests('adults', false)"
                >
                  <i class="bi bi-dash-circle fs-5 fa-fw"></i>
                </button>
                <h6 class="guest-selector-count mb-0 adults">
                  {{ formValue.guests.adults }}
                </h6>
                <button
                  type="button"
                  class="btn btn-link adult-add p-0 mb-0"
                  (click)="updateGuests('adults')"
                >
                  <i class="bi bi-plus-circle fs-5 fa-fw"></i>
                </button>
              </div>
            </li>

            <li class="dropdown-divider"></li>

            <li class="d-flex justify-content-between">
              <div>
                <h6 class="mb-0">Child</h6>
                <small>Ages 13 below</small>
              </div>

              <div class="hstack gap-1 align-items-center">
                <button
                  type="button"
                  class="btn btn-link child-remove p-0 mb-0"
                  (click)="updateGuests('children', false)"
                >
                  <i class="bi bi-dash-circle fs-5 fa-fw"></i>
                </button>
                <h6 class="guest-selector-count mb-0 child">
                  {{ formValue.guests.children }}
                </h6>
                <button
                  type="button"
                  class="btn btn-link child-add p-0 mb-0"
                  (click)="updateGuests('children')"
                >
                  <i class="bi bi-plus-circle fs-5 fa-fw"></i>
                </button>
              </div>
            </li>

            <li class="dropdown-divider"></li>

            <li class="d-flex justify-content-between">
              <div>
                <h6 class="mb-0">Rooms</h6>
                <small>Max room 8</small>
              </div>

              <div class="hstack gap-1 align-items-center">
                <button
                  type="button"
                  class="btn btn-link room-remove p-0 mb-0"
                  (click)="updateGuests('rooms', false)"
                >
                  <i class="bi bi-dash-circle fs-5 fa-fw"></i>
                </button>
                <h6 class="guest-selector-count mb-0 rooms">
                  {{ formValue.guests.rooms }}
                </h6>
                <button
                  type="button"
                  class="btn btn-link room-add p-0 mb-0"
                  (click)="updateGuests('rooms')"
                >
                  <i class="bi bi-plus-circle fs-5 fa-fw"></i>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary-soft w-100 mb-0">
          Check Availability
        </button>
      </div>
    </form>

    <div class="bg-light p-3 rounded mt-auto">
      <h6>Why Book Direct?</h6>
      <ul class="small ps-3">
        <li class="mb-2">10% discount is applied</li>
        <li class="mb-2">15% off on spa treatment</li>
        <li class="mb-2">Best price guaranteed</li>
        <li class="mb-2">Daily complimentary sunrise yoga</li>
        <li class="mb-2">Early check-in and late check-out</li>
      </ul>
    </div>
  </div>
</ng-template>
