<div class="vstack gap-4">
  <h4 class="mb-0">Basic Information</h4>

  <div class="card shadow">
    <div class="card-header border-bottom">
      <h5 class="mb-0">Choose Listing Category</h5>
    </div>

    <div class="card-body">
      <form [formGroup]="categoryForm">
        <div class="row g-4">
          <div class="col-12">
            <label class="form-label">Choose listing type *</label>
            <select
              selectFormInput
              [options]="{ searchEnabled: false }"
              class="form-select js-choice"
            >
              <option value="">Select type</option>
              <option>Hotel</option>
              <option>Villa</option>
              <option>Home Stay</option>
              <option>Farmhouse</option>
              <option>House boat</option>
            </select>
            <small
              >Hotel: Professional hospitality businesses that usually have a
              unique style or theme defining their brand and decor</small
            >
          </div>

          <div class="col-12">
            <label class="form-label">Listing name *</label>
            <input
              class="form-control"
              type="text"
              formControlName="name"
              [ngClass]="{ 'is-invalid': submit && form['name'].errors }"
              placeholder="Enter place name"
            />
            <small
              >A catchy name usually includes: House name - Room name - A
              tourist destination</small
            >
            <div class="invalid-feedback">Please enter your listing name</div>
          </div>

          <div class="col-12">
            <label class="form-label"
              >Is your listing set as a personal or guest use *</label
            >
            <div class="d-sm-flex">
              <div class="form-check radio-bg-light me-4">
                <input
                  class="form-check-input"
                  type="radio"
                  name="guest"
                  formControlName="guest"
                  [ngClass]="{ 'is-invalid': submit && form['guest'].errors }"
                  id="flexRadioDefault1"
                  checked
                />
                <label class="form-check-label" for="flexRadioDefault1">
                  Entire Place
                </label>
                <div class="invalid-feedback">Please select usage type</div>
              </div>

              <div class="form-check radio-bg-light me-4">
                <input
                  class="form-check-input"
                  type="radio"
                  name="guest"
                  formControlName="guest"
                  [ngClass]="{ 'is-invalid': submit && form['guest'].errors }"
                  id="flexRadioDefault2"
                />
                <label class="form-check-label" for="flexRadioDefault2">
                  For Guest
                </label>
                <div class="invalid-feedback">Please select usage type</div>
              </div>

              <div class="form-check radio-bg-light">
                <input
                  class="form-check-input"
                  type="radio"
                  name="guest"
                  formControlName="guest"
                  [ngClass]="{ 'is-invalid': submit && form['guest'].errors }"
                  id="flexRadioDefault3"
                />
                <label class="form-check-label" for="flexRadioDefault3">
                  For Personal
                </label>
                <div class="invalid-feedback">Please select usage type</div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <label class="form-label">Short description *</label>
            <textarea
              class="form-control"
              rows="2"
              formControlName="description"
              [ngClass]="{ 'is-invalid': submit && form['description'].errors }"
              placeholder="Enter keywords"
            ></textarea>
            <div class="invalid-feedback">Please enter a short description</div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card shadow">
    <div class="card-header border-bottom">
      <h5 class="mb-0">Listing Location</h5>
    </div>

    <div class="card-body">
      <div class="row g-3">
        <div class="col-md-6">
          <label class="form-label">Country/Region *</label>
          <select
            selectFormInput
            [options]="{ searchEnabled: false }"
            class="form-select js-choice"
          >
            <option value="">Select Country</option>
            <option>India</option>
            <option>Usa</option>
            <option>Japan</option>
            <option>United Kingdom</option>
          </select>
        </div>

        <div class="col-md-6">
          <label class="form-label">State *</label>
          <select
            selectFormInput
            [options]="{ searchEnabled: false }"
            class="form-select js-choice"
            data-search-enabled="true"
          >
            <option value="">Select state</option>
            <option>India</option>
            <option>Usa</option>
            <option>Japan</option>
            <option>United Kingdom</option>
          </select>
        </div>

        <div class="col-md-6">
          <label class="form-label">City *</label>
          <input class="form-control" type="text" placeholder="Enter city" />
        </div>

        <div class="col-md-6">
          <label class="form-label">Postal number *</label>
          <input
            class="form-control"
            type="text"
            placeholder="Enter postal number"
          />
        </div>

        <div class="col-12">
          <label class="form-label">Street *</label>
          <input class="form-control" type="text" placeholder="Enter street" />
        </div>

        <div class="col-md-6">
          <label class="form-label">Latitude *</label>
          <input
            class="form-control"
            type="text"
            placeholder="Enter latitude"
          />
        </div>

        <div class="col-md-6">
          <label class="form-label">Longitude *</label>
          <input
            class="form-control"
            type="text"
            placeholder="Enter longitude"
          />
        </div>

        <div class="col-12">
          <iframe
            class="w-100 h-300px grayscale rounded"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9663095343008!2d-74.00425878428698!3d40.74076684379132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bf5c1654f3%3A0xc80f9cfce5383d5d!2sGoogle!5e0!3m2!1sen!2sin!4v1586000412513!5m2!1sen!2sin"
            height="500"
            style="border: 0"
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="card shadow">
    <div class="card-header border-bottom">
      <h5 class="mb-0">Upload Images</h5>
    </div>

    <div class="card-body">
      <div class="row g-3">
        <div class="col-12">
          <label class="form-label">Upload thumbnail image *</label>
          <input
            class="form-control"
            type="file"
            name="my-image"
            id="image"
            accept="image/gif, image/jpeg, image/png"
          />
          <p class="small mb-0 mt-2">
            <b>Note:</b> Only JPG, JPEG, and PNG. Our suggested dimensions are
            600px * 450px. The larger image will be cropped to 4:3 to fit our
            thumbnails/previews.
          </p>
        </div>

        <div class="col-12">
          <label class="form-label">Upload image gallery *</label>
          <dropzone
            class="dropzone new-listing-drop"
            [config]="dropzoneConfig"
            [message]="'Drop files here or click to upload.'"
          ></dropzone>

          <p class="small mb-0 mt-2">
            <b>Note:</b> Only JPG, JPEG, and PNG. Our suggested dimensions are
            600px * 450px. The larger image will be cropped to 4:3 to fit our
            thumbnails/previews.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-end">
    <button
      (click)="gotoNext()"
      type="button"
      class="btn btn-primary next-btn mb-0"
    >
      Next
    </button>
  </div>
</div>
