<section class="pt-0 pt-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 ms-auto position-relative">
        <img src="assets/images/bg/03.jpg" class="rounded-3" alt="" />

        <div
          class="col-11 col-sm-10 col-lg-8 col-xl-6 position-lg-middle ms-lg-8 ms-xl-7"
        >
          <div class="card shadow pb-0 mt-n7 mt-sm-n8 mt-lg-0">
            <div class="card-header border-bottom p-3 p-sm-4">
              <h5 class="card-title mb-0">Book Your Online Cab</h5>
            </div>

            <form class="card-body form-control-border p-3 p-sm-4">
              <div class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <div
                  class="form-check form-check-inline active"
                  id="cab2-one-way-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#cab2-one-way"
                  role="tab"
                  aria-controls="cab2-one-way"
                  aria-selected="true"
                >
                  <input
                    class="form-check-input"
                    type="radio"
                    (change)="changeTab('one-way')"
                    name="inlineRadioOptions"
                    id="cabRadio1"
                    value="option1"
                    checked
                  />
                  <label class="form-check-label" for="cabRadio1"
                    >One Way</label
                  >
                </div>
                <div
                  class="form-check form-check-inline"
                  id="cab2-round-way-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#cab2-round-way"
                  role="tab"
                  aria-controls="cab2-round-way"
                  aria-selected="false"
                >
                  <input
                    class="form-check-input"
                    type="radio"
                    (change)="changeTab('round-trip')"
                    name="inlineRadioOptions"
                    id="cabRadio2"
                    value="option2"
                  />
                  <label class="form-check-label" for="cabRadio2"
                    >Round Trip</label
                  >
                </div>
              </div>

              <div class="tab-content my-4" id="pills-tabContent">
                <div
                  class="tab-pane fade show"
                  [class.active]="activeTab == 'one-way'"
                  id="cabRadio1"
                  role="tabpanel"
                  aria-labelledby="cab2-one-way-tab"
                >
                  <div class="row g-2 g-md-4">
                    <div class="col-md-6 position-relative">
                      <div class="form-fs-lg form-control-transparent">
                        <label class="form-label small">Pickup</label>
                        <select
                          selectFormInput
                          class="form-select js-choice"
                          data-search-enabled="true"
                        >
                          <option value="">Select location</option>
                          <option>New York</option>
                          <option>Canada</option>
                          <option>Paris</option>
                        </select>
                      </div>

                      <div class="btn-flip-icon z-index-9 mt-2 mt-md-1">
                        <button class="btn btn-dark shadow btn-round mb-0">
                          <i class="fa-solid fa-right-left"></i>
                        </button>
                      </div>
                    </div>

                    <div class="col-md-6 text-md-end">
                      <div class="form-fs-lg form-control-transparent">
                        <label class="form-label small ms-3 ms-md-0 me-md-3"
                          >Drop</label
                        >
                        <select
                          selectFormInput
                          class="form-select js-choice"
                          data-search-enabled="true"
                        >
                          <option value="">Select Location</option>
                          <option>Canada</option>
                          <option>New York</option>
                          <option>Paris</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-fs-lg form-control-transparent">
                        <label class="form-label small">Pickup Date</label>
                        <input
                          mwlFlatpickr
                          type="text"
                          class="form-control flatpickr"
                          placeholder="Select date"
                        />
                      </div>
                    </div>

                    <div class="col-md-6 text-md-end">
                      <div class="form-fs-lg form-control-transparent">
                        <label class="form-label small ms-3 ms-md-0 me-md-3"
                          >Pickup time</label
                        >
                        <input
                          mwlFlatpickr
                          [flatpickrOptions]="{
                            enableTime: true,
                            noCalendar: true,
                            dateFormat: 'H:i'
                          }"
                          type="text"
                          class="form-control flatpickr text-md-end"
                          data-enableTime="true"
                          data-noCalendar="true"
                          placeholder="Select time"
                        />
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="tab-pane fade show"
                  [class.active]="activeTab == 'round-trip'"
                  id="cabRadio12"
                  role="tabpanel"
                  aria-labelledby="cab2-round-way-tab"
                >
                  <div class="row g-2 g-md-4">
                    <div class="col-md-6 position-relative">
                      <label class="form-label small">Pickup</label>
                      <div class="form-fs-lg form-control-transparent">
                        <select
                          selectFormInput
                          class="form-select js-choice"
                          data-search-enabled="true"
                        >
                          <option value="">Select Location</option>
                          <option>New York</option>
                          <option>Canada</option>
                          <option>Paris</option>
                        </select>
                      </div>

                      <div class="btn-flip-icon z-index-9 mt-2 mt-md-1">
                        <button class="btn btn-dark shadow btn-round mb-0">
                          <i class="fa-solid fa-right-left"></i>
                        </button>
                      </div>
                    </div>

                    <div class="col-sm-6 text-sm-end">
                      <label class="form-label small ms-3 ms-md-0 me-md-3"
                        >Drop</label
                      >
                      <div class="form-fs-lg form-control-transparent">
                        <select
                          selectFormInput
                          class="form-select js-choice"
                          data-search-enabled="true"
                        >
                          <option value="">Select Location</option>
                          <option>Canada</option>
                          <option>New York</option>
                          <option>Paris</option>
                        </select>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-fs-lg form-control-transparent">
                        <label class="form-label small">Pickup Date</label>
                        <input
                          mwlFlatpickr
                          type="text"
                          class="form-control flatpickr"
                          placeholder="Select date"
                        />
                      </div>
                    </div>

                    <div class="col-sm-6 text-sm-end">
                      <div class="form-fs-lg form-control-transparent">
                        <label class="form-label small ms-3 ms-md-0 me-md-3"
                          >Pickup time</label
                        >
                        <input
                          mwlFlatpickr
                          [flatpickrOptions]="{
                            enableTime: true,
                            noCalendar: true,
                            dateFormat: 'H:i'
                          }"
                          type="text"
                          class="form-control flatpickr text-sm-end"
                          data-enableTime="true"
                          data-noCalendar="true"
                          placeholder="Select time"
                        />
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="form-fs-lg form-control-transparent">
                        <label class="form-label small">Return Date</label>
                        <input
                          mwlFlatpickr
                          type="text"
                          class="form-control flatpickr"
                          placeholder="Select date"
                        />
                      </div>
                    </div>

                    <div class="col-sm-6 text-sm-end">
                      <div class="form-fs-lg form-control-transparent">
                        <label class="form-label small ms-3 ms-md-0 me-md-3"
                          >Return time</label
                        >
                        <input
                          mwlFlatpickr
                          [flatpickrOptions]="{
                            enableTime: true,
                            noCalendar: true,
                            dateFormat: 'H:i'
                          }"
                          type="text"
                          class="form-control flatpickr text-sm-end"
                          data-enableTime="true"
                          data-noCalendar="true"
                          placeholder="Select time"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="d-grid">
                <button class="btn btn-dark mb-0">Search Cabs</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
