<div class="card bg-transparent">
  <div class="card-header border-bottom bg-transparent px-0 pt-0">
    <h3 class="mb-0">About This Hotel</h3>
  </div>

  <div class="card-body pt-4 p-0">
    <h5 class="fw-light mb-4">Main Highlights</h5>

    <div class="hstack gap-3 mb-3">
      <div
        class="icon-lg bg-light h5 rounded-2"
        placement="top"
        ngbTooltip="Free wifi"
      >
        <i class="fa-solid fa-wifi"></i>
      </div>
      <div
        class="icon-lg bg-light h5 rounded-2"
        placement="top"
        ngbTooltip="Swimming Pool"
      >
        <i class="fa-solid fa-swimming-pool"></i>
      </div>
      <div
        class="icon-lg bg-light h5 rounded-2"
        placement="top"
        ngbTooltip="Central AC"
      >
        <i class="fa-solid fa-snowflake"></i>
      </div>
      <div
        class="icon-lg bg-light h5 rounded-2"
        placement="top"
        ngbTooltip="Free Service"
      >
        <i class="fa-solid fa-concierge-bell"></i>
      </div>
    </div>

    <p class="mb-3">
      Demesne far-hearted suppose venture excited see had has. Dependent on so
      extremely delivered by. Yet no jokes worse her why.
      <b>Bed one supposing breakfast day fulfilled off depending questions.</b>
    </p>
    <p class="mb-0">
      Delivered dejection necessary objection do Mr prevailed. Mr feeling does
      chiefly cordial in do. Water timed folly right aware if oh truth. Large
      above be to means. Dashwood does provide stronger is.
    </p>

    <div
      #collapse="ngbCollapse"
      [(ngbCollapse)]="isCollapsed"
      class="collapse"
      id="collapseContent"
    >
      <p class="my-3">
        We focus a great deal on the understanding of behavioral psychology and
        influence triggers which are crucial for becoming a well rounded Digital
        Marketer. We understand that theory is important to build a solid
        foundation, we understand that theory alone isn't going to get the job
        done so that's why this rickets is packed with practical hands-on
        examples that you can follow step by step.
      </p>
      <p class="mb-0">
        Behavioral psychology and influence triggers which are crucial for
        becoming a well rounded Digital Marketer. We understand that theory is
        important to build a solid foundation, we understand that theory alone
        isn't going to get the job done so that's why this tickets is packed
        with practical hands-on examples that you can follow step by step.
      </p>
    </div>
    <a
      class="p-0 mb-4 mt-2 btn-more d-flex align-items-center collapsed"
      (click)="collapse.toggle()"
      role="button"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseContent"
    >
      See <span class="see-more ms-1">more</span
      ><span class="see-less ms-1">less</span
      ><i class="fa-solid fa-angle-down ms-2"></i>
    </a>

    <h5 class="fw-light mb-2">Advantages</h5>
    <ul class="list-group list-group-borderless mb-0">
      <li class="list-group-item h6 fw-light d-flex mb-0">
        <i class="bi bi-patch-check-fill text-success me-2"></i>Every hotel
        staff to have Proper PPT kit for COVID-19
      </li>
      <li class="list-group-item h6 fw-light d-flex mb-0">
        <i class="bi bi-patch-check-fill text-success me-2"></i>Every staff
        member wears face masks and gloves at all service times.
      </li>
      <li class="list-group-item h6 fw-light d-flex mb-0">
        <i class="bi bi-patch-check-fill text-success me-2"></i>Hotel staff
        ensures to maintain social distancing at all times.
      </li>
      <li class="list-group-item h6 fw-light d-flex mb-0">
        <i class="bi bi-patch-check-fill text-success me-2"></i>The hotel has
        In-Room Dining options available
      </li>
    </ul>
  </div>
</div>
