<section class="pt-5 pt-md-8 pb-0">
  <div class="container-fluid px-lg-5">
    <div class="row mb-4">
      <div class="col-12 text-center">
        <h2>Offers Of The Month</h2>
      </div>
    </div>

    <div class="row g-4">
      @for (data of offerList; track $index) {
        <div class="col-6 col-md-4 col-xl-2">
          <div class="card bg-transparent h-100">
            <img [src]="data.image" class="card-img" alt="" />
            <div class="card-body text-center p-2">
              <h6 class="mb-0">
                <a href="javascript:void(0);" class="stretched-link">{{
                  data.title
                }}</a>
              </h6>
            </div>
          </div>
        </div>
      }

      <div class="col-6 col-md-4 col-xl-2">
        <div class="card bg-transparent h-100">
          <div class="bg-light card-img position-relative h-100">
            <button
              class="btn btn-lg btn-primary btn-round mb-0 position-absolute top-50 start-50 translate-middle"
            >
              <i class="bi bi-arrow-right"></i>
            </button>
          </div>
          <div class="card-body text-center p-2">
            <h6 class="mb-0">
              <a href="javascript:void(0);" class="stretched-link"
                >View All Offers</a
              >
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
