<section class="pt-0">
  <div class="container">
    <div
      class="p-3 p-sm-5 rounded-3"
      style="
        background-image: url(assets/images/bg/04.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      "
    >
      <div class="row">
        <div class="col-md-8 mx-auto my-5">
          <h1 class="text-center text-dark">Maldives</h1>
          <ul class="nav nav-divider h6 text-dark mb-0 justify-content-center">
            <li class="nav-item">1 Destination</li>
            <li class="nav-item">115 Package</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row mt-n4 mt-sm-n7">
      <div class="col-11 mx-auto">
        <div class="bg-mode shadow p-4 rounded-3">
          <form class="form-control-bg-transparent bg-mode rounded-3">
            <div class="row g-4 align-items-center">
              <div class="col-xl-10">
                <div class="row g-4">
                  <div class="col-md-6 col-lg-4">
                    <label class="h6 fw-normal mb-0"
                      ><i class="bi bi-geo-alt text-primary me-1"></i
                      >Location</label
                    >

                    <div
                      class="form-border-bottom form-control-transparent form-fs-lg mt-2"
                    >
                      <select
                        selectFormInput
                        class="form-select js-choice"
                        data-search-enabled="true"
                      >
                        <option value="">Select location</option>
                        <option>San Jacinto, USA</option>
                        <option selected>North Dakota, Canada</option>
                        <option>West Virginia, Paris</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-md-6 col-lg-4">
                    <label class="h6 fw-normal mb-0"
                      ><i class="bi bi-calendar text-primary me-1"></i
                      >Date</label
                    >

                    <div
                      class="form-border-bottom form-control-transparent form-fs-lg mt-2"
                    >
                      <input
                        type="text"
                        class="form-control flatpickr"
                        value="20 Nov 2022"
                        placeholder="Choose a date"
                        data-date-format="d M Y"
                      />
                    </div>
                  </div>

                  <div class="col-md-6 col-lg-4">
                    <label class="h6 fw-normal mb-0"
                      ><i
                        class="fa-solid fa-person-skating text-primary me-1"
                      ></i
                      >Tour type</label
                    >

                    <div
                      class="form-border-bottom form-control-transparent form-fs-lg mt-2"
                    >
                      <select
                        selectFormInput
                        class="form-select js-choice"
                        data-search-enabled="true"
                      >
                        <option value="">Select type</option>
                        <option selected>Adventure</option>
                        <option>Beach</option>
                        <option>Desert</option>
                        <option>History</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-2">
                <div class="d-grid">
                  <a href="javascript:void(0);" class="btn btn-lg btn-dark mb-0"
                    >Take a Tour</a
                  >
                </div>
              </div>
            </div>
          </form>

          <div class="d-grid mt-4">
            <input type="checkbox" class="btn-check" id="btn-check-soft" />
            <label
              class="btn btn-primary-soft btn-primary-check mb-0"
              (click)="collapse.toggle()"
              for="btn-check-soft"
              data-bs-toggle="collapse"
              data-bs-target="#collapseExample"
              aria-controls="collapseExample"
            >
              <i class="bi fa-fe bi-sliders me-2"></i>Advance Filters
            </label>
          </div>

          <div
            #collapse="ngbCollapse"
            [(ngbCollapse)]="isCollapsed"
            class="collapse"
            id="collapseExample"
          >
            <form class="row g-4 mt-3">
              <div class="col-md-6 col-lg-4">
                <div class="form-control-borderless">
                  <label class="form-label">Enter Tour Name</label>
                  <input
                    type="text"
                    class="form-control form-control-lg bg-light"
                  />
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <label class="form-label">Price Range</label>
                <div class="position-relative">
                  <div class="noui-wrapper">
                    <div class="d-flex justify-content-between">
                      <input
                        type="text"
                        class="text-body input-with-range-min"
                        [value]="value.toFixed(2)"
                      />
                      <input
                        type="text"
                        class="text-body input-with-range-max"
                        [value]="highValue.toFixed(2)"
                      />
                    </div>
                    <ngx-slider
                      [(value)]="value"
                      [options]="options"
                      [(highValue)]="highValue"
                      class="range-slider-ui"
                    ></ngx-slider>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <label class="form-label">Duration (3D/4N)</label>
                <div class="position-relative">
                  <div class="noui-wrapper">
                    <div class="d-flex justify-content-between">
                      <input
                        type="text"
                        class="text-body input-with-range-min"
                        [value]="value1.toFixed(2)"
                      />
                      <input
                        type="text"
                        class="text-body input-with-range-max"
                        [value]="highValue1.toFixed(2)"
                      />
                    </div>
                    <ngx-slider
                      [(value)]="value1"
                      [options]="options1"
                      [(highValue)]="highValue1"
                      class="range-slider-ui"
                    ></ngx-slider>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <label class="form-label">Flights</label>
                <div>
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic radio toggle button group"
                  >
                    <input
                      type="radio"
                      class="btn-check"
                      name="btnradio"
                      id="btnradio1"
                      checked
                    />
                    <label
                      class="btn btn-light btn-primary-soft-check mb-0"
                      for="btnradio1"
                      >With Flights</label
                    >

                    <input
                      type="radio"
                      class="btn-check"
                      name="btnradio"
                      id="btnradio2"
                    />
                    <label
                      class="btn btn-light btn-primary-soft-check mb-0"
                      for="btnradio2"
                      >Without Flights</label
                    >
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <label class="form-label">Star Rating</label>
                <ul class="list-inline mb-0 g-3">
                  <li class="list-inline-item">
                    <input type="checkbox" class="btn-check" id="btn-check-9" />
                    <label
                      class="btn btn-light btn-primary-soft-check"
                      for="btn-check-9"
                      >1<i class="bi bi-star-fill"></i
                    ></label>
                  </li>

                  <li class="list-inline-item">
                    <input
                      type="checkbox"
                      class="btn-check"
                      id="btn-check-10"
                    />
                    <label
                      class="btn btn-light btn-primary-soft-check"
                      for="btn-check-10"
                      >2<i class="bi bi-star-fill"></i
                    ></label>
                  </li>

                  <li class="list-inline-item">
                    <input
                      type="checkbox"
                      class="btn-check"
                      id="btn-check-11"
                    />
                    <label
                      class="btn btn-light btn-primary-soft-check"
                      for="btn-check-11"
                      >3<i class="bi bi-star-fill"></i
                    ></label>
                  </li>

                  <li class="list-inline-item">
                    <input
                      type="checkbox"
                      class="btn-check"
                      id="btn-check-12"
                    />
                    <label
                      class="btn btn-light btn-primary-soft-check"
                      for="btn-check-12"
                      >4<i class="bi bi-star-fill"></i
                    ></label>
                  </li>

                  <li class="list-inline-item">
                    <input
                      type="checkbox"
                      class="btn-check"
                      id="btn-check-13"
                    />
                    <label
                      class="btn btn-light btn-primary-soft-check"
                      for="btn-check-13"
                      >5<i class="bi bi-star-fill"></i
                    ></label>
                  </li>
                </ul>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="form-control-bg-light form-size-lg">
                  <label class="form-label">Holiday Type</label>
                  <select
                    selectFormInput
                    [options]="{ searchEnabled: false }"
                    class="form-select js-choice"
                  >
                    <option value="">Select Option</option>
                    <option>Most Popular</option>
                    <option>Experiential Stays</option>
                    <option>Featured</option>
                    <option>Group Holiday</option>
                    <option>Experiential</option>
                    <option>Offbeat</option>
                    <option>Indulgence</option>
                    <option>Fully Loaded</option>
                    <option>Kid-friendly</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <ngb-alert
      [dismissible]="false"
      class="alert alert-danger d-flex align-items-center mt-5 rounded-3 mb-0"
      role="alert"
    >
      <span class="h4 mb-0 alert-heading"
        ><i class="bi bi-exclamation-octagon-fill me-2"></i>
      </span>
      <div class="ms-3">
        <h6 class="mb-0 alert-heading">
          Hurry! 51% off the tours are already fully booked
        </h6>
        <p class="mb-0">
          Many trips to various areas have been ordered, don't let you miss it
        </p>
      </div>
    </ngb-alert>
  </div>
</section>
