<section class="pt-0">
  <div class="container">
    <div class="row g-4 align-items-center">
      <div class="col-sm-6 col-md-3">
        <h4 class="mb-0">Numbers In Worldwide</h4>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="card card-body text-center bg-light">
          <div class="d-flex justify-content-center">
            <h3
              class="purecounter text-orange mb-0"
              [countUp]="28"
              [options]="{ startVal: 0 }"
            >
              0
            </h3>
            <span class="h3 text-orange mb-0">M+</span>
          </div>
          <h6 class="fw-normal mb-0">Total Users</h6>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="card card-body text-center bg-light">
          <div class="d-flex justify-content-center">
            <h3
              class="purecounter text-info mb-0"
              [countUp]="51"
              [options]="{ startVal: 0 }"
            >
              0
            </h3>
            <span class="h3 text-info mb-0">M+</span>
          </div>
          <h6 class="fw-normal mb-0">Total Listing</h6>
        </div>
      </div>

      <div class="col-sm-6 col-md-3">
        <div class="card card-body text-center bg-light">
          <div class="d-flex justify-content-center">
            <h3
              class="purecounter text-primary mb-0"
              [countUp]="41"
              [options]="{ startVal: 0 }"
            >
              0
            </h3>
            <span class="h3 text-primary mb-0">+</span>
          </div>
          <h6 class="fw-normal mb-0">Languages</h6>
        </div>
      </div>
    </div>
  </div>
</section>
