<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Détails du voyage</h5>
    <button
      type="button"
      class="btn-close"
      (click)="activeModal.dismiss('Cross click')"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>

  <div class="modal-body p-3">
    <ul
      ngbNav
      #nav="ngbNav"
      class="nav nav-pills nav-justified nav-responsive bg-primary bg-opacity-10 rounded p-2 mb-3"
      id="flight-pills-tab"
      role="tablist"
    >
      <li ngbNavItem class="nav-item" role="presentation">
        <button
          ngbNavLink
          class="nav-link mb-0"
          id="flight-info"
          data-bs-toggle="pill"
          data-bs-target="#flight-info-tab"
          type="button"
          role="tab"
          aria-controls="flight-info-tab"
          aria-selected="true"
        >
          Informations
        </button>
        <ng-template ngbNavContent>
          <div
            class="tab-pane fade show active"
            id="flight-info-tab"
            role="tabpanel"
            aria-labelledby="flight-info"
          >
            <div class="card border">
              <div class="card-header">
                <div
                  class="d-sm-flex justify-content-sm-between align-items-center"
                >
                  <div class="d-flex mb-2 mb-sm-0">
                    <img
                      src="assets/images/element/vip.png"
                      class="w-40px me-2"
                      alt=""
                    />
                    <h6 class="fw-normal mb-0">
                      VIP Transport (CCE - 2158)
                    </h6>
                  </div>
                  <h6 class="fw-normal mb-0">
                    <span class="text-body">Catégorie :</span> Standard
                  </h6>
                </div>
              </div>

              <div class="card-body p-4">
                <div class="row g-4">
                  <div class="col-sm-4">

                    <h6 class="mb-0">06:00</h6>
                    <p class="mb-0">
                      Bouaké - Côte d'Ivoire
                    </p>
                  </div>

                  <div class="col-sm-4 my-sm-auto text-center">
                    <h5>6h</h5>

                    <div class="position-relative my-4">
                      <hr class="bg-primary opacity-5 position-relative" />

                      <div
                        class="icon-md bg-primary text-white rounded-circle position-absolute top-50 start-50 translate-middle"
                      >
                        <i class="fa-solid fa-bus rtl-flip"></i>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-4">

                    <h6 class="mb-0">10:00</h6>
                    <p class="mb-0">Yopougon - Côte d'Ivoire</p>
                  </div>
                </div>

                <div
                  class="bg-light text-center fw-normal rounded-2 mt-3 mb-4 p-2"
                >

                </div>

                <div class="row g-4">
                  <div class="col-sm-4">
                    <h6 class="mb-0">12:30</h6>
                    <p class="mb-0">Yopougon - Côte d'Ivoire</p>
                  </div>

                  <div class="col-sm-4 my-sm-auto text-center">
                    <h5>6h</h5>

                    <div class="position-relative my-4">
                      <hr class="bg-primary opacity-5 position-relative" />

                      <div
                        class="icon-md bg-primary text-white rounded-circle position-absolute top-50 start-50 translate-middle"
                      >
                        <i class="fa-solid fa-fw fa-plane rtl-flip"></i>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-4">
                    <h6 class="mb-0">18:30</h6>
                    <p class="mb-0">Bouaké - Côte d'Ivoire</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>

      <li class="nav-item" ngbNavItem role="presentation">
        <button
          ngbNavLink
          class="nav-link mb-0"
          id="flight-fare"
          data-bs-toggle="pill"
          data-bs-target="#flight-fare-tab"
          type="button"
          role="tab"
          aria-controls="flight-fare-tab"
          aria-selected="false"
        >
          Détail du tarif
        </button>
        <ng-template ngbNavContent>
          <div
            class="tab-pane fade show active"
            id="flight-fare-tab"
            role="tabpanel"
            aria-labelledby="flight-fare"
          >
            <div class="card card-body">
              <div class="table-responsive-lg">
                <table class="table caption-bottom mb-0">
                  <caption class="pb-0">
                    * À partir de la date de départ
                  </caption>

                  <thead class="table-dark">
                    <tr>
                      <th scope="col" class="border-0 rounded-start">
                       Tarif de base
                      </th>
                      <th scope="col" class="border-0">Taxes et frais de services</th>
                      <th scope="col" class="border-0 rounded-end">
                        Total
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td>7000 {{ currencyType }}</td>
                      <td>200 {{ currencyType }}</td>
                      <td>
                        <h5 class="mb-0">7200 {{ currencyType }}</h5>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </ng-template>
      </li>

      <li class="nav-item" ngbNavItem role="presentation">
        <button
          ngbNavLink
          class="nav-link mb-0"
          id="flight-baggage"
          data-bs-toggle="pill"
          data-bs-target="#flight-baggage-tab"
          type="button"
          role="tab"
          aria-controls="flight-baggage-tab"
          aria-selected="false"
        >
          Bagages
        </button>
        <ng-template ngbNavContent>
          <div
            class="tab-pane show active fade"
            id="flight-baggage-tab"
            role="tabpanel"
            aria-labelledby="flight-baggage"
          >
            <div class="card border">
              <div class="card-header d-flex align-items-center border-bottom">
                <img
                  src="assets/images/element/vip.png"
                  class="h-20px me-1"
                  alt=""
                />
                <h5 class="card-title mb-0">Bouaké - Yopougon</h5>
              </div>

              <div class="card-body">
                <div class="table-responsive-lg">
                  <table class="table caption-bottom mb-0">
                    <caption class="pb-0">
                      *1P = 23KG
                    </caption>

                    <thead class="table-dark">
                      <tr>
                        <th scope="col" class="border-0 rounded-start">
                          Type
                        </th>
                        <th scope="col" class="border-0">En soute</th>
                        <th scope="col" class="border-0 rounded-end">En cabine</th>
                      </tr>
                    </thead>

                    <tbody class="border-top-0">
                      <tr>
                        <td>Adulte</td>
                        <td>2 PC</td>
                        <td>7 Kg</td>
                      </tr>
                    <tr>
                        <td>Enfant (0-12 ans)</td>
                        <td>1 PC</td>
                        <td>3 Kg</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>

      <li ngbNavItem class="nav-item" role="presentation">
        <button
          ngbNavLink
          class="nav-link mb-0"
          id="flight-policy"
          data-bs-toggle="pill"
          data-bs-target="#flight-policy-tab"
          type="button"
          role="tab"
          aria-controls="flight-policy-tab"
          aria-selected="false"
        >
          Règles d'annulation
        </button>
        <ng-template ngbNavContent>
          <div
            class="tab-pane"
            id="flight-policy-tab"
            role="tabpanel"
            aria-labelledby="flight-policy"
          >
            <div class="card border">
              <div class="card-header d-flex align-items-center border-bottom">
                <img
                  src="assets/images/element/vip.png"
                  class="h-20px me-1"
                  alt=""
                />
                <h5 class="card-title mb-0">Bouaké - Yopougon</h5>
              </div>

              <div class="card-body">
                <div class="table-responsive-lg">
                  <table class="table caption-bottom mb-0">

                    <thead class="table-dark">
                      <tr>
                        <th scope="col" class="border-0 rounded-start">
                          Période
                        </th>
                        <th scope="col" class="border-0 rounded-end">
                          Montant billet - Pénalité
                        </th>
                      </tr>
                    </thead>

                    <tbody class="border-top-0">
                      <tr>
                        <td>Entre 0 et 24 heures</td>
                        <td>Non remboursable</td>
                      </tr>
                      <tr>
                        <td>Entre 24 hours et 365 jours</td>
                        <td>
                         7000 {{ currencyType }} - 700{{ currencyType }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="ms-4"></div>
  </div>
</div>
