<div class="row g-4 mb-5">
  <div class="col-12">
    <div class="d-flex justify-content-between">
      <h4 class="mb-0">Popular Hotels</h4>
      <a href="javascript:void(0);" class="btn btn-primary-soft mb-0"
        >View All</a
      >
    </div>
  </div>
  @for (item of allPopularHotels; track $index) {
    <div class="col-lg-6">
      <div class="card shadow p-3">
        <div class="row g-4">
          <div class="col-md-3">
            <img [src]="item.image" class="rounded-2" alt="Card image" />
          </div>

          <div class="col-md-9">
            <div
              class="card-body position-relative d-flex flex-column p-0 h-100"
            >
              <div
                class="list-inline-item dropdown position-absolute top-0 end-0"
                ngbDropdown
              >
                <a
                  href="javascript:void(0);"
                  class="btn btn-sm btn-round btn-light arrow-none"
                  role="button"
                  ngbDropdownToggle
                  id="dropdownAction1"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="bi bi-three-dots-vertical"></i>
                </a>
                <ul
                  class="dropdown-menu dropdown-menu-end min-w-auto shadow"
                  aria-labelledby="dropdownAction1"
                  ngbDropdownMenu
                >
                  <li>
                    <a class="dropdown-item small" href="javascript:void(0);"
                      ><i class="bi bi-info-circle me-2"></i>Report</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item small" href="javascript:void(0);"
                      ><i class="bi bi-slash-circle me-2"></i>Disable</a
                    >
                  </li>
                </ul>
              </div>

              <h5 class="card-title mb-0 me-5">
                <a routerLink="/hotels/detail">{{ item.name }}</a>
              </h5>
              <small
                ><i class="bi bi-geo-alt me-2"></i>{{ item.address }}</small
              >

              <div
                class="d-sm-flex justify-content-sm-between align-items-center mt-3 mt-md-auto"
              >
                <div class="d-flex align-items-center">
                  <h5 class="fw-bold mb-0 me-1">
                    {{ currencyType }}{{ item.price }}
                  </h5>
                  <span class="mb-0 me-2">/day</span>
                </div>
                <div class="hstack gap-2 mt-3 mt-sm-0">
                  <a
                    href="javascript:void(0);"
                    class="btn btn-sm btn-primary-soft px-2 mb-0"
                    ><i class="bi bi-pencil-square fa-fw"></i
                  ></a>
                  <a
                    href="javascript:void(0);"
                    class="btn btn-sm btn-danger-soft px-2 mb-0"
                    ><i class="bi bi-slash-circle fa-fw"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>
