<div class="card bg-transparent" id="room-options">
  <div class="card-header border-bottom bg-transparent px-0 pt-0">
    <div class="d-sm-flex justify-content-sm-between align-items-center">
      <h3 class="mb-2 mb-sm-0">Room Options</h3>

      <div class="col-sm-4">
        <form class="form-control-bg-light">
          <select
            selectFormInput
            [options]="{ searchEnabled: false }"
            class="form-select form-select-sm js-choice border-0"
          >
            <option value="">Select Option</option>
            <option>Recently search</option>
            <option>Most popular</option>
            <option>Top rated</option>
          </select>
        </form>
      </div>
    </div>
  </div>

  <div class="card-body pt-4 p-0">
    <div class="vstack gap-4">
      @for (data of roomList; track $index) {
        <div class="card shadow p-3">
          <div class="row g-4">
            <div class="col-md-5 position-relative">
              <div class="position-absolute top-0 start-0 z-index-1 mt-3 ms-4">
                <div class="badge text-bg-danger">{{ data.sale }}</div>
              </div>

              <div
                class="tiny-slider arrow-round arrow-xs arrow-dark overflow-hidden rounded-2"
              >
                <div class="tiny-slider-inner">
                  <ng-tiny-slider [config]="roomSliderStting" #roomSlider>
                    @for (img of data.images; track $index) {
                      <div><img [src]="img" alt="Card image" /></div>
                    }
                  </ng-tiny-slider>
                </div>
              </div>

              <a
                class="btn btn-link text-decoration-underline p-0 mb-0 mt-1"
                (click)="openDetail(roomDetail, data)"
                ><i class="bi bi-eye-fill me-1"></i>View more details</a
              >
            </div>

            <div class="col-md-7">
              <div class="card-body d-flex flex-column h-100 p-0">
                <h5 class="card-title">
                  <a href="javascript:void(0);">{{ data.name }}</a>
                </h5>

                <ul class="nav nav-divider mb-2">
                  @for (feature of data.features; track $index) {
                    @if ($index < 3) {
                      <li class="nav-item">{{ feature }}</li>
                    } @else {
                      <li class="nav-item">
                        <a href="javascript:void(0);" class="mb-0 text-primary"
                          >More+</a
                        >
                      </li>
                    }
                  }
                </ul>

                <p
                  class="mb-0"
                  [ngClass]="
                    data.schemes == 'Non Refundable'
                      ? 'text-danger'
                      : 'text-success'
                  "
                >
                  {{ data.schemes }}
                </p>

                <div
                  class="d-sm-flex justify-content-sm-between align-items-center mt-auto"
                >
                  <div class="d-flex align-items-center">
                    <h5 class="fw-bold mb-0 me-1">
                      {{ currencyType }}{{ data.price }}
                    </h5>
                    <span class="mb-0 me-2">/day</span>
                    @if (data.sale) {
                      <span class="text-decoration-line-through mb-0"
                        >{{ currencyType }}1000</span
                      >
                    }
                  </div>

                  <div class="mt-3 mt-sm-0">
                    <a
                      href="javascript:void(0);"
                      class="btn btn-sm btn-primary mb-0"
                      >Select Room</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>

<ng-template #roomDetail let-modal>
  <div class="modal-header p-3">
    <h5 class="modal-title mb-0" id="roomDetailLabel">Room detail</h5>
    <button type="button" class="btn-close" (click)="modal.close()"></button>
  </div>

  <div class="modal-body p-0">
    <div class="card bg-transparent p-3">
      <div class="tiny-slider arrow-round arrow-dark overflow-hidden rounded-2">
        <div
          class="tiny-slider-inner rounded-2 overflow-hidden"
          data-autoplay="true"
          data-arrow="true"
          data-dots="false"
          data-items="1"
        >
          <ng-tiny-slider [config]="roomSliderStting" #roomSlider>
            <div>
              <img
                src="assets/images/gallery/16.jpg"
                class="rounded-2"
                alt="Card image"
              />
            </div>

            <div>
              <img
                src="assets/images/gallery/15.jpg"
                class="rounded-2"
                alt="Card image"
              />
            </div>

            <div>
              <img
                src="assets/images/gallery/13.jpg"
                class="rounded-2"
                alt="Card image"
              />
            </div>

            <div>
              <img
                src="assets/images/gallery/12.jpg"
                class="rounded-2"
                alt="Card image"
              />
            </div>
          </ng-tiny-slider>
        </div>
      </div>

      <div class="card-header bg-transparent pb-0">
        <h3 class="card-title mb-0">{{ hotelroomDetail.name }}</h3>
      </div>

      <div class="card-body">
        <p>
          Club rooms are well furnished with air conditioner, 32 inch LCD
          television and a mini bar. They have attached bathroom with showerhead
          and hair dryer and 24 hours supply of hot and cold running water.
          Complimentary wireless internet access is available. Additional
          amenities include bottled water, a safe and a desk.
        </p>

        <div class="row">
          <h5 class="mb-0">Amenities</h5>

          <div class="col-md-6">
            <ul class="list-group list-group-borderless mt-2 mb-0">
              <li class="list-group-item d-flex mb-0">
                <i class="fa-solid fa-check-circle text-success me-2"></i
                ><span class="h6 fw-light mb-0">Swimming pool</span>
              </li>
              <li class="list-group-item d-flex mb-0">
                <i class="fa-solid fa-check-circle text-success me-2"></i
                ><span class="h6 fw-light mb-0">Spa</span>
              </li>
              <li class="list-group-item d-flex mb-0">
                <i class="fa-solid fa-check-circle text-success me-2"></i
                ><span class="h6 fw-light mb-0">Kids play area.</span>
              </li>
              <li class="list-group-item d-flex mb-0">
                <i class="fa-solid fa-check-circle text-success me-2"></i
                ><span class="h6 fw-light mb-0">Gym</span>
              </li>
            </ul>
          </div>

          <div class="col-md-6">
            <ul class="list-group list-group-borderless mt-2 mb-0">
              <li class="list-group-item d-flex mb-0">
                <i class="fa-solid fa-check-circle text-success me-2"></i
                ><span class="h6 fw-light mb-0">TV</span>
              </li>
              <li class="list-group-item d-flex mb-0">
                <i class="fa-solid fa-check-circle text-success me-2"></i
                ><span class="h6 fw-light mb-0">Mirror</span>
              </li>
              <li class="list-group-item d-flex mb-0">
                <i class="fa-solid fa-check-circle text-success me-2"></i
                ><span class="h6 fw-light mb-0">AC</span>
              </li>
              <li class="list-group-item d-flex mb-0">
                <i class="fa-solid fa-check-circle text-success me-2"></i
                ><span class="h6 fw-light mb-0">Slippers</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
