<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bg-light rounded-3 p-5">
          <h5 class="text-center mb-4 mb-md-5">
            Trusted by more than 900 companies around the world
          </h5>

          <div class="tiny-slider arrow-round">
            <div class="tiny-slider-inner">
              <ng-tiny-slider [config]="clientSliderSetting" #clientSlider>
                <div class="item">
                  <img src="assets/images/client/01.svg" alt="" />
                </div>
                <div class="item">
                  <img src="assets/images/client/02.svg" alt="" />
                </div>
                <div class="item">
                  <img src="assets/images/client/08.svg" alt="" />
                </div>
                <div class="item">
                  <img src="assets/images/client/05.svg" alt="" />
                </div>
                <div class="item">
                  <img src="assets/images/client/06.svg" alt="" />
                </div>
                <div class="item">
                  <img src="assets/images/client/03.svg" alt="" />
                </div>
              </ng-tiny-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
