<div class="navbar-collapse collapse" id="navbarCollapse">
<!--  @if (startBookingMenu) {-->
<!--  <ul class="navbar-nav navbar-nav-scroll me-auto">-->
<!--    <li ngbDropdown class="nav-item dropdown">-->
<!--      <a ngbDropdownToggle class="nav-link dropdown-toggle arrow-none rounded px-3 py-3 py-xl-0 flex-centered gap-1" id="categoryMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--        <span class="me-auto items-center gap-1">-->
<!--          <i class="fa-solid fa-suitcase-rolling"></i>-->
<!--          Travelers-->
<!--        </span>-->
<!--        <i class="fa-solid fa-angle-down" style="font-size: small"></i>-->
<!--      </a>-->
<!--      <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="categoryMenu">-->
<!--        @for (item of bookingHomeMenuItems; track $index) {-->
<!--        <li class="mb-1">-->
<!--          <a [routerLink]="item.url" [class]="-->
<!--                  'dropdown-item bg-light-hover d-flex align-items-center rounded p-2' +-->
<!--                  getActiveClass(item)-->
<!--                ">-->
<!--            <div class="icon-md bg-primary bg-opacity-10 rounded text-primary flex-shrink-0">-->
<!--              <i class="{{ item.icon }}"></i>-->
<!--            </div>-->
<!--            <div class="ms-2">-->
<!--              <h6 class="mb-0">{{ item.label }}</h6>-->
<!--              <p class="small mb-0 text-body">Small description here</p>-->
<!--            </div>-->
<!--          </a>-->
<!--        </li>-->
<!--        }-->
<!--      </ul>-->
<!--    </li>-->
<!--  </ul>-->
<!--  }-->

<!--  <ul class="navbar-nav navbar-nav-scroll {{ menuClassName }}">-->
<!--    @for (item of menuItems; track $index) {-->
<!--    @if (item.children) {-->
<!--    <horizontal-menu-item-with-children [item]="item" [activeMenuItems]="this.activeMenuItems" [level]="1" [itemClassName]="'nav-item'" [linkClassName]="-->
<!--            'nav-link arrow-none d-flex align-items-center gap-1 justify-content-between' +-->
<!--            getActiveClass(item)-->
<!--          " />-->
<!--    } @else {-->
<!--    <horizontal-menu-item [item]="item" [level]="1" [linkClassName]="getActiveClass(item)" />-->
<!--    }-->
<!--    }-->

<!--    @if (showExtraPages) {-->
<!--    <li ngbDropdown class="nav-item dropdown">-->
<!--      <a ngbDropdownToggle class="nav-link arrow-none" id="advanceMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--        <i class="fa-solid fa-ellipsis"></i>-->
<!--      </a>-->
<!--      <ul ngbDropdownMenu class="dropdown-menu min-w-auto" data-bs-popper="none">-->
<!--        <li>-->
<!--          <a class="dropdown-item" href="mailto:stackbros07@gmail.com">-->
<!--            <i class="text-warning fa-fw bi bi-life-preserver me-2"></i>Support-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a class="dropdown-item" href="https://booking-ng.vercel.app/docs/index.html" target="_blank">-->
<!--            <i class="text-danger fa-fw bi bi-card-text me-2"></i>Documentation-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <hr class="dropdown-divider" />-->
<!--        </li>-->
<!--        <li>-->
<!--          <a class="dropdown-item" [href]="credits.buyLink" target="_blank">-->
<!--            <i class="text-success fa-fw bi bi-cloud-download-fill me-2"></i>Buy Booking!-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <hr class="dropdown-divider" />-->
<!--        </li>-->
<!--        <li>-->
<!--          <a class="dropdown-item" href="https://booking-ng.vercel.app/docs/font-icons.html" target="_blank">-->
<!--            <i class="text-orange fa-fw bi bi-puzzle-fill me-2"></i>Components-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </li>-->
<!--    }-->
<!--    @if (showContactPages) {-->
<!--    <li class="nav-item">-->
<!--      <a class="nav-link" routerLink="/pages/contact">Contact Us</a>-->
<!--    </li>-->
<!--    }-->
<!--  </ul>-->
</div>
