<div class="card border">
  <div class="card-header border-bottom">
    <h5 class="card-title mb-0">Price Summary</h5>
  </div>

  <div class="card-body">
    <ul class="list-group list-group-borderless">
      <li
        class="list-group-item d-flex justify-content-between align-items-center pt-0"
      >
        <span class="h6 fw-light mb-0">Base Price</span>
        <span class="fs-5">{{ currencyType }}28,660</span>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <span class="h6 fw-light mb-0"
          >Total Discount<span class="badge text-bg-danger smaller mb-0 ms-2"
            >10% off</span
          ></span
        >
        <span class="fs-5 text-success">-{{ currencyType }}2,560</span>
      </li>
      <li
        class="list-group-item d-flex justify-content-between align-items-center pb-0"
      >
        <span class="h6 fw-light mb-0">Taxes % Fees</span>
        <span class="fs-5">{{ currencyType }}350</span>
      </li>
    </ul>
  </div>

  <div class="card-footer border-top">
    <div class="d-flex justify-content-between align-items-center">
      <span class="h5 mb-0">Payable Now</span>
      <span class="h5 mb-0">{{ currencyType }}22,500</span>
    </div>
  </div>
</div>
