<div class="card bg-light overflow-hidden px-sm-5">
  <div class="row align-items-center g-4">
    <div class="col-sm-9">
      <div class="card-body">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-dots mb-0">
            <li class="breadcrumb-item">
              <a routerLink="/"><i class="bi bi-house me-1"></i> Home</a>
            </li>
            <li class="breadcrumb-item">Hotel detail</li>
            <li class="breadcrumb-item active">Booking</li>
          </ol>
        </nav>

        <h1 class="m-0 h2 card-title">Review your Booking</h1>
      </div>
    </div>

    <div class="col-sm-3 text-end d-none d-sm-block">
      <img src="assets/images/element/17.svg" class="mb-n4" alt="" />
    </div>
  </div>
</div>
